@(acts: List[core.models.activity.Activity])


@if(acts != null) {
  <ul class="timeline">
  @for(i <- 0 to acts.size - 1) {

  @if(i == 0 || restoran.utils.DateTimeHelper.notSameDay(acts.get(i - 1).date, acts.get(i).date)) {
    <li class="time-label">
        <span class="bg-blue labelDate">@acts.get(i).date.getTime</span>
    </li>
  }

    <li>
    	@defining(acts.get(i).verb) { verb =>
    		@verb match {
  			  case "create" => {
  			    <i class="fa fa-plus bg-aqua"></i>
  			  }
  			  case "edit" => {
  			    <i class="fa fa-pencil bg-green"></i>
  			  }
  			  case "delete" => {
  			    <i class="fa fa-times bg-red"></i>
  			  }
    		}
      }
        <div class="timeline-item">
        	<span><img src="@restoran.routes.Assets.at("images/avatar3.png")" class="img-circle" alt="User Image" style="float:left;width:25px;height:25px;"/></span>	
          <span class="time"><i class="fa fa-clock-o"></i> <span class="activitDate">@acts.get(i).date.getTime</span></span>
          <h4 class="timeline-header"><a href="#">@acts.get(i).actor().displayName</a> @Messages(acts.get(i).verb) @Messages(acts.get(i).subject().objectType)</h4>
          <div class="timeline-body">
              @acts.get(i).subject().displayName
          </div>
        </div>
    </li>
    }
  </ul>
}