@(groupname: String, page: Int = 0, pageSize: Int = 10)

@import templates._

@import restoran.views.html.main

@main(groupname=groupname, nav="contacts", scripts=scripts, styles=styles) {
	<section class="content-header">
    <h1>@Messages("menu.contacts")</h1>
    <ol class="breadcrumb">
        <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
        <li class="active">@Messages("menu.contacts")</li>
    </ol>
  </section>

  <section class="content-navbar">
		<div class="nav-pills-custom">
	    <ul class="nav nav-pills">
	      <li class="active"><a href="@restoran.controllers.routes.Contacts.index(groupname)">@Messages("menu.main")</a></li>
	    </ul>
	  </div>
	</section>

  <section class="content">
    <div class="mailbox row">
      <div class="col-xs-12">
        <div class="box box-solid">
          <div class="box-body">
            <div class="row">
              <div class="col-md-9 col-sm-8">
                <div class="row pad">
	                <div class="col-sm-6 search-form">
                    <div class="input-group">                                                            
	                    <input type="text" class="form-control input-sm" placeholder="@Messages("action.search")" id="filter">
                      <div class="input-group-addon bg-blue" style="border-color:#0073b7;">
                        <i class="fa fa-search"></i>
                      </div>
                    </div>
                  </div>
	              </div>
        	      <div class="table-responsive">
                  <table class="table table-mailbox" id="itemsTable">
                    <thead style="border-top:1px solid #ddd;">
											<tr><th>@Messages("contacts.name")</th>
											<th>@Messages("contacts.tags")</th>
											<th>@Messages("contacts.mobile")</th>
											<th>@Messages("contacts.telephone")</th>
											<th>@Messages("contacts.address")</th></tr>
										</thead>
                  </table>
                </div>
              </div>
              <div class="col-md-3">
              	<div class="box-header">
              		<i class="fa fa-plus"></i>
              		<h3 class="box-title">@Messages("contacts.add")</h3>
              	</div>
								<form class="form itemform" role="form">
						  		<div class="form-group">
								    <label class="control-label" for="firstname">@Messages("contacts.firstname")</label>
								    <input type="text" id="firstname" class="form-control input-sm" name="firstname" placeholder="@Messages("contacts.firstname.enter")" required>
								  </div>
								  <div class="form-group">
								    <label class="control-label" for="lastname">@Messages("contacts.lastname")</label>
								    <input type="text" id="lastname" class="form-control input-sm" name="lastname" placeholder="@Messages("contacts.lastname.enter")">
								  </div>
						  		<div id="mobiles">
						  			<div class="form-group">
											<label class="control-label" for="mobile">@Messages("contacts.mobile")</label><a href="#" class="addMobile btn btn-default btn-xs pull-right"><i class="fa fa-plus"></i></a>
								  		<input type="text" class="form-control input-sm" data-inputmask='"mask": "+7 (799) 999-99-99"' data-mask name="mobile[0]" placeholder="@Messages("contacts.mobile.enter")" required>
										</div>
						  		</div>

						  		<div class="form-group">
										<label class="control-label" for="telephone">@Messages("contacts.telephone")</label>
							  		<input type="text" class="form-control input-sm" data-inputmask='"mask": "+7 (7132) 99-99-99"' data-mask name="telephone" placeholder="@Messages("contacts.telephone.enter")">
									</div>

						  		<div class="form-group">
						  			<label class="control-label" for="address">@Messages("contacts.address")</label>
						    		<input type="text" class="form-control input-sm" name="address" id="address" placeholder="@Messages("contacts.address.enter")">
						  		</div>
						  		<div class="form-group">
						  			<label class="control-label" for="tags">@Messages("contacts.tags")</label>
						    		<input type="text" class="form-control input-sm" name="tags" id="tags" placeholder="@Messages("contacts.tags.enter")" required>
						  		</div>
						  		
								  <button type="submit" class="btn btn-success btn-block"><i class="fa fa-plus"></i> @Messages("action.add")</button>
								</form>
              </div>
            </div>
          </div>
        </div>
	    </div>
    </div>
	</section>

	<script type="text/template" id="template-mobile">
		<div class="form-group">
			<label class="control-label" for="mobile">@Messages("contacts.mobile") <%= mobs +1 %></label>
  		<input type="text" class="form-control input-sm" data-inputmask='"mask": "+7 (799) 999-99-99"' data-mask name="mobile[<%= mobs %>]" placeholder="@Messages("contacts.mobile.enter") <%= mobs +1 %>">
		</div>
	</script>


}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/jquery.dataTables.js")"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/dataTables.bootstrap.js")"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/select/select2.min.js")"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/input-mask/jquery.inputmask.js")"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/input-mask/jquery.inputmask.extensions.js")"></script>
	<script>

		var mobTmpl,
			vals = {
				mobs: 1
			};

		$(document).ready(function(e) {
			mobTmpl = _.template($('#template-mobile').html());
			$("[data-mask]").inputmask();
		});

		$(".addMobile").on("click", function (e) {
			e.preventDefault();
			addMobile();
		});

		function addMobile() {
			$("#mobiles").append(mobTmpl(vals));
			vals.mobs++;
			$("[data-mask]").inputmask();
		}


		var dataTable = $("#itemsTable").dataTable({
			"bProcessing": true,
			"bServerSide": true,
			"sAjaxSource": "@restoran.controllers.routes.Contacts.search(groupname)",
			"sDom":"t<'row'<'col-sm-12'p>>",
			"oLanguage": {
	      "oPaginate": {
	        "sNext": "@Messages("page.next")",
	        "sPrevious": "@Messages("page.prev")"
	      }
	    },
	    "iDisplayLength": @pageSize,
	    "iDisplayStart": @(page*pageSize)
		});

		$("#filter").keyup(function() {
			dataTable.fnFilter(this.value);
		});

		$(".itemform").on('submit', function (e) {
			e.preventDefault();

			var form = $(e.target),
					firstname = form.find("input#firstname").val(),
					lastname = form.find("input#lastname").val(),
					mobile = form.find("input#mobile").val(),
					telephone = form.find("input#telephone").val(),
					address = form.find("input#address").val(),
					tags = form.find("input#tags").val();

			// data: {
			// 		firstname: firstname,
			// 		lastname: lastname,
			// 		mobile: mobile,
			// 		telephone: telephone,
			// 		address: address,
			// 		tags: tags,
			// 	},

			jsRoutes.restoran.controllers.Contacts.add("@groupname").ajax({
				data: form.serializeArray(),
				success: function() {
					$(form).trigger("reset");
					dataTable.fnFilter('');
				}
	    });
		});
	</script>	
}

@styles = {
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/dataTables/dataTables.bootstrap.css")">
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.css")" />
  <link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.custom.css")" />
}