@(groupname: String, item: restoran.models.Banket, frm: Form[restoran.controllers.Bankets.ContactForm])

@import restoran.views.html.bankets.banket_template
@import html5.tags.html._
@import core.views.html.helpers.twitterBootstrap._

@styles = {

}

@scripts = {
<script src="@restoran.routes.Assets.at("javascripts/libs/input-mask/jquery.inputmask.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/input-mask/jquery.inputmask.extensions.js")"></script>
<script>
	var mobTmpl,
			vals = {
				mobs: 1
			};

		$(document).ready(function(e) {
			mobTmpl = _.template($('#template-mobile').html());
			$("[data-mask]").inputmask();
			vals.mobs = $(".mobile").length;

			console.log(vals.mobs);
		});

		$(".addMobile").on("click", function (e) {
			e.preventDefault();
			addMobile();
		});

		function addMobile() {
			$("#mobiles").append(mobTmpl(vals));
			vals.mobs++;
			$("[data-mask]").inputmask();
		}
	
</script>
}

@banket_template(groupname=groupname, nav="main", scripts=scripts, styles=styles, item=item) {

	<div class="row"><div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
	<div class="box box-solid">
		<div class="box-header"><i class="fa fa-book"></i> <h3 class="box-title">@Messages("bankets.contacts")</h3></div>
		<div class="box-body">
			<form class="form itemform" role="form" action="@restoran.controllers.routes.Bankets.saveContact(groupname, item.id)" method="POST">
				<div class="row">
					<div class="col-md-6">
			  		<div class="form-group">
					    <label class="control-label" for="firstname">@Messages("contacts.firstname")</label>
					    <input type="text" id="firstname" class="form-control input-sm" name="firstname" placeholder="@Messages("contacts.firstname.enter")" value="@frm.data.get("firstname")" required>
					  </div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					    <label class="control-label" for="lastname">@Messages("contacts.lastname")</label>
					    <input type="text" id="lastname" class="form-control input-sm" name="lastname" placeholder="@Messages("contacts.lastname.enter")" value="@frm.data.get("lastname")" required>
					  </div>
					</div>
				</div>

	  		<div class="row">
	  			<div class="col-md-4">
	  				
					  <div class="form-group @("has-error".when(frm.error("iin") != null))">
			  			<label class="control-label" for="iin">@Messages("contacts.iin")</label>
			    		<input type="text" class="form-control input-sm" name="iin" id="iin" placeholder="@Messages("contacts.iin.enter")" data-inputmask='"mask": "999999999999"' data-mask value="@frm.data.get("iin")">
			    		@if(frm.error("iin") != null) { <span class="help-block">@frm.error("iin").message</span> }
			  		</div>
	  			</div>
	  			<div class="col-md-4" id="mobiles">

	  				<div class="form-group">
							<label class="control-label" for="mobile">@Messages("contacts.mobile")</label><a href="#" class="addMobile btn btn-default btn-xs pull-right"><i class="fa fa-plus"></i></a>
				  		<input type="text" class="form-control input-sm mobile" data-inputmask='"mask": "+7 (799) 999-99-99"' data-mask name="mobile[0]" placeholder="@Messages("contacts.mobile.enter")" value="@frm("mobile[0]").value" required>
						</div>
					
	  	@if(frm("mobile").indexes.size > 1) {
	  		@for(i <- 1 until frm("mobile").indexes.size) {
	  			@defining(frm("mobile[" + i + "]")) { mobiles =>
	  				<div class="form-group">
							<label class="control-label" for="mobile">@Messages("contacts.mobile") @(i+1)</label>
				  		<input type="text" class="form-control input-sm mobile" data-inputmask='"mask": "+7 (799) 999-99-99"' data-mask name="@mobiles.name" placeholder="@Messages("contacts.mobile.enter")" value="@mobiles.value">
						</div>
	  			}
	  		}
	  	}		
	  			</div>
	  			<div class="col-md-4">
	  				<div class="form-group">
			  			<label class="control-label" for="telephone">@Messages("contacts.telephone")</label>
			    		<input type="text" class="form-control input-sm" data-inputmask='"mask": "+7 (7132) 99-99-99"' data-mask name="telephone" id="telephone" placeholder="@Messages("contacts.telephone.enter")" value="@frm.data.get("telephone")">
			  		</div>
	  			</div>
	  		</div>
	  		
	  		<a href="@restoran.controllers.routes.Bankets.selectContact(groupname, item.id)" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i> @Messages("action.cancel")</a>
			  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @Messages("action.save")</button>
			</form>
		</div>
	</div>
    
	</div></div>

	<script type="text/template" id="template-mobile">
		<div class="form-group">
			<label class="control-label" for="mobile">@Messages("contacts.mobile") <%= mobs +1 %></label>
  		<input type="text" class="form-control input-sm" data-inputmask='"mask": "+7 (799) 999-99-99"' data-mask name="mobile[<%= mobs %>]" placeholder="@Messages("contacts.mobile.enter") <%= mobs +1 %>">
		</div>
	</script>
}