@(groupname: String, item: restoran.models.Banket, profile: restoran.models.Profile, contact: restoran.models.Contact)

@import restoran.views.html.bankets.banket_template

@styles = {
<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/dataTables/dataTables.bootstrap.css")">
}

@scripts = {
<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/jquery.dataTables.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/dataTables.bootstrap.js")"></script>

<script>
	var dataTable = $("#itemsTable").dataTable({
		"bProcessing": true,
		"bServerSide": true,
		stateSave: true,
		"sAjaxSource": "@restoran.controllers.routes.Bankets.searchContacts(groupname)",
		"sDom":"t<'row'<'col-sm-12'p>>",
		"oLanguage": {
      "oPaginate": {
        "sNext": "@Messages("page.next")",
        "sPrevious": "@Messages("page.prev")"
      }
    }
	});

	$("#filter").keyup(function() {
		dataTable.fnFilter(this.value);
	});

	$('#itemsTable tbody').on( 'click', 'tr', function () {
    if ( $(this).hasClass('selected') ) {
      $(this).removeClass('selected');
      $("#selectBtn").addClass("disabled");
      $("input#contact").val('');
    } else {
      dataTable.$('tr.selected').removeClass('selected');
      $(this).addClass('selected');
      $("#selectBtn").removeClass("disabled");
      $("input#contact").val($(this).attr('id'));
    }
  });

  @if(profile != null && contact != null) {
  	// dataTable.fnFilter("@profile.lastname.toLowerCase()");
  	$("#filter").val("@profile.lastname.toLowerCase()");
  	setTimeout(function() {
  		$('tr#@contact.id').addClass('selected');	
  	}, 500);
  	
  }
</script>
}

@banket_template(groupname=groupname, nav="main", scripts=scripts, styles=styles, item=item) {

	<div class="row"><div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
	<div class="box box-solid">
		<div class="box-header"><i class="fa fa-book"></i> <h3 class="box-title">@Messages("bankets.contacts")<small> @Messages("bankets.contacts.select.msg")</small></h3></div>
		<div class="box-body">
			
			<div class="row pad">
        <div class="col-sm-6 search-form">
          <div class="input-group">                                                            
            <input type="text" class="form-control input-sm" placeholder="@Messages("action.search")" id="filter">
            <div class="input-group-addon bg-blue" style="border-color:#0073b7;">
              <i class="fa fa-search"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-mailbox" id="itemsTable">
          <thead style="border-top:1px solid #ddd;">
						<tr><th>@Messages("contacts.name")</th>
						<th>@Messages("contacts.iin")</th>
						<th>@Messages("contacts.mobile")</th>
						<th>@Messages("contacts.telephone")</th>
						<th>@Messages("contacts.address")</th></tr>
					</thead>
					<tbody></tbody>
        </table>
      </div>

			
		</div>
		<div class="box-footer">
			<form action="@restoran.controllers.routes.Bankets.selectContact(groupname, item.id)" method="POST">
				<input type="hidden" id="contact" name="contact" required>
				<button type="submit" class="btn btn-primary disabled" id="selectBtn"><i class="fa fa-user"></i> @Messages("bankets.contacts.select.btn")</button>
				<a href="@restoran.controllers.routes.Bankets.addContact(groupname, item.id)" class="btn btn-warning pull-right"><i class="fa fa-plus"></i> @Messages("bankets.contacts.new")</a>
			</form>
			
		</div>
	</div>
    
	</div></div>
}