#clndr {
  width: 100%;
  margin: 0 auto;
}

/* Calendar Controls */
.clndr .clndr-controls {
  /*background: #fff;*/
  padding: 0px 10px 0px 20px;
  /*border-top: 5px solid #ef4f69;
  border-bottom: 1px solid #ddd;*/
  /*height: 70px;*/
  position: relative;
}

.list-inline {
  margin-top: 3px;
}

.clndr .clndr-controls .month {
  color: #495468;
  font-weight: 200;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: capitalize;
}

.clndr .clndr-controls .year {
  font-size: 12px;
  font-weight: 700;
  color: #b7bbc2;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
}

/* Calendar Control Buttons */
.clndr-controls nav span {
  position: absolute;
  top: 17px;
  width: 30px;
  height: 30px;
  color: #ef4f69;
  margin: 0 1px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

.previous-button, .next-button, .today-button {
  font-size: 20px;
  color: #ef4f69;
}

.today-button {
  background-color: #ef4f69;
  color: #fff;
}

.previous-button:hover, .next-button:hover, .today-button:hover {
  color: #495468;
}

#clndr2 .today-button {
  left: 5px;
}


/* Calendar Grid */
.clndr-grid {
  text-align: center;
  display: inline-block;
  /*padding: 30px;*/
  /*background: #f6f6f6;*/
  /*box-shadow: 0px 0px 6px 1px #ccc;*/
  width: 100%;
}

/* Calendar Grid Header */
.clndr-grid .clndr-head {
  background: transparent;
  color: #ef4f69;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.clndr-grid .header-day {
  float: left;
  width: -moz-calc(100%/7);
  width: -webkit-calc(100%/7);
  width: calc(100%/7);
  height: 25px;
}

/* Calendar Grid Body */
.clndr-body {
  position: relative;
  width: 100%;
  height: -moz-calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
  height: calc(100% - 30px);
  /*border: 1px solid #ddd;*/
}

.clndr-body .clndr-body-row:last-child {
  border-bottom: none;
}

/* Calendar Body Day */
.clndr-body .clndr-body-row > div {
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 4px;
  overflow: hidden;
  position: relative;
  float: left;
  height: 100%;
  width: 14.28%;
  width: -moz-calc(100%/7);
  width: -webkit-calc(100%/7);
  width: calc(100%/7);
  position: relative;
}

.clndr-body .clndr-body-row {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.clndr-body .clndr-body-row > div:last-child {
  border-right: none;
}

.clndr-body .clndr-body-row .day .clndr-date {
  font-size: 18px;
  color: #686a6e;
  font-weight: 400;
  pointer-events: none;
}

.clndr-body .clndr-body-row .clndr-date-info .clndr-week {
  display: none;
}

/* Calendar Day Event */
.clndr-body .clndr-body-row .day .clndr-event {
  margin: 1px auto;
  color: #DDD;
  font-size: 10px;
}

.clndr-body .clndr-body-row .day:hover{
  background-color: #eee;
}

.clndr-body .clndr-body-row .day.event:hover .clndr-event{
  color: #ef4f69;
}

.clndr-body .clndr-body-row .today:hover {
  background-color: #ef4f69;
  filter: alpha(opacity=100);
  opacity: 1;
}

.clndr-body .clndr-body-row .today.event:hover .clndr-event{
  color: #fff;
}

.clndr-body .clndr-body-row .day .clndr-event > i {
  padding: 0 1px 1px 0;
}

.clndr-body .clndr-body-row .day.is-selected, .clndr-body .clndr-body-row .day.is-selected div {
  background-color: #ddd;
  color: #ef4f69;
}

.clndr-body .clndr-body-row .day.today.is-selected, .clndr-body .clndr-body-row .day.today.is-selected div {
  background-color: #ef4f69;
  color: #fff;
  filter: alpha(opacity=100);
  opacity: 1;
}

/* Calendar Another Month Day */
.clndr-body .clndr-body-row .adjacent-month {
  background: transparent;
}

.clndr-body .clndr-body-row .adjacent-month .clndr-date {
  color: #ddd;
}

/* Calendar Today */
.clndr-body .clndr-body-row .today {
  background: #ef4f69;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -ms-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;

}

.clndr-body .clndr-body-row .today .clndr-date {
  color: #fff;
}

.clndr-event-item {
  display: none;
}

@media screen and (max-width: 600px) {
  .clndr > div {
    padding: 0;
  }

  .clndr .clndr-controls {
    left: 0;
    width: 100%;
    z-index: 2;
  }

  /* Calendar Grid */
  .clndr-grid {
    text-align: center;
    display: inline-block;
    padding: 0px;
    background: none;
    width: 100%;
    margin-top: 5px;
    box-shadow: none;
  }

  /* Calendar Grid Header */
  .clndr-grid .clndr-head {
    display: none;
    height: 0px;
  }

  .clndr-body, .clndr-body .clndr-body-row {
    height: auto;
    border: none;
    background: none;
  }

  .clndr-body .clndr-body-row > div {
    min-height: 70px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  .clndr-body .clndr-body-row .adjacent-month {
    display: none;
  }

  .clndr-body .clndr-date-info {
    float: left;
    width: 10%;
  }

  .clndr-body .clndr-events {
    display: table;
    padding: 7px 0 7px 0;
    width: 90%;
  }

  .clndr-body .clndr-events .clndr-event {
    display: none;  
  }

  .clndr-body .clndr-events .clndr-event-item {
    float: left;
    text-align: left;
    width: calc(50% - 2px);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1px 6px 1px 6px;
    margin: 0 2px 2px 0;
    border-color: #ddd;
    background-color: #fff;
    color: #686a6e;
  }

  /*.clndr-body .past .clndr-events .clndr-event-item {
    border-color: #ddd;
    background-color: transparent;
    color: #686a6e;
  }

  .clndr-body .today .clndr-events .clndr-event-item {
    border-color: #F6CECE;
    background-color: #fff;
    color: #F781BE;
  }*/

  .clndr-body .clndr-body-row .day .clndr-date {
    font-size: 28px;
    color: #686a6e;
    font-weight: 200;
    width: 100%;
    text-align: center;
  }

  .clndr-body .clndr-body-row .clndr-date-info .clndr-week {
    font-size: 14px;
    color: #686a6e;
    font-weight: normal;
    font-style: italic;
    width: auto;
    display: block;
  }

  .clndr-body .clndr-body-row .calendar-dow-0 .clndr-date, .clndr-body .clndr-body-row .calendar-dow-6 .clndr-date {
    color: #ef4f69;
  }

  .clndr-body .clndr-body-row .today .clndr-date, .clndr-body .clndr-body-row .today .clndr-week {
    color: #fff;
  }

  .clndr-event-item {
    display: block;
  }
}

@media screen and (max-width: 328px) {
  .clndr-body .clndr-date-info {
    float: left;
    margin-left: -10px;
    margin-right: 10px;
    width: 15%;
  }

  .clndr-body .clndr-events {
    display: table;
    padding: 7px 0 7px 0;
    width: 85%;
  }

  .clndr-body .clndr-events .clndr-event-item {
    width: 100%;
  }
}