#fullcalendar {
	border: none;
	/* border-bottom: 1px solid #ddd; */
	/* border-top: none; */
	border-top: 5px solid #ef4f69;
	/* border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px; */
	width:100%;
	margin-bottom:10px;
}

.fc-header {
	background: #fff;
	padding: 5px 10px 10px 20px;
	height: 70px;
	position: relative;
	border: 1px solid #ddd;
	border-top: none;
}

.fc-header td {
	vertical-align: middle;
}

.fc-header h2 {
	color: #495468;
	font-weight: 300;
	font-size: 18px;
}

.fc-state-default {
	background-color: transparent;
	background-image: none;
	background-repeat: no-repeat;
	border-color: #ddd;
}

.fc-text-arrow {
	margin: 0 .1em;
	font-size: 2em;
	font-family: "Courier New", Courier, monospace;
	vertical-align: baseline; /* for IE7 */
	color: #ef4f69;
}

.fc-text-arrow:hover {
	color: #8B6F74;
}

.fc-button-prev,
.fc-button-next { /* for &lsaquo; &rsaquo; */
	border: none;
	background-color: transparent;
	background-image: none;
	outline: none;
	box-shadow: none;
}

.fc-widget-header {
	border: none;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	color: #ef4f69;
}

.fc-day:not(.fc-other-month) {
	background: #fff;
}

.fc-view-month .fc-state-highlight {
	background: #ef4f69;
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.1);
}

.fc-view-basicWeek .fc-state-highlight {
	background: #ef4f69;
}

.fc-view-basicDay .fc-state-highlight {
	background: #fff;
}

.fc-grid .fc-day-number {
	float:none;
}

.fc-day-number {
	float:none;
	text-align: center;
	/* margin: -10px 0 0 -15px; */
	color: #686a6e;
	font-weight: 400;
	font-size: 16px;
	pointer-events: none;
}

.fc-state-highlight .fc-day-number {
	color:white;
}

.fc-content {
	width: auto;
	padding: 10px;
	background: #f6f6f6;
	box-shadow: inset 0 1px rgba(255,255,255,0.8);
	border: 1px solid #ddd;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

@media screen and (max-width: 768px) {
	.fc-button-today {
		font-size: 12px;
		margin-top: 6px;
	}
}

@media screen and (max-width: 600px) {
	.fc-button-today {
		font-size: 11px;
		margin-top: 6px;
	}
	.fc .fc-header-space {
		padding-left: 0px;
	}
}