@(groupname: String, item: restoran.models.OrderTemplate, places: List[restoran.models.OrderTemplatePlace])

@import templates._
@import restoran.views.html.main
@import restoran.repos.RestoranRepo

@main(groupname=groupname, nav="orders", scripts=scripts, styles=styles) {

<section class="content-header">
  <h1>@Messages("menu.orders.templates")<small>@item.title()</small></h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li><a href="@restoran.controllers.routes.OrderTemplates.index(groupname)"><i class="fa fa-wrench"></i> @Messages("menu.orders.templates")</a></li>
      <li>@item.title()</li>
      <li class="active">@Messages("orders.templates.rules")</li>
  </ol>
</section>

<section class="content-navbar">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
      <li><a href="@restoran.controllers.routes.OrderTemplates.view(groupname,item.id)">@Messages("menu.main")</a></li>
      <li class="active"><a href="@restoran.controllers.routes.OrderTemplates.viewRules(groupname,item.id)">@Messages("orders.templates.rules")</a></li>
    </ul>
  </div>
</section>

<section class="content">
@defining(RestoranRepo.findFoodTypes) { foodTypes =>
@defining(RestoranRepo.findLocationTables) { locationTables =>
	<div class="col-md-10">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover" id="ingredientsTable">
				<thead>
					<tr>
						<th>@Messages("orders.templates.tableItem")</th>
						<th>@Messages("orders.templates.foodType")</th>
						<th>@Messages("orders.templates.places")</th>
					</tr>
				</thead>
				<tbody id="places">
				@locationTables.map { table =>
					@for(i <- 0 to foodTypes.size - 1) {
						<tr>
							@if(i == 0) {
								<td rowspan="@foodTypes.size">@table.title() на @table.peopleAmount чел. x @table.quantity (@table.location().title())</td>
							}
							<td>@foodTypes.get(i).title()</td>
							<td><a href="#" class="editPlace" data-type="number" data-pk="@item.id" data-url="@restoran.controllers.routes.OrderTemplates.updatePlace(groupname,item.id, table.id, foodTypes.get(i).id)">@restoran.models.OrderTemplatePlace.getPlace(item.id, table.id, foodTypes.get(i).id)</a></td>
						</tr>
					}
				}
				</tbody>
			</table>
		</div>
	</div>
}}
</section>
}

@scripts = {
	<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
	<script>
		$(".editPlace").editable();
	</script>
}
@styles = {
	<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
}