@(groupname: String, item: restoran.models.OrderTemplate, acts: List[core.models.activity.Activity])

@import templates._
@import restoran.views.html.main
@import restoran.views.html.activity.timeline

@main(groupname=groupname, nav="orders", scripts=scripts, styles=styles) {

<section class="content-header">
  <h1>@Messages("menu.orders.templates")<small>@item.title()</small></h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li><a href="@restoran.controllers.routes.OrderTemplates.index(groupname)"><i class="fa fa-wrench"></i> @Messages("menu.orders.templates")</a></li>
      <li class="active">@item.title()</li>
  </ol>
</section>

<section class="content-navbar">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
      <li class="active"><a href="@restoran.controllers.routes.OrderTemplates.view(groupname,item.id)">@Messages("menu.main")</a></li>
      <li><a href="@restoran.controllers.routes.OrderTemplates.viewRules(groupname,item.id)">@Messages("orders.templates.rules")</a></li>
    </ul>
  </div>
</section>

<section class="content">
<div class="row">
	<div class="col-md-8">
		@timeline(acts)
	</div>
	<div class="col-md-4">
  	<div class="box box-solid">
    	<div class="box-body">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th># @item.id</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@Messages("orders.templates.title")</td>
							<td><a class="editAttrs" href="#" data-pk="@item.id" data-type="text" data-url="@restoran.controllers.routes.OrderTemplates.editTitle(groupname,item.id)">@item.title()</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</section>
}

@scripts = {
	<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
	<script>
		$(".editAttrs").editable();
	</script>
}

@styles = {
	<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
}