@(groupname: String, frm: Form[restoran.models.Banket])

@import restoran.views.html.main

@styles = {
<link rel="stylesheet" href="@restoran.routes.Assets.at("stylesheets/libs/picker/default.css")" id="theme_base">
<link rel="stylesheet" href="@restoran.routes.Assets.at("stylesheets/libs/picker/default.date.css")" id="theme_date">
<link rel="stylesheet" href="@restoran.routes.Assets.at("stylesheets/libs/picker/default.time.css")" id="theme_time">
}

@scripts = {
<script src="@restoran.routes.Assets.at("javascripts/libs/picker/picker.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/picker/picker.date.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/picker/picker.time.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/picker/translations/ru_RU.js")"></script>

<script>
	$('input#date_').pickadate({
		formatSubmit: 'dd.mm.yyyy',
		min: true,
		hiddenSuffix: 'submit'
	});
	$('input#time').pickatime({
	    format: 'HH:i',
	    formatLabel: 'HH:i',
	    formatSubmit: 'HH:i',
	    min: [8,0],
	    max: [20,0],
	    interval: 60
	});
</script>
}

@main(groupname=groupname, nav="restoran", scripts=scripts, styles=styles) {
<section class="content-header">
  <h1>@Messages("menu.bankets")</h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li><a href="@restoran.controllers.routes.Bankets.index(groupname)">@Messages("menu.bankets")</a></li>
      <li class="active">@Messages("bankets.add")</li>
  </ol>
</section>

<section class="content">
	<div class='row'>
    <div class='col-xs-12'>
      <div class="row"><div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
      	<div class="box box-solid">
			  	<div class="box-header"><i class="fa fa-gift"></i> <h3 class="box-title">@Messages("bankets.add")</h3></div>
					<div class="box-body">@aform(frm, restoran.controllers.routes.Bankets.save(groupname))</div>
				</div>
			</div></div>
		</div>
	</div>
</section>
	
}