@(frm: Form[restoran.models.Banket], _url: play.api.mvc.Call)

@import html5.tags.html._
@import core.views.html.helpers.twitterBootstrap._

@form(action=_url, 'class->"form", 'role->"form") {
	<div class="row">
		<div class="col-xs-7 col-sm-6 col-md-6">@text(frm("date_"), '_label->Messages("bankets.date"), 'class->"form-control")</div>
		<div class="col-xs-5 col-sm-6 col-md-6">@date(frm("time"), '_label->Messages("bankets.time"), 'class->"form-control")</div>
	</div>

	@defining(restoran.controllers.Application.groups()) { groups =>
	@defining(restoran.controllers.Application.locations()) { locations =>
	@defining(restoran.controllers.Application.banketTypes()) { banketTypes =>
		
		@if(banketTypes != null && locations != null && banketTypes.size > 1 && locations.size > 1) {<div class="row">}
			
		@if(banketTypes != null && banketTypes.size > 0) {
			@if(banketTypes.size == 1) {<div class="hidden">} @if(banketTypes.size > 1 && locations.size > 1) {<div class="col-xs-12 col-sm-6 col-md-6">}
			@select(
		        frm("banketType"), 
		        options(banketTypes),
		        '_label->Messages("bankets.type"),
		        'class->"form-control"
		    )
		  @if(banketTypes.size == 1) {</div>} @if(banketTypes.size > 1 && locations.size > 1) {</div>}
		}

		@if(locations != null && locations.size > 0) {
			@if(locations.size == 1) {<div class="hidden">} @if(banketTypes.size > 1 && locations.size > 1) {<div class="col-xs-12 col-sm-6 col-md-6">}
				<div class="form-group" id="location_field">
			    <label class="control-label" for="location">@Messages("bankets.location") @frm.data.get("location")</label>
			    
			    <select id="location" name="location" class="form-control" required>
			    	<option value="">--</option>
			      @locations.map { locs =>
			      	<option value="@locs.id" @if(frm.data.size > 0) { @("selected".when(frm.data.get("location") == locs.id.toString))} else { @("selected".when( frm.get.location == locs.id)) }>@locs.title()</option>
			      }  
			    </select>
			    <span class="help-block">@Messages("constraint.required")</span> 
			</div>
		  @if(locations.size == 1) {</div>} @if(banketTypes.size > 1 && locations.size > 1) {</div>}
		}

		@if(banketTypes != null && locations != null && banketTypes.size > 1 && locations.size > 1) {</div>}
	    
    @if(groups != null && groups.size > 0) {
    	@if(groups.size == 1) {<div class="hidden">}
	    @select(
	        frm("group"), 
	        options(groups),
	        '_label->Messages("bankets.group"),
	        'class->"form-control"
	    )
	    @if(groups.size == 1) {</div>}
		}

  }}}

  <div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6">@number(frm("peopleAmount"), '_label->Messages("bankets.peopleAmount"), 'class->"form-control", 'max->350, 'min->10)</div>
		<div class="col-xs-12 col-sm-6 col-md-6">@textarea(frm("title"), '_label->Messages("bankets.title"), 'class->"form-control")</div>
	</div>


	<div class="form-group"><input type="submit" class="btn btn-primary" value="@Messages("action.save")">
	<a href="/" class="btn btn-default">@Messages("action.cancel")</a></div>
}