@(groupname: String, scripts: Html = null, styles: Html = null, item: restoran.models.Banket, nav: String = "")(content: Html)

@import restoran.views.html.main
@import restoran.views.html.bankets._
@import core.views.html.helpers._

@scripts_ = {
	@scripts
	<script type="text/javascript">
		moment.lang('ru');
		$(document).ready(function() {
			var tmp = _.template($('#navlist-template').html());
			var vars = {
				date: moment('@item.date.getTime.format("dd.MM.yyyy HH:mm")', 'DD.MM.YYYY HH:mm')
			};
			console.log(vars);
			$('#navlist').html(tmp(vars));
		});
	</script>
}

@main(groupname=groupname, scripts=scripts_, styles=styles) {
	<section class="content-header no-print">
  <h1>@Messages("menu.bankets")</h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li><a href="@restoran.controllers.routes.Bankets.index(groupname)">@Messages("menu.bankets")</a></li>
      <li class="active">@item.banketType().title() @item.peopleAmount</li>
  </ol>
</section>
<section class="content-navbar no-print">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
      <li class="@active(nav,"main")"><a href="@restoran.controllers.routes.Bankets.view(groupname,item.id)">@Messages("menu.main")</a></li>
      <li class="@active(nav,"order")"><a href="@restoran.controllers.routes.Orders.view(groupname,item.id)">@Messages("bankets.calc")</a></li>
      <li class="@active(nav,"supplies")"><a href="@restoran.controllers.routes.Orders.supplies(groupname,item.id)">@Messages("bankets.supplies")</a></li>
      <li class="@active(nav,"payments")"><a href="@restoran.controllers.routes.Orders.payments(groupname,item.id)">@Messages("bankets.payments")</a></li>
      <li class="@active(nav,"blanks")"><a href="@restoran.controllers.routes.Orders.blanks(groupname,item.id)">@Messages("bankets.blanks")</a></li>
    </ul>
  </div>
</section>

<section class="content">
	<div class='row'>
    <div class='col-xs-12'>
      @content
		</div>
	</div>
</section>

	<script type="text/template" id="navlist-template">
		<div class="sidebar-date text-center">
			<div class="date"><%= date.format("D") %></div>
			<div class="month"><%= date.format("MMMM YYYY") %></div>
			<div class="week"><%= date.format("dddd") %></div>
			<div class="day"><%= date.format("HH:mm") %></div>
		</div>
	</script>
}