@(groupname: String, frm: Form[restoran.models.Banket])

@import restoran.views.html.main

@styles = {
<link rel="stylesheet" href="@restoran.routes.Assets.at("stylesheets/libs/picker/default.css")" id="theme_base">
<link rel="stylesheet" href="@restoran.routes.Assets.at("stylesheets/libs/picker/default.date.css")" id="theme_date">
<link rel="stylesheet" href="@restoran.routes.Assets.at("stylesheets/libs/picker/default.time.css")" id="theme_time">
}

@scripts = {
<script src="@restoran.routes.Assets.at("javascripts/libs/picker/picker.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/picker/picker.date.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/picker/picker.time.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/picker/translations/ru_RU.js")"></script>

<script>
	$('input#date_').pickadate({
		formatSubmit: 'dd.mm.yyyy',
		min: true,
		hiddenSuffix: 'submit'
	});
	$('input#time').pickatime({
	    format: 'HH:i',
	    formatLabel: 'HH:i',
	    formatSubmit: 'HH:i',
	    min: [8,0],
	    max: [20,0],
	    interval: 60
	});
</script>
}

@main(groupname=groupname, nav="restoran", scripts=scripts, styles=styles) {

	<div class="row"><div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 well well-sm">
    <legend><i class="fa fa-gift"></i></a> @Messages("bankets.edit")</legend>
		@aform(frm, restoran.controllers.routes.Bankets.update(groupname, frm.get.id))
	</div></div>
	
}