@(groupname: String)
@import templates._

@import restoran.views.html.main

@main(groupname=groupname, nav="bankets", scripts=scripts, styles=styles) {
	<div class="row" id="bankets">
		<div class="col-md-8">
			<div class="form-group input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="@Messages("action.search")" id="filter">
      </div>
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover" id="banketsTable">
				<thead>
					<tr><th>@Messages("bankets.title")</th>
					<th>@Messages("bankets.date")</th>
					<th>@Messages("bankets.type")</th>
					<th>@Messages("bankets.peopleAmount")</th></tr>
				</thead>
				<tbody id="items">
				</tbody>
			</table>
		</div></div>
		<div class="col-md-4"><div class="panel panel-default">
			<div class="panel-body">
				<form class="form ingredientform" role="form">
		  		<div class="form-group">
				    <label class="control-label" for="titleru">@Messages("ingredients.title") [ru]</label>
				    <input type="text" id="titleru" class="form-control input-sm" name="titleru" placeholder="@Messages("ingredients.title.enter") [ru]" required>
				  </div>
				  <div class="form-group">
				    <label class="control-label" for="titlekk">@Messages("ingredients.title") [kk]</label>
				    <input type="text" id="titlekk" class="form-control input-sm" name="titlekk" placeholder="@Messages("ingredients.title.enter") [kk]" required>
				  </div>
				  <div class="form-group">
				    <label class="control-label" for="titleen">@Messages("ingredients.title") [en]</label>
				    <input type="text" id="titleen" class="form-control input-sm" name="titleen" placeholder="@Messages("ingredients.title.enter") [en]" required>
				  </div>
		  		<div class="form-group">
		  			<label class="control-label" for="tags">@Messages("ingredients.tags")</label>
		    		<input type="text" class="form-control input-sm" name="ingredientsTags" id="tags" placeholder="@Messages("ingredients.tags.enter")">
		  		</div>
		  		<div class="form-group">
		  			<label class="control-label" for="measureType">@Messages("ingredients.measureType")</label>
		    		<select class="form-control input-sm" name="measureType" id="measureType" placeholder="@Messages("ingredients.measureType.enter")">
		    			@*restoran.models.Item.MeasureType.values().map { measureType =>
		    				<option value="@measureType">@Messages("ingredients.measureType." + measureType)</option>
		    			}*@
		    		</select>
		  		</div>
				  <button type="submit" class="btn btn-success btn-block"><i class="fa fa-plus"></i> @Messages("action.add")</button>
				</form>
			</div>
		</div></div>
	</div>
}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/sb-admin/plugins/dataTables/jquery.dataTables.js")"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/sb-admin/plugins/dataTables/dataTables.bootstrap.js")"></script>
	<script>
		$(".ingredientform").on('submit', function (e) {
			e.preventDefault();

			var form = $(e.target),
					titleru = form.find("input#titleru").val(),
					titleen = form.find("input#titleen").val(),
					titlekk = form.find("input#titlekk").val(),
					tags = form.find("input#tags").val(),
					measureType = form.find("select#measureType").val();

			jsRoutes.restoran.controllers.Ingredients.add("@groupname").ajax({

				data: {
					ru: titleru,
					kk: titlekk,
					en: titleen,
					tags: tags,
					measureType: measureType,
				},
	      success: successResponse
	    });
		});

		function successResponse(response) {
			console.log(response);
		}

		var dataTable = $("#banketsTable").dataTable({
			"bProcessing": true,
			"bServerSide": true,
			"sAjaxSource": "@restoran.controllers.routes.Bankets.search(groupname)",
			"sDom":"t<'row'<'col-sm-12'p>>",
			"oLanguage": {
	      "oPaginate": {
	        "sNext": "@Messages("page.next")",
	        "sPrevious": "@Messages("page.prev")"
	      }
	    }
		});

		$("#filter").keyup(function() {
			dataTable.fnFilter(this.value);
		});
	</script>	
}

@styles = {
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/sb-admin/plugins/dataTables/dataTables.bootstrap.css")">
}