@(groupname: String, id: Long = null, nav: String = "")

@import core.views.html.helpers._

<li><a href="@restoran.controllers.routes.Bankets.view(groupname,id)"><i class="fa fa-home"></i> @Messages("bankets.dashboard")</a></li>
<li class="@active("foods", nav) @active("tables", nav)">
  <a href="#"><i class="fa fa-superscript"></i> @Messages("bankets.calc")<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li class="@active("tables", nav)">
      <a href="@restoran.controllers.routes.Orders.tables(groupname, id, false)">Столы</a>
    </li>
    <li class="@active("foods", nav)">
      <a href="@restoran.controllers.routes.Orders.foods(groupname, id, false)">Блюда</a>
    </li>
  </ul>
</li>
<li class="@active("supplies", nav)"><a href="@restoran.controllers.routes.Orders.supplies(groupname, id)"><i class="fa fa-shopping-cart"></i> @Messages("bankets.shop")</a></li>
<li><a href="#"><i class="fa fa-money"></i> @Messages("bankets.payment")</a></li>
<li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-calendar"></i> Выход</a></li>