@(groupname: String, item: restoran.models.Banket, order: restoran.models.Order)

@import restoran.views.html.bankets.foods._
@import restoran.controllers.Supplies
@import restoran.controllers.Orders

@banket_template(groupname=groupname, item=item, nav="order", scripts=scripts) {
@if(order == null) {
	<div class="row no-print">
		<div class="col-md-6">
			<form role="form" action="@restoran.controllers.routes.Orders.start(groupname, item.id)" method="POST">
			  <div class="form-group">
			    <label for="template">Меню</label>
			    <select class="form-control input-lg" name="template">
			    	@restoran.repos.RestoranRepo.findOrderTemplates().map { template =>
			    		<option value="@template.id">@template.title()</option>
			    	}
			    </select>
			  </div>
			  <input type="submit" class="btn btn-primary" value="@Messages("bankets.calc.start")">
			</form>
		</div>
	</div>
} else {
	<div class="">
	@tables.view(groupname,item, order)
	@foods.view(groupname,item, order)
	</div>
	<div class="row">
		<div class="col-md-4 col-xs-2">
			<div class="box box-solid">
				<div class="box-header no-print"><i class="fa fa-glass no-print"></i><h3 class="box-title">@Messages("bankets.drinks")</h3></div>
				<div class="box-content">
					<dl class="dl-horizontal">
					  <dt>Водка</dt>
					  <dd>@(item.peopleAmount / 4) бут.</dd>
					  <dt>Вино</dt> 
					  <dd>@defining(math.round(item.peopleAmount.toDouble / 18)) { q => @q бут.</dd>
					  <dt>Коньяк</dt>
					  <dd>@q бут.</dd>}
					  <dt>Соки</dt>
					  <dd>@item.peopleAmount л.</dd>
					  <dt>Воды</dt>
					  <dd>@(item.peopleAmount / 2) л.</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-4">
			<div class="box box-solid">
				<div class="box-header no-print"><i class="fa fa-coffee no-print"></i><h3 class="box-title">@Messages("bankets.tea")</h3></div>
				<div class="box-content">
					<dl class="dl-horizontal">
					  <dt>Торты, пироги</dt>
					  <dd>по 4 шт.</dd>
					  <dt>Курага, изюм</dt>
					  <dd>по 1 кг.</dd>
					  <dt>Чернослив, финики</dt>
					  <dd>по 1 кг.</dd>
					  <dt>Орешки</dt>
					  <dd>4 вида по 1 кг., всего 4 кг.</dd>
					  <dt>Печеные</dt>
					  <dd>6 видов по @if(item.peopleAmount < 200) {1.2} else {1.5} кг.</dd>
					  <dd class="no-print">Например: хворост, чак-чак, жент, профетроли...</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-2">
			<div class="box box-solid">
				<div class="box-header no-print"><i class="fa fa-lemon-o no-print"></i><h3 class="box-title">@Messages("bankets.fruits")</h3></div>
				<div class="box-content">
					<dl class="dl-horizontal">
					@defining(Orders.fruits(order)) { fruits =>
						@if(fruits != null) {
							@fruits.map { fruit =>
								<dt>@fruit.title</dt>
					  		<dd>@fruit.amount шт.</dd>
							}
						}
					}
					</dl>
				</div>
			</div>
		</div>
	</div>
}
}

@scripts = {
<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")"></script>
<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.css")" />
<script src="@restoran.routes.Assets.at("javascripts/libs/select/select2.min.js")"></script>
<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.custom.css")" />
<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
@if(order != null) {
 <script>
 		$("#recalcTables").on("click", function (e) {
 			e.preventDefault();
 			jsRoutes.restoran.controllers.Orders.recalcTables("@groupname", @order.id).ajax({
 				method: 'PUT',
 				success: function(response) {
 					if(response.result === 'success') {
 						$('#tableItems').empty();
 		      	$('#tableItems').html(response.tpl);
 		      	$('#unplacedPeople').html(response.unplacedPeopleAmount);

		 	  		$('#foodsTable').empty();
		 	    	$('#foodsTable').html(response.foodsTpl);
		 	    	map();
		 	  	}
 				}
 			});
 		});

 		function formatFoodSelection(meta) {
 			if(meta.tmpl === "yes") {
 				$('#portions').attr('max', meta.maxPortions);
 				$('#portions').attr('min', meta.minPortions);
 			}
 	    return meta.title + " [" + meta.foodType + "]";
 	  }

 		$(".foodType").select2({
 	    minimumInputLength: 0,
 	    allowClear: true,
 	    ajax: {
 	      url: function() { return this.attr('data-url'); },
 	      dataType: 'jsonp',
 	      quietMillis: 100,
 	      data: function (term, page) { // page is the one-based page number tracked by Select2
 	        return {
 	          q: term, //search term
 	          page_limit: 10, // page size
 	          page: page, // page number
 	        };
 	      },
 	      results: function (data, page) {
 	        return {results: data.results, more: data.more};
 	      }
 	    },
 	    formatNoMatches: function () { return "@Messages("select2.noMatches")"; },
 			formatLoadMore: function (pageNumber) { return "@Messages("select2.loadMore")"; },
 			formatSearching: function () { return "@Messages("select2.searching")"; },
 	    formatResult: formatFoodSelection, // omitted for brevity, see the source of this page
 	    formatSelection: formatFoodSelection, // omitted for brevity, see the source of this page
 	    dropdownCssClass: "bigdrop" // apply css that makes the dropdown taller
 		});

 		function map() {
 			var arr = $(".foodTitle").toArray();
 			for(var i = 0; i < arr.length; i++) {
 				var url = $(arr[i]).attr('data-u'),
 						id = $(arr[i]).attr('id');
 				select2url(url, id);
 			}

 			$(".foodOverall").editable({
 				url: '@restoran.controllers.routes.Orders.changeFoodOverallPortions(groupname, order.id)',
 				success: successResponse
 			});

 			$(".foodPlaces").editable({
 				url: '@restoran.controllers.routes.Orders.changeFoodPlacesOnTable(groupname, order.id)',
 				success: successResponse
 			});

 			$(".foodOrderPrice").editable({
 				success: successResponse
 			});

 			$(".toSupplyInput").on('change', function() {
 				var id = $(this)[0].id,
 				 		val = $(this)[0].checked;
 				
 				jsRoutes.restoran.controllers.Orders.supplyFood("@groupname", id, val).ajax({
 					success: successResponse
 				});
 			});

 			$("#servicePercents").editable({
 				success: function(data) {
 					$("#personCost").text(data.personCost);
 					$("#overallPayments").text(data.overallPayments);
 					toggleAlert("success");
 				}
 			});
 		}

 		map();

 		function successResponse(response) {
 			if(response.result === 'success') {
 	  		$('#foodsTable').empty();
 	    	$('#foodsTable').html(response.tpl);
 	    	map();
 	  	}
 	  	toggleAlert(response.result);
 		}

 		function select2url(selecturl, id) {
 			$("#" + id).editable({
 				success: successResponse,
 				select2: {
 					placeholder: 'select food',
 					allowClear: true,
 					ajax: {
 						url: selecturl,
 						dataType: 'jsonp',
 			      quietMillis: 100,
 			      data: function (term, page) {
 			        return {
 			          q: term, page_limit: 10, page: page
 			        };
 			      },
 			      results: function (data, page) {
 			        return {results: data.results, more: data.more};
 			      }
 					},
 					formatNoMatches: function () { return "@Messages("select2.noMatches")"; },
 					formatLoadMore: function (pageNumber) { return "@Messages("select2.loadMore")"; },
 					formatSearching: function () { return "@Messages("select2.searching")"; },
 					formatResult: formatFoodSelection,
 					formatSelection: formatFoodSelection,
 					dropdownCssClass: "bigdrop"
 				}
 			});
 		}

 		$(".foodform").on('submit', function (e) {
 			e.preventDefault();

 			var form = $(e.target),
 					food = form.find("input#selectFood").val(),
 					portions = form.find("input#portions").val();

 			if(food === undefined || food === '') {
 				alert('@Messages("foods.food.empty")');
 				return;
 			}

 			jsRoutes.restoran.controllers.Orders.addFood("@groupname", @order.id).ajax({
 				data: {
 					food: food,
 					portions: portions
 				},
 	      success: function(data) {
 	      	successResponse(data);
 	      	$(form).trigger("reset");
 	      }
 	    });
 		});

 		$(".tableitemform").on('submit', function (e) {
 			e.preventDefault();

 			var form = $(e.target),
 					tableItem = form.find("input#selectTableItem").val(),
 					quantity = form.find("input#tablesQuantity").val(),
 					peopleAmount = form.find("input#tablesPeopleAmount").val();

 			if(tableItem === undefined || tableItem === '') {
 				alert('@Messages("tables.table.empty")');
 				return;
 			}

 			jsRoutes.restoran.controllers.Orders.addTableItem("@groupname", @order.id).ajax({
 				data: {
 					tableItem: tableItem,
 					quantity: quantity,
 					peopleAmount: peopleAmount
 				},
 	      success: function(data) {
 	      	if(data.result === 'success') {
 	      		$('#tableItems').empty();
 		      	$('#tableItems').html(data.tpl);
 		      	$('#unplacedPeople').html(data.unplacedPeopleAmount);
 		      	$('#foodsTable').empty();
		 	    	$('#foodsTable').html(data.foodsTpl);
		 	    	map();
 	      		$(form).trigger("reset");
 	      	}
 	      	else
 	      		alert(data.msg);
 	      }
 	    });
 		});

 		$("div#foodsTable").on('click', '.deletefood', function(e) {
 			e.preventDefault();
 			var id = $(this).attr('data-foodorder-id');
 			jsRoutes.restoran.controllers.Orders.deleteFood("@groupname", id).ajax({
 	      success: successResponse
 	    });
 		});

 		$("#tableItems").on('click', 'a.delTableItem', function(e) {
 			e.preventDefault();
 			var id = $(this).attr('data-tableitem-id');
 			jsRoutes.restoran.controllers.Orders.deleteTable("@groupname", id).ajax({
 	      success: function(data) {
 	      	$('#tableItems').empty();
 	      	$('#tableItems').html(data.tpl);
 	      	$('#unplacedPeople').html(data.unplacedPeopleAmount);
 	      	$('#foodsTable').empty();
	 	    	$('#foodsTable').html(data.foodsTpl);
	 	    	map();
 	      	$(form).trigger("reset");
 	      }
 	    });
 		});


 	/*
	 ********* TABLES
 	 **/

	function formatTablesSelection(meta) {
		$("#tablesQuantity").attr('max', meta.quantity);
		// $("#tablesPeopleAmount").attr('max', meta.peopleAmount + 1);
		$("#tablesPeopleAmount, #tablesQuantity").val('');

    return meta.title + " (" + meta.quantity + ")";
  }

	$("#selectTableItem").select2({
    minimumInputLength: 0,
    allowClear: true,
    ajax: {
      url: function() { return this.attr('data-url'); },
      dataType: 'jsonp',
      quietMillis: 100,
      data: function (term, page) { // page is the one-based page number tracked by Select2
        return {
          q: term, //search term
          page_limit: 10, // page size
          page: page, // page number
        };
      },
      results: function (data, page) {
        return {results: data.results, more: data.more};
      }
    },
    formatNoMatches: function () { return "@Messages("select2.noMatches")"; },
		formatLoadMore: function (pageNumber) { return "@Messages("select2.loadMore")"; },
		formatSearching: function () { return "@Messages("select2.searching")"; },
    formatResult: formatTablesSelection, // omitted for brevity, see the source of this page
    formatSelection: formatTablesSelection, // omitted for brevity, see the source of this page
    dropdownCssClass: "bigdrop" // apply css that makes the dropdown taller
 	});



	$("#tableFoodOrder").on('click', '.deletefood', function(e) {
		e.preventDefault();
		var id = $(this).attr('data-foodorder-id');
		jsRoutes.restoran.controllers.Orders.deleteFood("@groupname", id).ajax({
      success: function(data) {
      	successResponse(data);
      }
    });
	});
</script>
}
}