@(groupname: String, item: restoran.models.Banket, order: restoran.models.Order, acts: List[core.models.activity.Activity], profile: restoran.models.Profile, contact: restoran.models.Contact)

@import restoran.views.html.activity.timeline
@import restoran.views.html.bankets.foods._
@import restoran.controllers.Supplies
@import restoran.controllers.Orders

@banket_template(groupname=groupname, item=item, nav="main", scripts=scripts) {

	<div class="row">
		<div class="col-md-8">
			@timeline(acts)
		</div>
		<div class="col-md-4">
			<div class="box box-solid">
				<div class="box-body">
					<table class="table table-condensed">
						<tr>
							<th style="border-top:none;">@Messages("main.item.created")</th>
							<td style="border-top:none;">@item.dateCreated.format("dd.MM.yyyy") @item.creator().toString()</td>
						</tr>
						@if(item.lastEditor != null) {
						<tr>
							<th>@Messages("main.item.lastEdited")</th>
							<td>@item.dateLastEdited.format("dd.MM.yyyy") @item.lastEditor().toString()</td>
						<tr>
						}
						<tr>
							<th>@Messages("bankets.date")</th>
							<td class="banketDate bg-yellow">@item.date.getTime.getTime</td>
						</tr>
						<tr>
							<th>@Messages("bankets.time")</th>
							<td class="bg-yellow">@item.date.getTime.format("HH:mm")</td>
						</tr>
						<tr>
							<th>@Messages("bankets.type")</th>
							<td>@item.banketType().title()</td>
						</tr>
						<tr>
							<th>@Messages("bankets.location")</th>
							<td>@item.location().title()</td>
						</tr>
						<tr>
							<th>@Messages("bankets.peopleAmount")</th>
							<td>@item.peopleAmount</td>
						</tr>
						<tr>
							<th>@Messages("bankets.title")</th>
							<td>@item.title</td>
						</tr>
					</table>
				</div>
				<div class="box-footer">
					<a href="@restoran.controllers.routes.Bankets.edit(groupname, item.id)" class="btn btn-primary btn-small"><i class="fa fa-pencil"></i> @Messages("action.edit")</a>
					@if(item.isDisabled){
						<a href="@restoran.controllers.routes.Orders.updateBanketDisabled(groupname,item.id)" class="btn btn-success btn-small pull-right"><i class="fa fa-reply"></i> @Messages("action.enable")</a>
					} else {
						<a href="@restoran.controllers.routes.Orders.updateBanketDisabled(groupname,item.id)" class="btn btn-danger btn-small pull-right"><i class="fa fa-trash-o"></i> @Messages("action.delete")</a>
					}
				</div>
			</div>
			<div class="box box-solid">
				<div class="box-header">
					<i class="fa fa-book"></i>
					<h3 class="box-title">@Messages("bankets.contacts")</h3>
				</div>
				<div class="box-body">
						<table class="table table-condensed">
							<tr>
								<th style="border-top:none;">@Messages("bankets.contacts.name")</th>
								<td style="border-top:none;">@if(profile!=null){@profile.name()}</td>
							</tr>
							<tr>
								<th>@Messages("bankets.contacts.iin")</th>
								<td>@if(contact != null) { @restoran.models.ContactItem.value(contact.id, restoran.models.ContactItem.ContactType.IIN) }</td>
							</tr>
							<tr>
						@if(contact != null) { 
							@defining(restoran.models.ContactItem.values(contact.id, restoran.models.ContactItem.ContactType.MOBILE)) { vals =>
								@for(i <- 0 until vals.size) {
									<th>@Messages("bankets.contacts.mobile") @if(i > 0) {@i} </th>
									<td>@vals.get(i).value</td>
								}
							}
						} else {
							<th>@Messages("bankets.contacts.mobile")</th>
							<td></td>	
						}
								
							</tr>
							<tr>
								<th>@Messages("bankets.contacts.telephone")</th>
								<td>@if(contact != null) { @restoran.models.ContactItem.value(contact.id, restoran.models.ContactItem.ContactType.TELEPHONE) }</td>
							</tr>
						</table>
					</div>
					<div class="box-footer">
						<a href="@restoran.controllers.routes.Bankets.contacts(groupname, item.id)" class="btn btn-primary btn-small"><i class="fa fa-pencil"></i> @Messages("action.edit")</a>
					</div>
			</div>
		</div>
	</div>
}

@scripts = {
<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")" type="text/javascript"></script>

<script type="text/javascript">
	moment.lang('ru');
  $.each($(".labelDate"), function(index, value) {
  	var m = moment(parseInt($(value).html())).format("DD MMM YYYY");
  	$(value).html(m);
  });
  $.each($("span.activitDate"), function(index, value) {
  	var m = moment(parseInt($(value).html())).calendar();
  	$(value).html(m);
  });
  var d = $("td.banketDate");
  var t = moment(parseInt(d.html())).format("DD MMMM YYYY, dddd");
  d.html(t);
  d.css("text-transform", "capitalize");

</script>
}