@(groupname: String, item: restoran.models.Banket, order: restoran.models.Order, isWizard: Boolean = false)

@import templates._

@import restoran.views.html.main
@import restoran.views.html.bankets.banket_template

@scripts = {
 <link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.css")" />
 <script src="@restoran.routes.Assets.at("javascripts/libs/select/select2.min.js")"></script>
 <link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.custom.css")" />
 <link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
 <script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
 
 <script>

	function formatTablesSelection(meta) {
		$("#tablesQuantity").attr('max', meta.quantity);
		$("#tablesPeopleAmount").attr('max', meta.peopleAmount + 1);
		$("#tablesPeopleAmount, #tablesQuantity").val('');

    return meta.title + " (" + meta.quantity + ")";
  }

	$("#selectTableItem").select2({
    minimumInputLength: 0,
    allowClear: true,
    ajax: {
      url: function() { return this.attr('data-url'); },
      dataType: 'jsonp',
      quietMillis: 100,
      data: function (term, page) { // page is the one-based page number tracked by Select2
        return {
          q: term, //search term
          page_limit: 10, // page size
          page: page, // page number
        };
      },
      results: function (data, page) {
        return {results: data.results, more: data.more};
      }
    },
    formatNoMatches: function () { return "@Messages("select2.noMatches")"; },
		formatLoadMore: function (pageNumber) { return "@Messages("select2.loadMore")"; },
		formatSearching: function () { return "@Messages("select2.searching")"; },
    formatResult: formatTablesSelection, // omitted for brevity, see the source of this page
    formatSelection: formatTablesSelection, // omitted for brevity, see the source of this page
    dropdownCssClass: "bigdrop" // apply css that makes the dropdown taller
 	});

	$(".tableitemform").on('submit', function (e) {
		e.preventDefault();

		var form = $(e.target),
				tableItem = form.find("input#selectTableItem").val(),
				quantity = form.find("input#tablesQuantity").val(),
				peopleAmount = form.find("input#tablesPeopleAmount").val();

		if(tableItem === undefined || tableItem === '') {
			alert('@Messages("tables.table.empty")');
			return;
		}

		jsRoutes.restoran.controllers.Orders.addTableItem("@groupname", @order.id).ajax({
			data: {
				tableItem: tableItem,
				quantity: quantity,
				peopleAmount: peopleAmount
			},
      success: function(data) {
      	if(data.result === 'success') {
      		$('#tableItems').empty();
	      	$('#tableItems').html(data.tpl);
	      	$('#unplacedPeople').html(data.unplacedPeopleAmount);
      	}
      	else
      		alert(data.msg);
      }
    });
	});

	$("#tableItems").on('click', 'a.delTableItem', function(e) {
		e.preventDefault();
		var id = $(this).attr('data-tableitem-id');
		jsRoutes.restoran.controllers.Orders.deleteTable("@groupname", id).ajax({
      success: function(data) {
      	$('#tableItems').empty();
      	$('#tableItems').html(data.tpl);
      	$('#unplacedPeople').html(data.unplacedPeopleAmount);
      }
    });
	});
</script>
}

@banket_template(groupname=groupname, scripts=scripts, item=item, nav="tables") {
	@view(groupname, item, order)
	<div class="row">
		<div class="col-md-5"><div class="form-action">
			@if(isWizard) {
				<a href="@restoran.controllers.routes.Orders.foods(groupname, item.id, true)" class="btn btn-primary">@Messages("action.next") <i class="fa fa-chevron-right"></i></a>
			}
		</div></div>
	</div>
}
