@(idx: Int, tableItem: restoran.models.OrderTableItem, isEditable: Boolean = true)
@defining(tableItem.tableItem()) { table =>
<tr><td id="@(table.id + "." + idx)">@idx</td>
<td>@table.title()</td>
<td>@tableItem.quantity</td>
<td>@tableItem.peopleAmount</td>
@if(isEditable) {<td><a href="#" data-tableitem-id="@tableItem.id" class="delTableItem btn btn-default btn-xs"><i class="fa fa-times"></i> @Messages("action.delete")</a></td>}</tr>	
}