@(order: Long, tables: List[restoran.models.OrderTableItem] = null, isEditable: Boolean = true)

@list(tablesList: List[restoran.models.OrderTableItem]) = {
	@for(i <- 1 to tablesList.size) {
		@tablesItem(i, tablesList.get(i-1), isEditable)
	}
}

<table class="table table-condensed tablesTable" id="tablesTable">
<tr><th>#</th><th>@Messages("tables.title")</th><th>@Messages("tables.quantity")</th><th>@Messages("tables.peopleAmount")</th>@if(isEditable){<th>@Messages("action.delete")</th>}</tr>
<div id="tablesTBody">
	@if(tables != null) {
		@list(tables)
	} else {
		@list(restoran.controllers.Orders.tablesList(order))
	}
</div></table>