@(groupname: String, item: restoran.models.Banket, order: restoran.models.Order)

<div class="row mailbox no-print">
	<div class="col-xs-12">
		<div class="box box-solid" id="tables">
			<div class="box-body">
				
				<div class="row">
					<div class="col-md-8">
						
						<div class="box-header">
							<i class="fa fa-users"></i>
							<h3 class="box-title">@Messages("bankets.tables")
							<small>• @Messages("bankets.peopleAmount"): @order.peopleAmount • @Messages("tables.unplacedPeople"): <span id="unplacedPeople">@order.unplacedPeopleAmount</span></small></h3><a href="#" id="recalcTables" class="pull-right btn btn-default btn-sm"><i class="fa fa-refresh"></i> @Messages("bankets.tables.recalc")</a>
						</div>
						<div id="tableItems">
							@tables(order)
						</div>

					</div>
					<div class="col-md-4">
						<div class="box-header">
							<i class="fa fa-plus"></i>
							<h3 class="box-title">@Messages("tables.add")</h3>
						</div>
						<div class="box-body">
							<form class="form tableitemform" role="form">
					  		<div class="form-group">
							    <label class="control-label" for="foodType">@Messages("tables.select")</label>
							    <input type="hidden" style="width:100%;" id="selectTableItem" data-url="/@groupname/data/tables/@item.location" name="tableItem" class="tableItem" placeholder="@Messages("tables.select")" required>
							  </div>
					  		<div class="form-group">
						  		<label class="control-label" for="tablesQuantity">@Messages("tables.quantity")</label>
						    	<input type="number" id="tablesQuantity" class="form-control input-sm" name="tablesQuantity" placeholder="@Messages("tables.quantity.enter")">
					  		</div>
					  		<div class="form-group">
					  			<label class="control-label" for="tablesPeopleAmount">@Messages("tables.peopleAmount")</label>
					    		<input type="number" class="form-control input-sm" name="tablesPeopleAmount" id="tablesPeopleAmount" placeholder="@Messages("tables.peopleAmount.enter")">
					  		</div>
					  		<button type="submit" class="btn btn-success btn-block" style="margin-top:25px"><i class="fa fa-plus"></i> @Messages("action.add")</button>
							</form>	
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>