@(groupname: String, order: Long, isEditable: Boolean = true)

<table class="table table-condensed foodOrder" id="tableFoodOrder">
<thead><tr><th>#</th><th><i class="fa fa-shopping-cart"></i></th><th>@Messages("foods.title")</th><th>@Messages("foods.portions.overall")</th><th>@Messages("foods.price")</th><th>@Messages("foods.price.overall")</th>@if(isEditable){<th>@Messages("action.delete")</th>}</tr></thead>
<tbody id="tbodyFoodOrder">
	@defining(restoran.controllers.Orders.foodOrders(order)) { foodOrders =>
		@if(foodOrders != null) { 
			<tr>
			@for(i <- 1 to foodOrders.size) {
				@foodOrderItem(groupname, i, foodOrders.get(i-1), isEditable)
			</tr>
		}}
	}
	<tr><td colspan="5">@Messages("payments.order.overall.foods")</td><td>@restoran.controllers.Orders.overallFoodPayments(order)</td></tr>
	<tr><td colspan="5">@Messages("payments.order.service.percents")</td><td><a href="#" data-type="number" data-url="@restoran.controllers.routes.Orders.editServicePercents(groupname, order)" class="editServicePercents" data-pk="@order" data-min="10" data-max="15" data-step="5" id="servicePercents">@restoran.controllers.Orders.servicePercents(order)</a></td></tr>
	<tr><td colspan="5">@Messages("payments.order.person.cost")</td><td><span id="personCost">@restoran.controllers.Orders.overallPersonSum(order)</span></td></tr>
	<tr><td colspan="5">@Messages("payments.order.overall.sum")</td><td><span id="overallPayments">@restoran.controllers.Orders.overallPayments(order)</span></td></tr>
</tbody></table>