@(groupname:String, idx: Int, foodOrder: restoran.models.FoodOrder, isEditable: Boolean = true)
@defining(foodOrder.food()) {food =>
@defining(foodOrder.childs()) { childs =>

<td id="@(food.foodType + "." + idx)" @if(food.foodType == 1 && isEditable) {rowspan="@(childs.size+2)"} @if(food.foodType == 1 && !isEditable) {rowspan="@(childs.size+1)"}>@idx</td>
<td><input type="checkbox" id="@foodOrder.id" value="" @("checked".when(foodOrder.toSupply)) @("disabled".when(!isEditable)) class="toSupplyInput" enabled="@isEditable"></td>
<td><a href="#" class="foodTitle" id="foodTitle@idx" data-url="@restoran.controllers.routes.Orders.changeFood(groupname)" data-pk="@foodOrder.id" data-type="select2" data-u="/@groupname/data/foods/@food.foodType">@food.title()</a></td>
<td><a href="#" class="foodOverall" data-step="0.5" id="foodOverall@idx" data-pk="@foodOrder.id" data-type="number">@foodOrder.overall</a></td>
<td><a href="#" class="foodOrderPrice" data-step="1" data-type="number" data-pk="@foodOrder.id" data-url="@restoran.controllers.routes.Orders.updateFoodOrderPrice(groupname)">@foodOrder.price</a></td>
<td>@(foodOrder.price * foodOrder.overall)</td>

@if(isEditable){<td><a href="#" data-foodorder-id="@foodOrder.id" class="deletefood @("disabled".when(!isEditable)) btn btn-default btn-xs"><i class="fa fa-times"></i> @Messages("action.delete")</a></td>}

@if(food.foodType == 1) { 
	@if(childs != null) {
		@for(i <- 1 to childs.size()) {
			@garnish(childs.get(i-1), idx*100+i)
		}
	}
@if(isEditable) {
	<tr>
	<td><input type="checkbox" id="garnishOf@foodOrder.id" value="" disabled class="toSupplyInput" enabled="@isEditable"></td>
	<td><a href="#" class="foodTitle" id="foodGarnish@idx" data-url="@restoran.controllers.routes.Orders.addGarnish(groupname)" data-pk="@foodOrder.id" data-type="select2" data-u="/@groupname/data/foods/4">@Messages("foods.select.garnish")</a></td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
	</tr>
}
}}}

@garnish(garnish: restoran.models.FoodOrder, idx: Int) = {
<tr>
	@defining(garnish.food()) { food =>
		<td><input type="checkbox" id="@garnish.id" value="" @("checked".when(garnish.toSupply)) @("disabled".when(!isEditable)) class="toSupplyInput" enabled="@isEditable"></td>
		<td><a href="#" class="foodTitle" id="foodTitle@idx" data-url="@restoran.controllers.routes.Orders.changeFood(groupname)" data-pk="@garnish.id" data-type="select2" data-u="/@groupname/data/foods/@food.foodType">@food.title()</a></td>
		<td><a href="#" class="foodOverall" data-pk="@garnish.id" data-step="0.5" data-type="number">@garnish.overall</a></td>
		<td><a href="#" class="foodOrderPrice" data-pk="@garnish.id" data-url="@restoran.controllers.routes.Orders.updateFoodOrderPrice(groupname)">@garnish.price</a></td>
		<td>@(garnish.price * garnish.overall)</td>
		@if(isEditable){<td><a href="#" data-foodorder-id="@garnish.id" class="deletefood btn btn-default btn-xs"><i class="fa fa-times"></i> @Messages("action.delete")</a></td>}
	}
</tr>
}