@(idx: Int, foodOrder: restoran.models.FoodOrderTableItem)
@defining(foodOrder.food()) { food =>
<td id="@(food.foodType + "." + idx)">@idx</td>
<td>@food.title()</td>
<td><a href="#" class="foodPlaces" id="foodPlaces@idx" data-pk="@foodOrder.id" data-step="1" data-type="number">@foodOrder.places</a></td>
<td>@foodOrder.portions</td>
<td>@foodOrder.overall</td>
}