@(groupname:String, item: restoran.models.Banket, list: List[restoran.models.SupplyItemTemp], order: restoran.models.Order)

@import restoran.controllers.Supplies
@import restoran.views.html.bankets.banket_template

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")" type="text/javascript"></script>
	<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
 	<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>

<script>
	moment.lang('ru');

  function makeit() {
  	var text = $(".supplyDate");
  	text.text(moment(text.text(), "DD.MM.YYYY").format("DD MMMM YYYY"));
  	$('.supplyDate').editable({
      format: 'DD.MM.YYYY',    
      viewformat: 'DD MMMM YYYY',    
      template: 'D / MMMM / YYYY',    
      combodate: {
        minYear: moment().format("YYYY"),
        maxYear: moment().add("month", 1).format("YYYY"),
        minuteStep: 1
      }
    });

  	var tr = $("tr.modified");
    if(tr.length > 0) {
    	$("a.supplyUpdate").removeClass("hidden");
    }
  }

  makeit();
</script>
}

@banket_template(groupname=groupname, nav="supplies", item=item, scripts=scripts) {
	<div class="row">
		<div class="col-md-8">
			<div class="box box-solid">
				<div class="box-body">
					<h4 class="no-padding">@item.toString()</h4>

					<table class="table table-condensed">
						<tr>
							<th>@Messages("supplies.title")</th>
							<th>@Messages("supplies.amount") (@Messages("items.measureType.GRAMM"), @Messages("items.measureType.brutto"))</th>
						</tr>
						
						@list.map { items =>
							@if(items.amount != 0 || items.supplyItem != null) {
								<tr 
									@if(items.amount != items.approvedAmount && items.approvedAmount != null && items.amount != 0) {class="bg-yellow modified"} 
									@if(items.amount == 0) {class="bg-red modified"}
									@if(items.approvedAmount == null) {class="bg-blue modified"}
								>
									<td>@items.item().title()</td>
									<td>@if(items.amount != items.approvedAmount && items.approvedAmount != null) {@items.approvedAmount → @items.amount} 
									@if(items.amount == items.approvedAmount && items.approvedAmount != null) {@items.amount} 
									@if(items.amount != 0 && items.approvedAmount == null) {0.0 → @items.amount}
									@if(items.item().measureType != null) {@items.item().measureType().title()}</td>
									@if(items.amount == 0) {
										<td class="no-print"><i class="fa fa-times"></i> @Messages("supplies.deleted")</td>
									}	@if(items.amount != items.approvedAmount && items.approvedAmount != null && items.amount != 0) {
										<td class="no-print"><i class="fa fa-pencil"></i> @Messages("supplies.edited")</td>
									}	@if(items.approvedAmount == null) {
										<td class="no-print"><i class="fa fa-plus"></i> @Messages("supplies.added")</td>
									} @if(items.amount != 0 && items.amount == items.approvedAmount && items.supplyItem != null) {
										<td class="no-print"><i class="fa fa-check"></i> @Messages("supplies.approved")</td>
									}
								</tr>
							}
						}
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-4 no-print">
			<div class="box box-solid">
				<div class="box-body">
					<p class="lead">@Messages("supplies.date"): <a href="#" class="supplyDate" data-url="@restoran.controllers.routes.Orders.editSupplyDate(groupname,order.id)" data-pk="@order.id" data-type="combodate">@order.supplyDate.getTime.format("dd.MM.yyyy")</a></p>
					<p class="lead">@Messages("supplies.list.approved." + order.approved)</p>
					@if(!order.approved) {
						<a class="btn btn-primary supplyApprove" href="@restoran.controllers.routes.Orders.approveSupply(groupname,order.id)">@Messages("supplies.approve")</a>
					}
					@if(order.approved) {
						<a class="btn btn-warning supplyUpdate hidden" href="@restoran.controllers.routes.Orders.updateSupply(groupname,order.id)"><i class="fa fa-rotate-left"></i> @Messages("supplies.update")</a>
					}
				</div>
			</div>
		</div>
	</div>

}