@(res: List[restoran.models.SupplyItemTemp])

<table class="table">
	<tr>
		<th>@Messages("supplies.title")</th>
		<th>@Messages("supplies.amount")</th>
		<th>@Messages("supplies.measureType")</th>
	</tr>
	@res.map { items =>
		<tr>
			<td>@items.title</td>
			<td>@items.amount</td>
			<td>@Messages("items.measureType." + items.item().measureType)</td>
		</tr>
	}
</table>