@(groupname: String, item: restoran.models.Banket, order: restoran.models.Order)

<div class="row mailbox">
	<div class="col-md-12">
		<div class="box box-solid">
			<div class="box-body">
				<div class="row">
					<div class="col-md-8">
						<div class="box-header"><i class="fa fa-inbox"></i><h3 class="box-title">@Messages("bankets.foods")</h3>
						</div>
						  <div id="foodsTable">
						    @foodList(groupname, order.id)
						  </div>
					</div>

					<div class="col-md-4 no-print">
						<div class="box-header"><i class="fa fa-plus"></i><h3 class="box-title">@Messages("foods.add")</h3></div>
						<form class="form foodform" role="form">
				  		<div class="form-group">
						    <label class="control-label" for="selectFood">@Messages("foods.select")</label>
						    <input type="hidden" style="width:100%; height:30px;" id="selectFood" data-url="/@groupname/data/foods" name="food" class="foodType" placeholder="@Messages("foods.select")" required>
						  </div>
				  		<div class="form-group">
				  			<label class="control-label" for="portions">@Messages("foods.portions")</label>
				    		<input type="number" class="form-control input-sm" step="0.5" name="foodPortions" id="portions" placeholder="@Messages("foods.portions.enter")">
				  		</div>
						  <button type="submit" class="btn btn-success btn-block"><i class="fa fa-plus"></i> @Messages("action.add")</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>