@(groupname:String, page: Int = 0, pageSize: Int = 10)

@import templates._

@import restoran.views.html.main

@main(groupname=groupname,nav="invoices", scripts=scripts, styles=styles) {
<section class="content-header">
  <h1>@Messages("menu.invoices")</h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li class="active"><i class="fa fa-dollar"></i> @Messages("menu.invoices")</li>
  </ol>
</section>

<section class="content-navbar">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
      <li class="active"><a href="@restoran.controllers.routes.Invoices.index(groupname)">@Messages("invoices.main")</a></li>
      <li><a href="@restoran.controllers.routes.Invoices.lists(groupname)">@Messages("invoices.lists")</a></li>
    </ul>
  </div>
</section>

<section class="content">
  <div class="mailbox row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-body">
          <div class="row">
            <div class="col-md-9 col-sm-8">
              <div class="row pad">
                <div class="col-sm-6 search-form">
                  <div class="input-group">                                                            
                    <input type="text" class="form-control input-sm" placeholder="@Messages("action.search")" id="filter">
                    <div class="input-group-addon bg-blue" style="border-color:#0073b7;">
                      <i class="fa fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
      	      <div class="table-responsive">
                <table class="table table-mailbox" id="templatesTable">
                  <thead style="border-top:1px solid #ddd;">
										<tr>
											<th>@Messages("invoices.id")</th>
											<th>@Messages("invoices.title")</th>
											<th>@Messages("invoices.amount")</th>
											<th>@Messages("invoices.list")</th>
											<th>@Messages("invoices.creator")</th>
											<th></th>
										</tr>
									</thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")" type="text/javascript"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/jquery.dataTables.js")"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/dataTables.bootstrap.js")"></script>
	<script>
		moment.lang('ru');
		var dataTable = $("#templatesTable").dataTable({
			"aaSorting": [[ 0, "desc" ]],
			"bProcessing": true,
			"bServerSide": true,
			"sAjaxSource": "@restoran.controllers.routes.Invoices.search(groupname)",
			"sDom":"t<'row'<'col-sm-12'p>>",
			"oLanguage": {
	      "oPaginate": {
	        "sNext": "@Messages("page.next")",
	        "sPrevious": "@Messages("page.prev")"
	      }
	    },
	    "columns": [
        { "class": "small-col" },
        { "class": "subject" },
        { "class": "name" },
        { "class": "name" },
        { "class": "time" },
        { "class": "time" }
      ],
      "fnRowCallback": function(nRow, aData, iDisplayIndex) {
	    	map(this, nRow, aData, iDisplayIndex);
	    },
	    "iDisplayLength": @pageSize,
	    "iDisplayStart": @(page*pageSize)
		});

		$("#filter").keyup(function() {
			dataTable.fnFilter(this.value);
		});

		function map(elem, nRow, aData, iDisplayIndex) {
			var date = $(".date", $(nRow));
			$.each(date, function(index, value) {
	  		$(value).text(moment(parseInt($(value).text())).format("D MMMM YYYY"));
	  	});
		}

		$(".templateform").on('submit', function (e) {
			e.preventDefault();

			var form = $(e.target),
					title = form.find("input#title").val();

			jsRoutes.restoran.controllers.OrderTemplates.add("@groupname").ajax({
				data: {
					ru: title
				},
				success: function(data) {
					console.log(data);
					$(form).trigger("reset");
				}
	    });
		});
	</script>	
}

@styles = {
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/dataTables/dataTables.bootstrap.css")"></link>
}