@(groupname:String, page: Int = 0, pageSize: Int = 10)

@import templates._

@import restoran.views.html.main

@main(groupname=groupname,nav="invoices", scripts=scripts, styles=styles) {
<section class="content-header">
  <h1>@Messages("menu.invoices")</h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li class="active"><i class="fa fa-dollar"></i> @Messages("menu.invoices")</li>
  </ol>
</section>

<section class="content-navbar">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
      <li><a href="@restoran.controllers.routes.Invoices.index(groupname)">@Messages("invoices.main")</a></li>
      <li class="active"><a href="@restoran.controllers.routes.Invoices.lists(groupname)">@Messages("invoices.lists")</a></li>
    </ul>
  </div>
</section>

<section class="content">
  <div class="mailbox row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-body">
          <div class="row">
            <div class="col-md-9 col-sm-8">
              <div class="row pad">
                <div class="col-sm-6 search-form">
                  <div class="input-group">                                                            
                    <input type="text" class="form-control input-sm" placeholder="@Messages("action.search")" id="filter">
                    <div class="input-group-addon bg-blue" style="border-color:#0073b7;">
                      <i class="fa fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
      	      <div class="table-responsive">
                <table class="table table-mailbox" id="templatesTable">
                  <thead style="border-top:1px solid #ddd;">
										<tr>
											<th>@Messages("invoices.list.title")</th>
										</tr>
									</thead>
                </table>
              </div>
            </div>
            <div class="col-md-3">
            	<div class="box-header">
            		<i class="fa fa-plus"></i>
            		<h3 class="box-title">@Messages("invoices.list.add")</h3>
            	</div>
							<form class="form itemform" role="form">
					  		<div class="form-group">
							    <label class="control-label" for="title">@Messages("invoices.list.title")</label>
							    <input type="text" id="title" class="form-control input-sm" name="title" placeholder="@Messages("invoices.list.title.enter")" required>
							  </div>
					  		
							  <button type="submit" class="btn btn-success btn-block"><i class="fa fa-plus"></i> @Messages("action.add")</button>
							</form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/jquery.dataTables.js")"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/dataTables.bootstrap.js")"></script>
	<script>
		var dataTable = $("#templatesTable").dataTable({
			"bProcessing": true,
			"bServerSide": true,
			"sAjaxSource": "@restoran.controllers.routes.Invoices.searchLists(groupname)",
			"sDom":"t<'row'<'col-sm-12'p>>",
			"oLanguage": {
	      "oPaginate": {
	        "sNext": "@Messages("page.next")",
	        "sPrevious": "@Messages("page.prev")"
	      }
	    },
	    "iDisplayLength": @pageSize,
	    "iDisplayStart": @(page*pageSize)
		});

		$("#filter").keyup(function() {
			dataTable.fnFilter(this.value);
		});

		$(".itemform").on('submit', function (e) {
			e.preventDefault();

			var form = $(e.target),
					title = form.find("input#title").val();

			jsRoutes.restoran.controllers.Invoices.add("@groupname").ajax({
				data: {
					title: title
				},
				success: function(data) {
					console.log(data);
 	      	$(form).trigger("reset");
				}
	    });
		});
	</script>	
}

@styles = {
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/dataTables/dataTables.bootstrap.css")"></link>
}