@(groupname:String, item: restoran.models.Invoice, page: Int, pageSize: Int)

@import templates._
@import restoran.views.html.main
@import restoran.views.html.activity.timeline

@main(groupname=groupname, nav="invoices", scripts=scripts, styles=styles) {

<section class="content-header">
  <h1>@Messages("menu.invoices")<small>@item.title</small></h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li><a href="@restoran.controllers.routes.Invoices.index(groupname)"><i class="fa fa-dollar"></i> @Messages("menu.invoices")</a></li>
      <li class="active">@item.title</li>
  </ol>
</section>

<section class="content-navbar">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
      <li><a href="@restoran.controllers.routes.Invoices.index(groupname)">@Messages("invoices.main")</a></li>
      <li class="active"><a href="@restoran.controllers.routes.Invoices.lists(groupname)">@Messages("invoices.lists")</a></li>
    </ul>
  </div>
</section>

<section class="content">
  <div class="mailbox row">
    <div class="col-xs-12">    
      <div class="row">
        <div class="col-md-8 col-sm-8">
        	<div class="box box-solid">
        		<div class="box-body">
              <div class="row pad">
                <div class="col-sm-6 search-form">
                  <div class="input-group">                                                            
                    <input type="text" class="form-control input-sm" placeholder="@Messages("action.search")" id="filter">
                    <div class="input-group-addon bg-blue" style="border-color:#0073b7;">
                      <i class="fa fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
      	      <div class="table-responsive">
                <table class="table table-mailbox" id="templatesTable">
                  <thead style="border-top:1px solid #ddd;">
										<tr>
											<th>#</th>
											<th>@Messages("invoices.title")</th>
											<th>@Messages("invoices.amount")</th>
											<th>@Messages("invoices.creator")</th>
											<th></th>
										</tr>
									</thead>
                </table>
              </div>
            </div>
          </div>
        </div>
        	<div class="col-md-4">
          	<div class="box box-solid">
            	<div class="box-body">
        				<table class="table table-condensed">
        					<thead>
        						<tr>
        							<th># @item.id</th>
        							<th></th>
        						</tr>
        					</thead>
        					<tbody>
        						<tr>
        							<td>@Messages("invoices.list.title")</td>
        							<td><a class="editAttrs" href="#" data-pk="@item.id" data-type="text" data-url="@restoran.controllers.routes.Invoices.editTitle(groupname, item.id)">@item.title</a></td>
        						</tr>
        					</tbody>
        				</table>
        			</div>
        		</div>

        		<div class="box box-solid">
            	<div class="box-body">
        				<div class="box-header">
	            		<i class="fa fa-plus"></i>
	            		<h3 class="box-title">@Messages("invoices.add")</h3>
	            	</div>
								<form class="form itemform" role="form">
						  		<div class="form-group">
								    <label class="control-label" for="title">@Messages("invoices.title")</label>
								    <input type="text" id="title" class="form-control input-sm" name="title" placeholder="@Messages("invoices.title.enter")" required>
								  </div>

								  <div class="form-group">
								    <label class="control-label" for="title">@Messages("invoices.amount")</label>
								    <input type="number" id="amount" class="form-control input-sm" name="amount" placeholder="@Messages("invoices.amount.enter")" required>
								  </div>
						  		
								  <button type="submit" class="btn btn-success btn-block"><i class="fa fa-plus"></i> @Messages("action.add")</button>
								</form>
        			</div>
        		</div>

        	</div>
      </div>
    </div>
  </div>
</section>
}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")" type="text/javascript"></script>
	<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/jquery.dataTables.js")"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/dataTables.bootstrap.js")"></script>
	<script>
		moment.lang('ru');
		$(".editAttrs").editable();
		var dataTable = $("#templatesTable").dataTable({
			"aaSorting": [[ 0, "desc" ]],
			"bProcessing": true,
			"bServerSide": true,
			"sAjaxSource": "/@groupname/data/invoices/lists/search/@item.id",
			"sDom":"t<'row'<'col-sm-12'p>>",
			"oLanguage": {
	      "oPaginate": {
	        "sNext": "@Messages("page.next")",
	        "sPrevious": "@Messages("page.prev")"
	      }
	    },
	    "columns": [
        { "class": "small-col" },
        { "class": "subject" },
        { "class": "name" },
        { "class": "name" },
        { "class": "time" }
      ],
      "fnRowCallback": function(nRow, aData, iDisplayIndex) {
	    	map(this, nRow, aData, iDisplayIndex);
	    },
	    "iDisplayLength": @pageSize,
	    "iDisplayStart": @(page*pageSize)
		});

		$("#filter").keyup(function() {
			dataTable.fnFilter(this.value);
		});

		function map(elem, nRow, aData, iDisplayIndex) {
			var date = $(".date", $(nRow));
			$.each(date, function(index, value) {
	  		$(value).text(moment(parseInt($(value).text())).format("D MMMM YYYY"));
	  	});
		}

		$(".itemform").on('submit', function (e) {
			e.preventDefault();

			var form = $(e.target),
					title = form.find("input#title").val(),
					amount = form.find("input#amount").val();

			jsRoutes.restoran.controllers.Invoices.addItem("@groupname", @item.id).ajax({
				data: {
					title: title,
					amount: amount
				},
				success: function(data) {
					console.log(data);
					$(form).trigger("reset");
				}
	    });
		});
	</script>
}

@styles = {
	<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/dataTables/dataTables.bootstrap.css")"></link>
}