@(groupname: String)
@import templates._
@import restoran.controllers.Supplies

@scripts = {
  <script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")" type="text/javascript"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/calendar/clndr.min.js")" type="text/javascript"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/calendar/calendar.js")" type="text/javascript"></script>
  <script type="text/javascript">
    groupname = "@groupname";
  </script>
}

@styles = {
	<link href='@restoran.routes.Assets.at("stylesheets/libs/calendar/clndr.custom.css")' rel='stylesheet' />
}

@main(groupname=groupname, nav="calendar", scripts=scripts, styles=styles) {
  <section class="content-header">
    <h1>@Messages("menu.calendar")<small>@Messages("menu.bankets")</small></h1>
    <ol class="breadcrumb">
        <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
        <li class="active">@Messages("menu.calendar")</li>
    </ol>
  </section>
<section class="content">
  <div class="box box-solid">
     <div class="box-body">
     <div class="row">
       <div class="col-md-3"><div id="side-info"></div></div>
       <div class="col-md-9">

      <div class="row">
        <div class="col-md-12">
          <div class="pull-left box-tools">
            <button class="btn btn-danger btn-sm today-button" data-toggle="tooltip" title="@Messages("calendar.today")"><i class="fa fa-calendar"></i></button>
          </div><!-- /. tools -->
          <ul class="list-inline text-center">
            <li class="previous-button"><i class="fa fa-chevron-left"></i></li>
            <li class="month-select" id="0">1</li>
            <li class="month-select" id="1">2</li>
            <li class="month-select" id="2">3</li>
            <li class="month-select" id="3">4</li>
            <li class="month-select" id="4">5</li>
            <li class="month-select" id="5">6</li>
            <li class="month-select" id="6">7</li>
            <li class="month-select" id="7">8</li>
            <li class="month-select" id="8">9</li>
            <li class="month-select" id="9">10</li>
            <li class="month-select" id="10">11</li>
            <li class="month-select" id="11">12</li>
            <li class="next-button"><i class="fa fa-chevron-right"></i></li>
          </ul>
        </div>
      </div>
        <div class="row">
          <div class="col-md-6" id="clndr1"></div>
          <div class="col-md-6" id="clndr2"></div>
        </div>
    </div>
    </div>
     </div>
  </div>
</section>
  <script type="text/template" id="template-day">
    <div class="sidebar-date text-center">
      <div class="date"><%= date.format("D") %></div>
      <div class="month"><%= date.format("MMMM YYYY") %></div>
      <div class="week"><%= date.format("dddd") %></div>
    </div>

    <div class="sidebar-locations text-center">
      <% var events1 = _.filter(events, function(evnt) { return evnt.location === 1; }); %>
      <% var events2 = _.filter(events, function(evnt) { return evnt.location === 2; }); %>
      <div class="location events-<%= events1.length %>">
        <div class="title">Зал 1</div>
        <% _.each(events1, function(evnt) {  %>
          <div class="event"><a href="<%= evnt.url %>">
            <div class="event-title"><%= evnt.title %> <%= evnt.peopleAmount %></div>
            <div class="event-time"><%= evnt._clndrStartDateObject.format("HH:mm") %></div>
          </a></div>
        <% }); %>
      </div>
      <div class="location events-<%= events2.length %>">
        <div class="title">Зал 2</div>
        <% _.each(events2, function(evnt) { %>
          <div class="event"><a href="<%= evnt.url %>">
            <div class="event-title"><%= evnt.title %> <%= evnt.peopleAmount %></div>
            <div class="event-time"><%= evnt._clndrStartDateObject.format("HH:mm") %></div>
          </a></div>
        <% }); %>
      </div>
    </div>
    <div class="sidebar-add-event">
      <a href="/@groupname/management/supplies/date/view/<%= date.format('YYYY/MM/DD') %>" class="btn btn-success btn-block disabled" id="supplyViewButton"><i class="fa fa-shopping-cart"></i> @Messages("supplies.view")</a>
    </div>
    <div class="sidebar-add-event">
      <a href="/@groupname/bankets/add?date=<%= date.format('DD.MM.YYYY') %>" class="btn btn-primary btn-block disabled" id="addEventButton"><i class="fa fa-plus"></i> @Messages("bankets.add")</a>
    </div>
  </script>

	<script type="text/template" id="template-calendar">
      <div class="clndr-controls clearfix scroller">
        <h2 class="month"><%= month %></h2>
        <h3 class="year"><%= year %></h3>
      </div>
      <div class="clndr-grid">
        <div class="clndr-head">
          <% _.each(daysOfTheWeek, function(day) { %>
            <div class="header-day"><%= day %></div>
          <% }); %>
        </div>
        <div class="clndr-body">
          <% for(var i = 0; i < numberOfRows; i++) { %>
          <div class="clndr-body-row">
          <% for(var j = 0; j < 7; j++) { %>
          <% var d = j + i * 7; %>
          <% var day = days[d]; %>
            <div class="<%= day.classes %>"><div class="clndr-date-info">
              <div class="clndr-date"><%= day.day %></div>
              <div class="clndr-date clndr-week"><%= day.date.format('ddd') %></div></div>
              <% if(day.events.length > 0) { %>
                <div class="clndr-events">
                <div class="clndr-event"><i class="fa fa-circle"></i></div>
                <% _.each(day.events, function(evnt) { %>
                <div class="clndr-event-item <% if(i % 2 == 0) { %>default<% } %>"><%= evnt.title%></div>
                <% }); %>
                </div>
              <% } %>
            </div>
          <% } %>
          </div>
          <% } %>
        </div>
      </div>
    </script>
}