@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div id="footer">
 <div class="container"><p class="text-muted text-center credit">© Ресторан Саз-Сырнай · 2013 @subjectPresent() {· Асхат Шакенов <i class="icon-skype"></i> <a class="text-muted credit" href="skype:askhat.shaken?chat">Скайп</a>}</p></div>
</div>