@(nav: String = "")

@import core.views.html.helpers._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="@restoran.controllers.routes.Application.index">Саз-Сырнай</a>
		</div>
		@subjectPresent() {
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<!-- <li class="@active(nav, "ingredients")"><a href="@@routes.Ingredients.index()">@Messages("menu.ingredients")</a></li>
				<li class="@active(nav, "foods")"><a href="@@routes.Foods.index()">@Messages("menu.foods")</a></li>
				<li class="@active(nav, "bankets")"><a href="@@routes.Bankets.index">@Messages("menu.bankets")</a></li>
				<li class="@active(nav, "groups")"><a href="@@routes.Groups.index()">@Messages("menu.groups")</a></li> -->
				
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="divider-vertical"></li>
	         <li class="@active("kk", lang.code)"><a href="@core.controllers.routes.Langs.change("kk", Http.Context.current().request().path)">Қазақ</a></li>
	         <li class="@active("ru", lang.code)"><a href="@core.controllers.routes.Langs.change("ru", Http.Context.current().request().path)">Русский</a></li>
	         <li class="divider-vertical"></li>
			</ul>
		</div><!--/.nav-collapse -->
		}
	</div>
</div>