.alert-container {
	text-align: center;
	position: fixed;
	z-index: 990;
	width: 100%;
}

.alert {
	margin: auto;
	padding: 5px;
	position: relative;
	width: 30%;
}

.alert-dismissable .close {
	top: 0;
	right: 10px;
}

.alert > .fa, .alert > .glyphicon {
	top: -10px;
}

@media print {
	.hide-but-print {
		display: show;
	    font-size: 6px;
	    line-height: 1;
	    margin: -10px;
	    padding: 0;
	}
	tr.hide-but-print:first-child>td {
		border-top:none;
	}
}

tr.selected {
	background-color: #8ED0F6;
}

.month-select {
  font-size: 18px;
  font-weight: 200;
  padding: 2px 6px 4px;
  cursor: pointer;
  margin: 0;
  text-transform: capitalize;
}

.month-select.is-active {
  border-top: 2px solid #ef4f69;
  border-bottom: 2px solid #ef4f69;
  -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box; 
}

.month-select.is-hover {
  border-top: 1px solid #E2A7B3;
  border-bottom: 1px solid #E2A7B3;
}

#tables {
	/*padding: 10px;*/
	border-bottom: 1px solid #ddd;
}

#tables .day-table {
	height: 80px;
	width: 20%;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#tables .day-table:hover {
	background-color: #eee;
}

#tables .day-table.is-selected {
	background-color: #ef4f69;
	color: #fff;
}

.hide-but-print {
	display: none;
}

.timeline > li > .timeline-item > .timeline-header {
	font-size: 14px;
}

.timeline-item > span > img {
	float: left;
	width: 25px;
	height: 25px;
	margin: -1px 0 0 -3px;
}

.timeline-item .timeline-header {
	font-size: 14px;
}

.right-side > .content-navbar {
  position: relative;
  margin: 5px auto;
  padding: 0px 15px 0px 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.nav.nav-pills > li > a {
	padding: 10px 5px;
}

.nav-pills>li+li {
	margin-left: 15px;
}

.nav.nav-pills > li > a {
	border-top: none;
	border-bottom: 3px solid transparent;
}

.nav.nav-pills > li > a:hover {
	background-color: transparent;
	border-bottom: 3px solid #3c8dbc;
}

.nav.nav-pills > li.active > a, .nav.nav-pills > li.active > a:hover {
	background-color: transparent;
	border-bottom: 3px solid #3c8dbc;
}

.navbar {
	background-color: #fff;
}

.banket-info {
	position: relative;
	font-size: 16px;
	width: calc(100% - 1px);
	padding: 2px;
	vertical-align: middle;
	height: 60px;
}

.banket-info .title {
	font-size: 11px;
	text-transform: uppercase;
	margin-top: 10px;
}

.banket-info .value {
	text-transform: uppercase;
	font-weight: 200;
}

.banket-info .banket-location {
	width: 33%;
	margin-right: 1px;
	background-color: #92CDD9;
	float: left;
	height: 100%;
}

.banket-info .banket-location .title {
	font-size: 13px;
}

.banket-info .banket-menu {
	margin-bottom: 3px;	
	width: 33%;
	margin-right: 1px;
	background-color: #F4ECE1;
	float: left;
	height: 100%;
}

.banket-info .banket-type {
	margin-bottom: 3px;	
	width: 100%;
	background-color: #E6BBE7;
	float: left;
	height: 100%;
}

.banket-info .people-amount {
	width: 33%;
	height: 100%;
	background-color: #E2D2EF;
	float: left;
}

.nav-banket-location {
	margin-bottom:5px;
}
.nav-banket-location>li>a {
	padding: 5px 8px;
}

.center {
	padding:0;
	margin:0px auto;
	text-align:center;
}

.sidebar-add-event {
  padding: 2px 5px;
}

.sidebar-locations {
  height: 200px;
  width: 100%;
  padding: 5px;
}

.sidebar-locations .location {
  width: calc(50% - 2px);
  height: 100%;
  float: left;
  padding: 10px 0;
  color: #fff;
  text-transform: capitalize;
  margin-left: 1px;
  margin-right: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid transparent;
}

.sidebar-locations .location:hover {
  filter:alpha(opacity=100);
  opacity:1
}

.sidebar-locations .location:first-child {
  background-color: #59A8C5;
}
.sidebar-locations .location:last-child {
  background-color: #E7910F;
}

.sidebar-locations .location.events-0 {
  background-color: #ddd;
}

.sidebar-locations .location .title {
  margin-bottom: 15px;
}
.sidebar-locations .location .event {
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1;
}

.sidebar-locations .location .event a {
  text-decoration: none;
  color: #EFECD2;
}

.sidebar-locations .location .event a:hover {
  color: #fff;
}

.sidebar-locations .location .events-num {
  position: relative;
  vertical-align: middle;
}

.sidebar-date {
  line-height: 1;
  margin-top: 10px;
  padding: 10px 0 30px 0;
}
.sidebar-date .date {
  font-size: 52pt;
}
.sidebar-date .month {
  font-size: 16pt;
  text-transform: capitalize;
}
.sidebar-date .day {
  font-size: 22pt;
}

.banket-date {
	float:left;
	margin:0 10px 0 0;
	width:64px;
}

.banket-day {
	font-weight: 200;
}

.banket-weekday {
	font-size: 120%;
	font-weight:bold;
	line-height:100%;
	text-transform: uppercase;
}

.banket-list>.list-group-item {
	padding-bottom: 15px;
	/*text-align: left;*/
}

.banket-list>.list-group-item>.label {
	font-weight: 200;
	font-size:100%;
	line-height: 1.9;
}

.subnavbar {
	top: 50px;
	height: 30px;
	margin: auto;
	position: fixed;
	z-index: 1030;
	background-color: white;
	border: 1px solid #f0f0f0;
	width: 320px;
	left: 0; right: 0;
	padding: 3px;
}

@media(max-width: 1024px) {
	.banket-list>.list-group-item>.label {
		font-weight: 200;
		font-size: 90%;
	}

	.banket-date {
		width:80px;
	}

	.banket-day {
		font-weight: 200;
		font-size: 100%;
	}

	.banket-weekday {
		font-size: 120%;
		font-weight:bold;
		line-height:100%;
		text-transform: uppercase;
	}
}

@media(max-width: 320px) {
	.banket-date {
		width:64px;
	}
}