@(groupname: String)
@import templates._
@import restoran.controllers.Supplies
@import restoran.views.html.main

@scripts = {
  <script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")" type="text/javascript"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/days/days.js")" type="text/javascript"></script>
  <script type="text/javascript">
  </script>
}

@styles = {
	<link href='@restoran.routes.Assets.at("stylesheets/libs/calendar/clndr.custom.css")' rel='stylesheet' />
}

@main(groupname=groupname, nav="days", scripts=scripts, styles=styles) {
  <section class="content-header">
    <h1>@Messages("menu.calendar")<small>@Messages("menu.bankets")</small></h1>
    <ol class="breadcrumb">
        <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
        <li class="active">@Messages("menu.calendar")</li>
    </ol>
  </section>
<section class="content">
  <div class="box box-solid">
    <div class="box-body">
        <div class="row">
          <div class="col-md-6"><div id="tables">
            <div class="row">
              <div class="col-md-2 table">1</div>
              <div class="col-md-2 table">2</div>
              <div class="col-md-2 table">3</div>
              <div class="col-md-2 table">4</div>
              <div class="col-md-2 table">5</div>
              <div class="col-md-2 table">6</div>
              <div class="col-md-2 table">7</div>
              <div class="col-md-2 table">8</div>
              <div class="col-md-2 table">9</div>
              <div class="col-md-2 table">10</div>
              <div class="col-md-2 table">11</div>
              <div class="col-md-2 table">12</div>
              <div class="col-md-2 table">13</div>
              <div class="col-md-2 table">14</div>
              <div class="col-md-2 table">15</div>
              <div class="col-md-2 table">16</div>
              <div class="col-md-2 table">17</div>
              <div class="col-md-2 table">18</div>
              <div class="col-md-2 table">19</div>
              <div class="col-md-2 table">20</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <script type="text/template" id="template-table">
    <div class="sidebar-date text-center">
      <div class="date"><%= date.format("D") %></div>
      <div class="month"><%= date.format("MMMM YYYY") %></div>
      <div class="week"><%= date.format("dddd") %></div>
    </div>

    <div class="sidebar-locations text-center">
      <% var events1 = _.filter(events, function(evnt) { return evnt.location === 1; }); %>
      <% var events2 = _.filter(events, function(evnt) { return evnt.location === 2; }); %>
      <div class="location events-<%= events1.length %>">
        <div class="title">Зал 1</div>
        <% _.each(events1, function(evnt) {  %>
          <div class="event"><a href="<%= evnt.url %>">
            <div class="event-title"><%= evnt.title %> <%= evnt.peopleAmount %></div>
            <div class="event-time"><%= evnt._clndrStartDateObject.format("HH:mm") %></div>
          </a></div>
        <% }); %>
      </div>
      <div class="location events-<%= events2.length %>">
        <div class="title">Зал 2</div>
        <% _.each(events2, function(evnt) { %>
          <div class="event"><a href="<%= evnt.url %>">
            <div class="event-title"><%= evnt.title %> <%= evnt.peopleAmount %></div>
            <div class="event-time"><%= evnt._clndrStartDateObject.format("HH:mm") %></div>
          </a></div>
        <% }); %>
      </div>
    </div>
    <div class="sidebar-add-event">
      <a href="@groupname/management/supplies/date/view/<%= date.format('YYYY/MM/DD') %>" class="btn btn-success btn-block disabled" id="supplyViewButton"><i class="fa fa-shopping-cart"></i> @Messages("supplies.view")</a>
    </div>
    <div class="sidebar-add-event">
      <a href="@groupname/bankets/add?date=<%= date.format('DD.MM.YYYY') %>" class="btn btn-primary btn-block disabled" id="addEventButton"><i class="fa fa-plus"></i> @Messages("bankets.add")</a>
    </div>
  </script>

	<script type="text/template" id="template-calendar">
      <div class="clndr-controls clearfix scroller">
        <h2 class="month"><%= month %></h2>
        <h3 class="year"><%= year %></h3>
      </div>
      <div class="clndr-grid">
        <div class="clndr-head">
          <% _.each(daysOfTheWeek, function(day) { %>
            <div class="header-day"><%= day %></div>
          <% }); %>
        </div>
        <div class="clndr-body">
          <% for(var i = 0; i < numberOfRows; i++) { %>
          <div class="clndr-body-row">
          <% for(var j = 0; j < 7; j++) { %>
          <% var d = j + i * 7; %>
          <% var day = days[d]; %>
            <div class="<%= day.classes %>"><div class="clndr-date-info">
              <div class="clndr-date"><%= day.day %></div>
              <div class="clndr-date clndr-week"><%= day.date.format('ddd') %></div></div>
              <% if(day.events.length > 0) { %>
                <div class="clndr-events">
                <div class="clndr-event"><i class="fa fa-circle"></i></div>
                <% _.each(day.events, function(evnt) { %>
                <div class="clndr-event-item <% if(i % 2 == 0) { %>default<% } %>"><%= evnt.title%></div>
                <% }); %>
                </div>
              <% } %>
            </div>
          <% } %>
          </div>
          <% } %>
        </div>
      </div>
    </script>
}