@(groupname: String, item: restoran.models.Banket, order: restoran.models.Order)

@import restoran.controllers.Supplies
@import restoran.controllers.Foods
@import restoran.views.html.bankets.banket_template

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")" type="text/javascript"></script>
	<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
 	<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>

<script>
	moment.lang('ru');

  function makeit() {
  	var text = $(".supplyDate");
  	text.text(moment(text.text(), "DD.MM.YYYY").format("DD MMMM YYYY"));
  	$('.supplyDate').editable({
      format: 'DD.MM.YYYY',    
      viewformat: 'DD MMMM YYYY',    
      template: 'D / MMMM / YYYY',    
      combodate: {
        minYear: moment().format("YYYY"),
        maxYear: moment().add("month", 1).format("YYYY"),
        minuteStep: 1
      }
    });

  	var tr = $("tr.modified");
    if(tr.length > 0) {
    	$("a.supplyUpdate").removeClass("hidden");
    }
  }

  // makeit();
</script>
}

@banket_template(groupname=groupname, nav="blanks", item=item, scripts=scripts) {
	<div class="row">
		@defining(restoran.controllers.Orders.foodOrders(order.id)) { foodOrders =>
		@if(foodOrders != null) {
			<div class="col-xs-6">
			@foodOrders.zipWithIndex.map { case(fo, i) =>
			@if(i % 2 == 0 && i > 0) {
				</div>
				<div class="col-xs-6">
			}
				<b>@fo.food().title()</b> (@fo.portions / @Math.round(fo.overall/fo.portions) / @fo.overall) - @item.toString()
				@if(fo.food != null) {
					<table class="table table-condensed">
					<thead>
						<tr>
							<th>@Messages("ingredient.title")</th>
							<th>@Messages("blanks.amount.single")</th>
							<th>@Messages("blanks.amount.overall")</th>
						</tr>
					</thead><tbody>
					@Foods.foodIngredients(fo.food).map { ingredients =>
					@defining(ingredients.measureType()) { mt =>
						<tr>
							<td>@ingredients.ingredient().title()</td>
							<td>@(ingredients.amount/mt.transformRatio) @mt.title()</td>
							<td>@(ingredients.amount/mt.transformRatio * fo.overall) @mt.title()</td>
						</tr>
					}}
					</tbody></table>
				}
			}
			</div>
		}
	}
	</div>
}