@(groupname:String, item: restoran.models.Item, ingredients: List[restoran.models.FoodIngredient])

@import templates._
@import restoran.views.html.main
@import restoran.views.html.activity.timeline

@main(groupname=groupname, nav=item.itemType.toString.toLowerCase, scripts=scripts, styles=styles) {
<section class="content-header">
  <h1>@Messages("menu." + item.itemType.toString.toLowerCase)<small>@item.title()</small></h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li><a href="@restoran.controllers.routes.Items.index(groupname, item.itemType.toString.toLowerCase)"><i class="fa fa-cutlery"></i> @Messages("menu." + item.itemType.toString.toLowerCase)</a></li>
      <li><a href="@restoran.controllers.routes.Items.view(groupname, item.itemType.toString.toLowerCase, item.id)">@item.title()</a></li>
      <li class="active">@Messages("menu.foods")</li>
  </ol>
</section>

<section class="content-navbar">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
      <li><a href="@restoran.controllers.routes.Items.view(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("menu.main")</a></li>
      <li><a href="@restoran.controllers.routes.Items.stock(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("stock.update")</a></li>
      <li class="active"><a href="@restoran.controllers.routes.Items.foods(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("menu.foods")</a></li>
      <li><a href="@restoran.controllers.routes.Items.viewMeasureTypes(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("items.measureTypes")</a></li>
    </ul>
  </div>
</section>

<section class="content"><div class="row"><div class="col-md-6">
 	<div class="box box-solid">
    <div class="box-body">
			<table class="table table-condensed" id="stockTakeOuts">
				<thead>
					<tr>
						<th>#</th>
						<th>@Messages("foods.title")</th>
						<th>@Messages("ingredient.amount")</th>
					</tr>
				</thead>
				<tbody>
				@if(ingredients != null) {
					@ingredients.zipWithIndex.map { case(ingr, i) =>
					@if(ingr != null && ingr.food != null && ingr.food() != null) {
						<tr id="ingr@ingr.id">
							<td>@(i+1)</td>
							<td><a target="blank" href="@restoran.controllers.routes.Foods.viewIngredients(groupname, ingr.food)">@ingr.food().title()</a></td>
							<td>@ingr.amount</td>
						</tr>
					}}
				}
				</tbody>
			</table>
		</div>
	</div></div></div>
</section>
}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/jquery.dataTables.js")"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/dataTables.bootstrap.js")"></script>
	<script>
		
	</script>	
}

@styles = {
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/dataTables/dataTables.bootstrap.css")"></link>
}