@(groupname: String, itemType: String, page: Int = 0, pageSize: Int = 10)

@import templates._
@import restoran.views.html.main
@import core.views.html.helpers._

@main(groupname=groupname, nav=itemType, scripts=scripts, styles=styles) {
<section class="content-header">
  <h1>@Messages("menu." + itemType)</h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li class="active">@Messages("menu." + itemType)</li>
  </ol>
</section>
<section class="content">
	<div class="mailbox row">
    <div class="col-xs-12">
			<div class="box box-solid">
				<div class="box-body">
					<div class="row" id="ingredients">
						<div class="col-md-9">
							<div class="row pad">
			          <div class="col-sm-6 search-form">
			            <div class="input-group">                                                            
			              <input type="text" class="form-control input-sm" placeholder="@Messages("action.search")" id="filter" autofocus>
			              <div class="input-group-addon bg-blue" style="border-color:#0073b7;">
			                <i class="fa fa-search"></i>
			              </div>
			            </div>
			          </div>
			        </div>
						<div class="table-responsive">
							<table class="table table-mailbox" id="itemsTable">
								<thead style="border-top:1px solid #ddd;">
									<tr><th>@Messages(itemType + ".title")</th>
									<th>@Messages(itemType + ".tags")</th>
									<th>@Messages(itemType + ".measureType")</th>
									<th>@Messages("stock.amount")</th></tr>
								</thead>
							</table>
						</div></div>
						<div class="col-md-3">
							<div class="box-header">
              		<i class="fa fa-plus"></i>
              		<h3 class="box-title">@Messages(itemType + ".add")</h3>
              	</div>
							<form class="form itemform" role="form">
					  		<div class="form-group">
							    <label class="control-label" for="titleru">@Messages(itemType + ".title")</label>
							    <input type="text" id="titleru" class="form-control input-sm" name="titleru" placeholder="@Messages(itemType + ".title.enter")" required>
							  </div>
					  		<div class="form-group">
					  			<label class="control-label" for="tags">@Messages(itemType + ".tags")</label>
					    		<input type="text" class="form-control input-sm" name="tags" id="tags" placeholder="@Messages(itemType + ".tags.enter")">
					  		</div>
					  		<div class="form-group">
					  			<label class="control-label" for="measureType">@Messages(itemType + ".measureType")</label>
					    		<select class="form-control input-sm" name="measureType" id="measureType" placeholder="@Messages(itemType + ".measureType.enter")">
					    			@restoran.controllers.Items.measureTypes().map { measureType =>
					    				<option value="@measureType.id">@measureType.title()</option>
					    			}
					    		</select>
					  		</div>
							  <button type="submit" class="btn btn-success btn-block"><i class="fa fa-plus"></i> @Messages("action.add")</button>
							</form>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/jquery.dataTables.js")"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/dataTables.bootstrap.js")"></script>
	<script>
		var dataTable = $("#itemsTable").dataTable({
			"bProcessing": true,
			"bServerSide": true,
			"sAjaxSource": "@restoran.controllers.routes.Items.search(groupname, item=itemType)",
			"sDom":"t<'row'<'col-sm-12'p>>",
			"oLanguage": {
	      "oPaginate": {
	        "sNext": "@Messages("page.next")",
	        "sPrevious": "@Messages("page.prev")"
	      }
	    },
	    "iDisplayLength": @pageSize,
	    "iDisplayStart": @(page*pageSize)
		});

		$(".itemform").on('submit', function (e) {
			e.preventDefault();

			var form = $(e.target),
					titleru = form.find("input#titleru").val(),
					titleen = form.find("input#titleen").val(),
					titlekk = form.find("input#titlekk").val(),
					tags = form.find("input#tags").val(),
					measureType = form.find("select#measureType").val();

			jsRoutes.restoran.controllers.Items.add("@groupname","@itemType").ajax({
				data: {
					ru: titleru,
					tags: tags,
					measureType: measureType,
				},
	      success: function(response) {
	      	dataTable._fnDraw();

	      	$(form).trigger("reset");
	      }
	    });
		});

		$("#filter").keyup(function() {
			dataTable.fnFilter(this.value);
		});
	</script>	
}

@styles = {
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/dataTables/dataTables.bootstrap.css")"></link>
}