@(groupname:String, item: restoran.models.Item, measureTypes: List[restoran.models.ItemMeasureType])

@import templates._
@import restoran.views.html.main
@import restoran.views.html.activity.timeline

@main(groupname=groupname, nav=item.itemType.toString.toLowerCase, scripts=scripts, styles=styles) {
<section class="content-header">
  <h1>@Messages("menu." + item.itemType.toString.toLowerCase)<small>@item.title()</small></h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li><a href="@restoran.controllers.routes.Items.index(groupname, item.itemType.toString.toLowerCase)"><i class="fa fa-cutlery"></i> @Messages("menu." + item.itemType.toString.toLowerCase)</a></li>
      <li><a href="@restoran.controllers.routes.Items.view(groupname, item.itemType.toString.toLowerCase, item.id)">@item.title()</a></li>
      <li class="active">@Messages("items.measureTypes")</li>
  </ol>
</section>

<section class="content-navbar">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
      <li><a href="@restoran.controllers.routes.Items.view(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("menu.main")</a></li>
      <li><a href="@restoran.controllers.routes.Items.stock(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("stock.update")</a></li>
      <li><a href="@restoran.controllers.routes.Items.foods(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("menu.foods")</a></li>
      <li class="active"><a href="@restoran.controllers.routes.Items.viewMeasureTypes(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("items.measureTypes")</a></li>
    </ul>
  </div>
</section>

<section class="content"><div class="row"><div class="col-md-8">
 	<div class="box box-solid">
    <div class="box-body">
			<table class="table table-condensed" id="stockTakeOuts">
				<thead>
					<tr>
						<th>#</th>
						<th>@Messages("items.measureType.title")</th>
						<th>@Messages("items.measureType.netto")</th>
						<th>@Messages("action.delete")</th>
					</tr>
				</thead>
				<tbody id="measureTypesList">
				@if(measureTypes != null) {
					@measureTypes.zipWithIndex.map { case(mt, i) =>
					@if(mt != null) {
						<tr id="mt@mt.id">
							<td>@(i+1)</td>
							<td><a href="#" class="editAttrs" data-pk="@mt.id" data-url="@restoran.controllers.routes.Items.editMeasureTypeTitle(groupname, item.itemType.toString.toLowerCase, mt.id)">@mt.title()</a></td>
						<td><a href="#" data-pk="@mt.id" data-url="@restoran.controllers.routes.Items.editMeasureTypeRatio(groupname, item.itemType.toString.toLowerCase, mt.id)" class="editAttrs" data-type="number" min="0">@mt.transformRatio</a></td>
							<td><a href="#" data-id="@mt.id" class="btn btn-default btn-xs delete"><i class="fa fa-times"></i> @Messages("action.delete")</a></td>
						</tr>
					}}
					@if(measureTypes.size == 0) {
					<tr>
						<td class="dataTables_empty">@Messages("msg.info.nodata")</td>
					</tr>
					}
				}
				</tbody>
			</table>
		</div>
	</div>
</div><div class="col-md-4">
	<div class="box box-solid">
		<div class="box-header">
    		<i class="fa fa-plus"></i>
    		<h3 class="box-title">@Messages("items.measureType.add")</h3>
    	</div>
		<div class="box-body">
			<form class="form" id="addform" role="form">
	  		<div class="form-group">
			    <label class="control-label" for="titleru">@Messages("items.measureType.title")</label>
			    <input type="text" id="titleru" class="form-control input-sm" name="title" placeholder="@Messages("items.measureType.title")" required>
			  </div>
	  		<div class="form-group">
	  			<label class="control-label" for="netto">@Messages("items.measureType.netto")</label>
	    		<input type="number" min="0.01" step="0.01" class="form-control input-sm" name="netto" id="netto" placeholder="@Messages("items.measureType.netto")" required>
	    		<input type="hidden" name="pk" value="@item.id">
	  		</div>
			  <button type="submit" class="btn btn-success btn-block"><i class="fa fa-plus"></i> @Messages("action.add")</button>
			</form>
		</div>
	</div>	
	</div></div>
</section>
<script type="text/template" id="template-measure-type">
	<tr id="mt<%= id %>"><td><%= idx %></td><td><%= title %></td><td><%= transformRatio %></td><td><a href="#" data-id="<%= id %>" class="btn btn-default btn-xs delete"><i class="fa fa-times"></i> @Messages("action.delete")</a></td></tr>
</script>
}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/jquery.dataTables.js")"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/dataTables.bootstrap.js")"></script>
  <script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
	<script>
		$("#addform").on("submit", function(e) {
			e.preventDefault();
			var form = $(e.target);
  		jsRoutes.restoran.controllers.Items.addMeasureType("@groupname").ajax({
  			data: form.serializeArray(),
				success: function(data) {
					toggleAlert('success');
					var tmp = _.template($('#template-measure-type').html()),
								len = $('tbody#measureTypesList tr').length;
						data.idx = len+1;
				    $('#measureTypesList').append(tmp(data));
				    map();
		    },
		    error: function() {
	      	toggleAlert('error');
	      }
	    });
		});


		function map() {
			$("a.delete").on("click", function(e) {
				e.preventDefault();
				var id = $(this).attr('data-id');
				console.log(id);
				jsRoutes.restoran.controllers.Items.deleteMeasureType("@groupname", id).ajax({
					success: function(data) {
						toggleAlert('success');
						$('tr#mt' + id).fadeOut();
			    },
			    error: function() {
		      	toggleAlert('error');
		      }
		    });
			});

			$(".editAttrs").editable();
		}

		map();
	</script>	
}

@styles = {
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/dataTables/dataTables.bootstrap.css")"></link>
	<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
}