@(groupname:String, item: restoran.models.Item)

@import templates._
@import restoran.views.html.main
@import restoran.views.html.activity.timeline

@main(groupname=groupname, nav=item.itemType.toString.toLowerCase, scripts=scripts, styles=styles) {
<section class="content-header">
  <h1>@Messages("menu." + item.itemType.toString.toLowerCase)<small>@item.title()</small></h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li><a href="@restoran.controllers.routes.Items.index(groupname, item.itemType.toString.toLowerCase)"><i class="fa fa-cutlery"></i> @Messages("menu." + item.itemType.toString.toLowerCase)</a></li>
      <li><a href="@restoran.controllers.routes.Items.view(groupname, item.itemType.toString.toLowerCase, item.id)">@item.title()</a></li>
      <li class="active">@Messages("stock.update")</li>
  </ol>
</section>

<section class="content-navbar">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
      <li><a href="@restoran.controllers.routes.Items.view(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("menu.main")</a></li>
      <li class="active"><a href="@restoran.controllers.routes.Items.stock(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("stock.update")</a></li>@if(item.itemType.toString == "INGREDIENT") {
      <li><a href="@restoran.controllers.routes.Items.foods(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("menu.foods")</a></li>
      <li><a href="@restoran.controllers.routes.Items.viewMeasureTypes(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("items.measureTypes")</a></li>}
    </ul>
  </div>
</section>

<section class="content"><div class="row"><div class="col-md-6">
 	<div class="box box-solid">
    <div class="box-body">
			<table class="table table-condensed" id="stockTakeOuts">
				<thead>
					<tr>
						<th>@Messages("stock.update.date")</th>
						<th>@Messages("stock.update.amount")</th>
						<th>@Messages("stock.update.user")</th>
					</tr>
				</thead>
			</table>
		</div>
	</div></div></div>
</section>
}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/jquery.dataTables.js")"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/dataTables.bootstrap.js")"></script>
	<script>
		var dataTable = $("#stockTakeOuts").dataTable({
			"bProcessing": true,
			"bServerSide": true,
			"sAjaxSource": "/@groupname/data/@item.itemType.toString.toLowerCase/takeouts/@item.id?sSortDir_0=desc",
			"sDom":"t<'row'<'col-sm-12'p>>",
			"oLanguage": {
	      "oPaginate": {
	        "sNext": "@Messages("page.next")",
	        "sPrevious": "@Messages("page.prev")"
	      }
	    }
		});
	</script>	
}

@styles = {
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/dataTables/dataTables.bootstrap.css")"></link>
}