@(groupname: String, item: restoran.models.Item, acts: List[core.models.activity.Activity])

@import templates._
@import restoran.views.html.main
@import restoran.views.html.activity.timeline

@main(groupname=groupname, nav=item.itemType.toString.toLowerCase, scripts=scripts, styles=styles) {
<section class="content-header">
  <h1>@Messages("menu." + item.itemType.toString.toLowerCase)<small>@item.title()</small></h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li><a href="@restoran.controllers.routes.Items.index(groupname, item.itemType.toString.toLowerCase)"><i class="fa fa-cutlery"></i> @Messages("menu." + item.itemType.toString.toLowerCase)</a></li>
      <li class="active">@item.title()</li>
  </ol>
</section>

<section class="content-navbar">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
      <li class="active"><a href="@restoran.controllers.routes.Items.view(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("menu.main")</a></li>
      <li><a href="@restoran.controllers.routes.Items.stock(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("stock.update")</a></li>@if(item.itemType.toString == "INGREDIENT") {
      <li><a href="@restoran.controllers.routes.Items.foods(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("menu.foods")</a></li>
      <li><a href="@restoran.controllers.routes.Items.viewMeasureTypes(groupname, item.itemType.toString.toLowerCase, item.id)">@Messages("items.measureTypes")</a></li>}
    </ul>
  </div>
</section>

 <section class="content">
 	<div class="row">
		<div class="col-md-8">
  		@timeline(acts)
  	</div>
		<div class="col-md-4">
	  	<div class="box box-solid">
	    	<div class="box-body">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th># @item.id</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>@Messages(item.itemType.toString.toLowerCase + ".title")</td>
								<td><a class="editAttrs" href="#" data-pk="@item.id" data-url="@restoran.controllers.routes.Items.editTitle(groupname, item.itemType.toString.toLowerCase, item.id)">@item.title()</a></td>
							</tr>
							<tr>
								<td>@Messages(item.itemType.toString.toLowerCase + ".measureType")</td>
								<td><a href="#" id="editMeasureType" data-type="select" data-pk="@item.id" data-value="@item.measureType" data-url="@restoran.controllers.routes.Items.editMeasureType(groupname, item.itemType.toString.toLowerCase, item.id)" data-title="@Messages(item.itemType.toString.toLowerCase + ".measureType")">@if(item.measureType != null) { @item.measureType().title() }</a></td>
							</tr>
							<tr>
								<td>@Messages("items.measureType.transformRatio")</td>
								<td>@if(item.measureType != null) {@item.measureType().transformRatio}</td>
							</tr>

							<tr>
								<td>@Messages(item.itemType.toString.toLowerCase + ".tags")</td>
								<td><a class="editAttrs" href="#" data-pk="@item.id" data-url="@restoran.controllers.routes.Items.editTags(groupname, item.itemType.toString.toLowerCase, item.id)">@item.tags</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box-footer">
					@if(item.isDisabled){
						<a href="@restoran.controllers.routes.Items.updateDisabled(groupname, item.itemType.toString.toLowerCase, item.id)" class="btn btn-success btn-small"><i class="fa fa-reply"></i> @Messages("action.enable")</a>
					} else {
						<a href="@restoran.controllers.routes.Items.updateDisabled(groupname, item.itemType.toString.toLowerCase, item.id)" class="btn btn-danger btn-small"><i class="fa fa-trash-o"></i> @Messages("action.delete")</a>
					}
				</div>
			</div>
		</div>
	</div>
}

@scripts = {
	<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")"></script>
	<script>
		moment.lang('ru');
		$(".editAttrs").editable();
		$.each($(".labelDate"), function(index, value) {
	  	var m = moment(parseInt($(value).html())).format("DD MMM YYYY");
	  	$(value).html(m);
	  	$(value).css("text-transform", "capitalize");
	  });
	  $.each($("span.activitDate"), function(index, value) {
	  	var m = moment(parseInt($(value).html())).calendar();
	  	$(value).html(m);
	  });
	  $('#editMeasureType, #editTransformMeasureType').editable({
        source: [
        	@restoran.controllers.Items.measureTypes().map { measureType =>
        		{value: '@measureType.id', text: '@measureType.title()'},
        	}
        	@restoran.controllers.Items.measureTypes(item.id).map { measureType =>
        		{value: '@measureType.id', text: '@measureType.title()'},
        	}
        ]
    });
	</script>	
}

@styles = {
	<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
}