/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
  }
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    /*overflow: hidden;*/
    position: absolute;
    top: 0; bottom: 0;
    width: 50%; /* 6 columns */
  }
}