@(itemsPage: com.avaje.ebean.Page[restoran.models.Banket], page: Int, pageSize: Int = 10)

@import core.views.html._

@admin_template(nav="pages") {
	
	@outer_nav("list")
	
   @items(itemsPage)
   
   @if(itemsPage.getTotalPageCount > 1) {
	<ul class="pagination">
		<li class="@("disabled".when(itemsPage.hasPrev == false))"><a href="@@core.controllers.routes.Groups.index(1, pageSize)">&laquo;</a></li>
		@core.utils.PaginationHelper.paginate(itemsPage.getTotalPageCount, page).map { pageNum =>
			<li class="@("active".when(pageNum == page))"><a href="@@core.controllers.routes.Groups.index(pageNum, pageSize)">@pageNum</a></li>
		}
		<li class="@("disabled".when(itemsPage.hasNext == false))"><a href="@@core.controllers.routes.Groups.index(itemsPage.getTotalPageCount, pageSize)">&raquo;</a></li>
	</ul>
	}
}
