@(itemsPage: com.avaje.ebean.Page[restoran.models.Banket])

<table class="table table-condensed">
	<thead><tr>
		<th>#</th>
		<th>@Messages("groups.url")</th>
		<th>@Messages("groups.title")</th>
		<th>@Messages("groups.disabled")</th>
		<th>@Messages("groups.dateCreated")</th>
	</tr></thead>
	<tbody>
		@itemsPage.getList.map { item =>
			<tr>
				<td><a href="@@core.controllers.routes.Groups.view(item.id)">@@item.id</a></td>
				<td><a href="@@core.controllers.routes.Groups.view(item.id)">@@item.url</a></td>
				<td>@item.title</td>
				<td>@item.isDisabled</td>
				<td>@core.utils.DateTimeHelper.getAge(item.dateCreated)</td>
			</tr>
		}
	</tbody>
</table>