@(nav: String)

@import core.views.html.helpers._

<div class="row"><ul class="nav nav-pills">
  <li class="@active(nav, "list")"><a href="@@core.controllers.routes.Groups.index()">@Messages("groups.list")</a></li>
  <li class="@active(nav, "timeline")"><a href="@@core.controllers.routes.Groups.timeline()">@Messages("groups.timeline")</a></li>
</ul></div>