@(groupname: String)

@import core.views.html.helpers._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<header class="header">
    <a href="@restoran.controllers.routes.Application.index(groupname)" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        Restorator
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
            @subjectPresent() {
            @defining(core.controllers.UserManager.getCurrentUser()) { user =>
                @defining(restoran.controllers.Application.groupsList()) { groups => 
                    @if(groups != null && groups.size > 1) {
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>@Messages("menu.groups") <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                            @groups.map { group =>
                                <li class="">
                                    <a href="#" class="btn btn-default btn-flat">@group.title()</a>
                                </li>
                            }
                            </ul>
                        </li>
                    }
                }

                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>@user <i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <img src="@restoran.routes.Assets.at("images/avatar3.png")" class="img-circle" alt="User Image" />
                            <p>
                                @user
                                <small>@user.getRoles().get(0)</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">@Messages("menu.profile")</a>
                            </div>
                            <div class="pull-right">
                                <a href="@core.controllers.auth.routes.Signin.logout()" class="btn btn-default btn-flat">@Messages("auth.signout")</a>
                            </div>
                        </li>
                    </ul>
                </li>
            }}
            </ul>
        </div>
    </nav>
</header>