@(groupname: String, nav: String = "", navlist: Html = null)

@import core.views.html.helpers._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">@subjectPresent() {
    @defining(core.controllers.UserManager.getCurrentUser()) { user =>
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@restoran.routes.Assets.at("images/avatar3.png")" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>Hello, @user.firstName</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
    }}
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="@active(nav, "calendar")">
                <a href="@restoran.controllers.routes.Application.index(groupname)">
                    <i class="fa fa-calendar"></i> <span>@Messages("menu.calendar")</span>
                </a>
            </li>
            <li class="@active(nav, "supplies")">
                <a href="@restoran.controllers.routes.Supplies.index(groupname)">
                    <i class="fa fa-shopping-cart"></i> <span>@Messages("menu.supplies")</span>
                </a>
            </li>
            <li class="@active(nav, "stock")">
                <a href="@restoran.controllers.routes.Stock.index(groupname, "ingredient")">
                    <i class="fa fa-leaf"></i> <span>@Messages("menu.stock")</span>
                </a>
            </li>
            <li class="@active(nav, "invoices")">
                <a href="@restoran.controllers.routes.Invoices.index(groupname)">
                    <i class="fa fa-dollar"></i> <span>@Messages("menu.invoices")</span>
                </a>
            </li>
            <li class="treeview @active(nav,"foods")@active(nav,"ingredient")@active(nav,"household")">
                <a href="#">
                    <i class="fa fa-cutlery"></i>
                    <span>@Messages("menu.kitchen")</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="@active(nav,"foods")"><a href="@restoran.controllers.routes.Foods.index(groupname)"><i class="fa fa-angle-double-right"></i> @Messages("management.foods")</a></li>
                    <li class="@active(nav,"ingredient")"><a href="@restoran.controllers.routes.Items.index(groupname, "ingredient")"><i class="fa fa-angle-double-right"></i> @Messages("management.ingredients")</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> @Messages("management.cutlery")</a></li>
                    <li class="@active(nav,"household")"><a href="@restoran.controllers.routes.Items.index(groupname, "household")"><i class="fa fa-angle-double-right"></i> @Messages("menu.household")</a></li>
                </ul>
            </li>
            <li class="@active(nav,"employees")">
                <a href="@restoran.controllers.routes.Employees.index(groupname)">
                    <i class="fa fa-user"></i>
                    <span>@Messages("menu.employees")</span>
                </a>
            </li>
            <li class="@active(nav,"contacts")">
                <a href="@restoran.controllers.routes.Contacts.index(groupname)">
                    <i class="fa fa-book"></i>
                    <span>@Messages("menu.contacts")</span>
                </a>
            </li>
            <li class="treeview @active(nav,"orders")@active(nav,"locations")@active(nav,"tables")">
                <a href="#">
                    <i class="fa fa-wrench"></i> <span>Настройки</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Залы</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Столы</a></li>
                    <li class="@active(nav,"orders")"><a href="@restoran.controllers.routes.OrderTemplates.index(groupname)"><i class="fa fa-angle-double-right"></i> @Messages("menu.orders.templates")</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o"></i> <span>Статистика</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>