@login_template(bodyClass="bg-black") {
	<div class="form-box" id="login-box">
      <div class="header">@Messages("auth.signin")</div>
      <form action="@core.controllers.auth.routes.Signin.authenticate()" method="post">
          <div class="body bg-gray">
              <div class="form-group">
                  <input type="text" name="email" class="form-control" placeholder="@Messages("auth.email.enter")"/>
              </div>
              <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="@Messages("auth.password.enter")"/>
              </div>          
              <div class="form-group">
                  <input type="checkbox" name="rememberme"/> @Messages("auth.rememberme")
              </div>
          </div>
          <div class="footer">                   
            <button type="submit" class="btn bg-olive btn-block">@Messages("auth.login")</button>  
          </div>
      </form>
  </div>
}