@(groupname: String, page: Int = 0, pageSize: Int = 10)

@import templates._

@import restoran.views.html.main

@main(groupname=groupname, nav="employees", scripts=scripts, styles=styles) {
	<section class="content-header">
    <h1>@Messages("menu.employees")</h1>
    <ol class="breadcrumb">
        <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
        <li class="active">@Messages("menu.employees")</li>
    </ol>
  </section>

  <section class="content-navbar">
		<div class="nav-pills-custom">
	    <ul class="nav nav-pills">
	      <li class="active"><a href="@restoran.controllers.routes.Employees.index(groupname)">@Messages("menu.main")</a></li>
	      <li><a href="@restoran.controllers.routes.Employees.schedule(groupname)">@Messages("employees.schedule")</a></li>
	    </ul>
	  </div>
	</section>

  <section class="content">
    <div class="mailbox row">
      <div class="col-xs-12">
        <div class="box box-solid">
          <div class="box-body">
            <div class="row">
              <div class="col-md-9 col-sm-8">
                <div class="row pad">
	                <div class="col-sm-6 search-form">
                    <div class="input-group">                                                            
	                    <input type="text" class="form-control input-sm" placeholder="@Messages("action.search")" id="filter">
                      <div class="input-group-addon bg-blue" style="border-color:#0073b7;">
                        <i class="fa fa-search"></i>
                      </div>
                    </div>
                  </div>
	              </div>
        	      <div class="table-responsive">
                  <table class="table table-mailbox" id="itemsTable">
                    <thead style="border-top:1px solid #ddd;">
											<tr><th>@Messages("employees.name")</th>
											<th>@Messages("employees.type")</th>
											<th>@Messages("contacts.mobile")</th>
											<th>@Messages("contacts.telephone")</th>
											<th>@Messages("contacts.address")</th></tr>
										</thead>
                  </table>
                </div>
              </div>
              <div class="col-md-3">
              	<div class="box-header">
              		<i class="fa fa-plus"></i>
              		<h3 class="box-title">@Messages("employees.add")</h3>
              	</div>
								<form class="form itemform" role="form">
						  		<div class="form-group">
								    <label class="control-label" for="firstname">@Messages("employees.firstname")</label>
								    <input type="text" id="firstname" class="form-control input-sm" name="firstname" placeholder="@Messages("employees.firstname.enter")" required>
								  </div>
								  <div class="form-group">
								    <label class="control-label" for="lastname">@Messages("employees.lastname")</label>
								    <input type="text" id="lastname" class="form-control input-sm" name="lastname" placeholder="@Messages("employees.lastname.enter")" required>
								  </div>
						  		<div class="form-group">
						  			<label class="control-label" for="mobile">@Messages("contacts.mobile")</label>
						    		<input type="text" class="form-control input-sm" data-inputmask='"mask": "+7 (799) 999-99-99"' data-mask name="mobile" id="mobile" placeholder="@Messages("contacts.mobile.enter")">
						  		</div>
						  		<div class="form-group">
						  			<label class="control-label" for="telephone">@Messages("contacts.telephone")</label>
						    		<input type="text" class="form-control input-sm" data-inputmask='"mask": "+7 (7132) 99-99-99"' data-mask name="telephone" id="telephone" placeholder="@Messages("contacts.telephone.enter")">
						  		</div>
						  		<div class="form-group">
						  			<label class="control-label" for="address">@Messages("contacts.address")</label>
						    		<input type="text" class="form-control input-sm" name="address" id="address" placeholder="@Messages("contacts.address.enter")">
						  		</div>
						  		<div class="form-group">
						  			<label class="control-label" for="employeeType">@Messages("employees.type")</label>
						    		<input type="hidden" style="width:100%;height:30px;" name="employeeType" id="employeeType" placeholder="@Messages("employees.type.select")">
						  		</div>
						  		
								  <button type="submit" class="btn btn-success btn-block"><i class="fa fa-plus"></i> @Messages("action.add")</button>
								</form>
              </div>
            </div>
          </div>
        </div>
	    </div>
    </div>
	</section>
}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/jquery.dataTables.js")"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/dataTables.bootstrap.js")"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/select/select2.min.js")"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/input-mask/jquery.inputmask.js")"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/input-mask/jquery.inputmask.extensions.js")"></script>
	<script>

		var dataTable = $("#itemsTable").dataTable({
			"bProcessing": true,
			"bServerSide": true,
			"sAjaxSource": "@restoran.controllers.routes.Employees.search(groupname)",
			"sDom":"t<'row'<'col-sm-12'p>>",
			"oLanguage": {
	      "oPaginate": {
	        "sNext": "@Messages("page.next")",
	        "sPrevious": "@Messages("page.prev")"
	      }
	    },
	    "iDisplayLength": @pageSize,
	    "iDisplayStart": @(page*pageSize)
		});

		$("#filter").keyup(function() {
			dataTable.fnFilter(this.value);
		});

		$(".itemform").on('submit', function (e) {
			e.preventDefault();

			var form = $(e.target),
					firstname = form.find("input#firstname").val(),
					lastname = form.find("input#lastname").val(),
					mobile = form.find("input#mobile").val(),
					telephone = form.find("input#telephone").val(),
					address = form.find("input#address").val(),
					employeeType = form.find("input#employeeType").val();

			jsRoutes.restoran.controllers.Employees.add("@groupname").ajax({
				data: {
					firstname: firstname,
					lastname: lastname,
					mobile: mobile,
					telephone: telephone,
					address: address,
					employeeType: employeeType,
				},
				success: function() {
					$(form).trigger("reset");
				}
	    });
		});

		function formatFoodType(meta) {
	    return meta.title;
	  }

		$("#employeeType").select2({
	    minimumInputLength: 0,
	    allowClear: true,
	    ajax: {
	      url: '/@groupname/data/employeeTypes',
	      dataType: 'jsonp',
	      quietMillis: 100,
	      data: function (term, page) { // page is the one-based page number tracked by Select2
	        return {
	          q: term, //search term
	          page_limit: 10, // page size
	          page: page, // page number
	        };
	      },
	      results: function (data, page) {
	        return {results: data.results, more: data.more};
	      }
	    },
	    formatNoMatches: function () { return "@Messages("select2.noMatches")"; },
			formatLoadMore: function (pageNumber) { return "@Messages("select2.loadMore")"; },
			formatSearching: function () { return "@Messages("select2.searching")"; },
	    formatResult: formatFoodType, // omitted for brevity, see the source of this page
	    formatSelection: formatFoodType, // omitted for brevity, see the source of this page
	    dropdownCssClass: "bigdrop" // apply css that makes the dropdown taller
		});
		$("[data-mask]").inputmask();
	</script>	
}

@styles = {
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/dataTables/dataTables.bootstrap.css")">
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.css")" />
  <link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.custom.css")" />
}