@(groupname: String)
@import templates._

@import restoran.views.html.main
@import restoran.controllers.Employees

@main(groupname=groupname, nav="employees", scripts=scripts, styles=styles) {
	<section class="content-header no-print">
    <h1>@Messages("menu.employees")</h1>
    <ol class="breadcrumb">
        <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
        <li class="active">@Messages("menu.employees")</li>
    </ol>
  </section>

  <section class="content-navbar no-print">
		<div class="nav-pills-custom">
	    <ul class="nav nav-pills">
	      <li><a href="@restoran.controllers.routes.Employees.index(groupname)">@Messages("menu.main")</a></li>
	      <li class="active"><a href="@restoran.controllers.routes.Employees.schedule(groupname)">@Messages("employees.schedule")</a></li>
	    </ul>
	  </div>
	</section>

  <section class="content">
    <div class="box box-solid">
     	<div class="box-body">
	      <div class="row no-print">
	        <div class="col-md-12">
	          <ul class="list-inline text-center">
	            <li class="previous-button"><i class="fa fa-chevron-left"></i></li>
	            <li class="month-select" id="0">1</li>
	            <li class="month-select" id="1">2</li>
	            <li class="month-select" id="2">3</li>
	            <li class="month-select" id="3">4</li>
	            <li class="month-select" id="4">5</li>
	            <li class="month-select" id="5">6</li>
	            <li class="month-select" id="6">7</li>
	            <li class="month-select" id="7">8</li>
	            <li class="month-select" id="8">9</li>
	            <li class="month-select" id="9">10</li>
	            <li class="month-select" id="10">11</li>
	            <li class="month-select" id="11">12</li>
	            <li class="next-button"><i class="fa fa-chevron-right"></i></li>
	          </ul>
	        </div>
	      </div>
	      <div class="row">
	      	<div class="col-md-12" id="schedule"></div>
        </div>
			</div>
		</div>
	</section>

	<script type="text/template" id="template-calendar">
		<div class="clndr-controls clearfix scroller">
      <h2 class="month"><%= month %></h2>
      <h3 class="year"><%= year %></h3>
    </div>
    <div class="table-responsive">
    	<table class="table table-bordered table-striped table-condensed empDays">
    		<thead>
    			<tr>
    				<th>@Messages("employees.name")</th><% var workDays = 0; %>
    				<% _.each(days, function(day) { %>
    				<% if(day.date.format("MMMM") == month) { %>
    					<% var sch = _.filter(day.events, function(evnt) { return evnt.banket == true && evnt.banketDisabled == false; }); %>
            	<th class="<%= day.classes %> <% if(sch.length > 0) { %>hasbanket<% } %>"><%= day.day %></th>
            <% } %>
            <% }); %>
    			</tr>
    		</thead>
    		<tbody>
					@Employees.findSchedulers.map { emp =>
						<% var workDays = _.filter(eventsThisMonth, function(evnt) { return evnt.emp == @emp.id; }); %>
						<tr><td>@emp.firstname <span class="workDays badge pull-right bg-yellow no-print" data-empid="@emp.id"><%= workDays.length %></span>
							<span class="workDays pull-right hide-but-print" data-empid="@emp.id"><%= workDays.length %></span>
						</td>
							<% _.each(days, function(day) { %>
		    				<% if(day.date.format("MMMM") == month) { %>
	                <td data-empid="@emp.id" data-day='<%= day.day %>' class="<%= day.classes %> empDay"><% var g = _.filter(day.events, function(evnt) { return evnt.emp == '@emp.id'; }); %><% if(g.length > 0) { %>X<% } %>
	                </td>
		            <% } %>
		          <% }); %>
						</tr>
					}
				</tbody>
			</table>
		</div>
  </script>

}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/calendar/clndr.min.js")" type="text/javascript"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/schedule/schedule.js")" type="text/javascript"></script>
  <script>
  	groupname = "@groupname";
  	console.log(groupname);
  </script>
}

@styles = {
	<link href='@restoran.routes.Assets.at("stylesheets/libs/schedule/schedule.css")' rel='stylesheet' />
}