@(groupname: String, item: restoran.models.Employee, acts: List[core.models.activity.Activity])

@import templates._
@import restoran.views.html.main
@import restoran.views.html.activity.timeline

@main(groupname=groupname, nav="employees", scripts=scripts, styles=styles) {
	
	<section class="content-header">
    <h1>@Messages("menu.employees")<small>@item.toString</small></h1>
    <ol class="breadcrumb">
        <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
        <li><a href="@restoran.controllers.routes.Employees.index(groupname)"><i class="fa fa-user"></i> @Messages("menu.employees")</a></li>
        <li class="active">@item.toString</li>
    </ol>
  </section>

	<section class="content-navbar">
		<div class="nav-pills-custom">
	    <ul class="nav nav-pills">
	      <li class="active"><a href="@restoran.controllers.routes.Employees.view(groupname, item.id)">@Messages("menu.main")</a></li>
	      <li><a href="@restoran.controllers.routes.Employees.viewContacts(groupname, item.id)">@Messages("menu.contacts")</a></li>
	    </ul>
	  </div>
	</section>

  <section class="content">
  <div class="row">
  	<div class="col-md-8">
  		@timeline(acts)
  	</div>
		<div class="col-md-4">
	  	<div class="box box-solid">
	    	<div class="box-body">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th># @item.id</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>@Messages("employees.firstname")</td>
								<td><a class="editAttrs" href="#" data-pk="@item.profile" data-type="text" data-url="@restoran.controllers.routes.Profiles.editFirstname(item.profile)">@item.profile().firstname</a></td>
							</tr>
							<tr>
								<td>@Messages("employees.lastname")</td>
								<td><a class="editAttrs" href="#" data-pk="@item.profile" data-type="text" data-url="@restoran.controllers.routes.Profiles.editLastname(item.profile)">@item.profile().lastname</a></td>
							</tr>
							<tr>
								<td>@Messages("employees.salary")</td>
								<td><a class="editAttrs" href="#" data-pk="@item.id" data-type="number" data-url="@restoran.controllers.routes.Employees.editSalary(groupname, item.id)">@item.salary</a></td>
							</tr>
							<tr>
								<td>@Messages("employees.type")</td>
								<td><a class="editTypeAttr" href="#" data-pk="@item.id" data-type="select2" data-val="@item.employeeType" data-url="@restoran.controllers.routes.Employees.editEmployeeType(groupname, item.id)">@item.employeeType().title()</a></td>
							</tr>
							<tr>
								<td>@Messages("employees.displaySchedule")</td>
								<td><a class="editDisplayAttr" href="#" data-pk="@item.id" data-type="select" data-value="@item.displaySchedule" data-url="@restoran.controllers.routes.Employees.editDisplaySchedule(groupname, item.id)">@Messages("employees.displaySchedule." + item.displaySchedule)</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box-footer">
					@if(item.isDisabled){
						<a href="@restoran.controllers.routes.Employees.updateDisabled(groupname, item.id)" class="btn btn-success btn-small"><i class="fa fa-reply"></i> @Messages("action.enable")</a>
					} else {
						<a href="@restoran.controllers.routes.Employees.updateDisabled(groupname, item.id)" class="btn btn-danger btn-small"><i class="fa fa-trash-o"></i> @Messages("action.delete")</a>
					}
				</div>
			</div>
		</div>
	</div>
	</section>
}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/select/select2.min.js")"></script>
	<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
	<script>
		moment.lang('ru');
		$(".editAttrs").editable();
		$.each($(".labelDate"), function(index, value) {
	  	var m = moment(parseInt($(value).html())).format("DD MMM YYYY");
	  	$(value).html(m);
	  	$(value).css("text-transform", "capitalize");
	  });
	  $.each($("span.activitDate"), function(index, value) {
	  	var m = moment(parseInt($(value).html())).calendar();
	  	$(value).html(m);
	  });

	  $(".editTypeAttr").editable({
			select2: {
				placeholder: '@Messages("employees.type.select")',
				allowClear: true,
				ajax: {
					url: '/@groupname/data/employeeTypes',
					dataType: 'jsonp',
		      quietMillis: 100,
		      data: function (term, page) {
		        return {
		          q: term, page_limit: 10, page: page
		        };
		      },
		      results: function (data, page) {
		        return {results: data.results, more: data.more};
		      }
				},
				formatNoMatches: function () { return "@Messages("select2.noMatches")"; },
				formatLoadMore: function (pageNumber) { return "@Messages("select2.loadMore")"; },
				formatSearching: function () { return "@Messages("select2.searching")"; },
				formatResult: formatSelection,
				formatSelection: formatSelection,
				dropdownCssClass: "bigdrop"
			}
		});

		function formatSelection(meta) {
 	    return meta.title;
 	  }

 	  $(".editDisplayAttr").editable({
 	  	source: [
 	  		{value: "true", text: "@Messages("employees.displaySchedule.true")"},
 	  		{value: "false", text: "@Messages("employees.displaySchedule.false")"}
 	  	]
 	  });

	</script>	
}

@styles = {
	<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.css")" />
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.custom.css")" />
}