@import templates._

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/calc/app.js")" type="text/javascript"></script>
}

@main(scripts=scripts) {

	@restoran.controllers.Bankets.all().map { item =>
		<li><a href="@restoran.controllers.routes.Bankets.view(item.id)">@item.title</a></li>
	}

	<a href="@restoran.controllers.routes.Bankets.add()" class="btn btn-default">Add</a>
}
