@(groupname: String, itemType: String, page: Int = 0, pageSize: Int = 10)

@import restoran.views.html.main
@import core.views.html.helpers._

@main(groupname=groupname,nav="stock", scripts=scripts, styles=styles) {

<section class="content-header">
  <h1>@Messages("menu.stock")</h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li>@Messages("menu.stock")</li>
      <li class="active">@Messages("menu.ingredients")</li>
  </ol>
</section>

<section class="content-navbar">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
      <li class="@active(itemType, "ingredient")"><a href="@restoran.controllers.routes.Stock.index(groupname,"ingredient")">@Messages("menu.ingredient")</a></li>
      <li class="@active(itemType, "household")"><a href="@restoran.controllers.routes.Stock.index(groupname,"household")">@Messages("menu.household")</a></li>
      <li><a href="@restoran.controllers.routes.Stock.timeline(groupname,itemType)">@Messages("menu.timeline")</a></li>
    </ul>
  </div>
</section>

<section class="content">
	<div class="mailbox row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="box box-solid">
            <div class="box-body">
              <div class="row pad">
                <div class="col-sm-12 search-form">
                  <div class="input-group">                                                            
                    <input type="text" class="form-control input-sm" placeholder="@Messages("action.search")" id="filter" autofocus>
                    <div class="input-group-addon bg-blue" style="border-color:#0073b7;">
                      <i class="fa fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
      	      <div class="table-responsive">
      	      	<table class="table table-mailbox table-condensed" id="stockTable">
      	      		<thead style="border-top:1px solid #ddd;">
      	      			<tr><th>@Messages("ingredient.title")</th>
      	      			<th>@Messages("stock.amount")</th>
      	      			<th>@Messages("stock.locked")</th></tr>
      	      		</thead>
      	      		<tbody id="items">
      	      		</tbody>
      	      	</table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" id="itemInfo">

        </div>
      </div>
    </div>
  </div>
</section>
}

@scripts = {
  <link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.css")" />
	<script src="@restoran.routes.Assets.at("javascripts/libs/select/select2.min.js")"></script>
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.custom.css")" />
	<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
 	<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
 	<script src="@restoran.routes.Assets.at("javascripts/libs/xeditable/stock-available-amount.js")" type="text/javascript"></script>
 	<link href="@restoran.routes.Assets.at("stylesheets/libs/xeditable/supply-plugin.css")" rel="stylesheet">
 	<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/jquery.dataTables.js")"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/dataTables.bootstrap.js")"></script>
	<script>
	$(function() {
			var dataTable = $("#stockTable").dataTable({
				"bProcessing": true,
				"bServerSide": true,
				"sAjaxSource": "@restoran.controllers.routes.Stock.search(groupname=groupname,item=itemType)",
				"sDom":"t<'row'<'col-sm-12'p>>",
				"oLanguage": {
		      "oPaginate": {
		        "sNext": "@Messages("page.next")",
		        "sPrevious": "@Messages("page.prev")"
		      }
		    },
		    "iDisplayLength": @pageSize,
		    "iDisplayStart": @(page*pageSize)
			});

      $("#items").on('click', 'tr', function() {
        var tr = $(this),
          itemId = $(this).attr("id");

        jsRoutes.restoran.controllers.Stock.itemClick("@groupname", itemId).ajax({
          method: 'GET',
          success: function(tpl) {
            $('#itemInfo').empty();
            $('#itemInfo').html(tpl);
            mapInfo();
            $('tr').removeClass('selected');
            tr.addClass('selected');
          }
        });
      });

			$("#filter").keyup(function() {
				dataTable.fnFilter(this.value);
			});

      function mapInfo() {
        $('#addMeasureType').on('click', function(e) {
          e.preventDefault();
          $('#finalAmountForm').addClass('hidden');
          $('#newMeasureType').removeClass('hidden');
        });

        $('#cancelNewMeasureType').on('click', function(e) {
          e.preventDefault();
          $('#finalAmountForm').removeClass('hidden');
          $('#newMeasureType').addClass('hidden');
        });

        $('#newMeasureType').on('submit', function(e) {
          e.preventDefault();
          var form = $(e.target);
          jsRoutes.restoran.controllers.Items.addMeasureType("@groupname").ajax({
            data: form.serializeArray(),
            success: function() {
              $(form).trigger("reset");
            }
          });
        });

        $('#finalAmountForm').on('submit', function(e) {
          e.preventDefault();
          var form = $(e.target),
            itemType = form.attr('data-itemtype');
            console.log(itemType);

          jsRoutes.restoran.controllers.Stock.update("@groupname", itemType).ajax({
            data: form.serializeArray(),
            success: function(data) {
              $(form).trigger("reset");
              $('#itemInfo').empty();
              $('#itemInfo').html(data.tpl);
              $('span#amount'+data.id).text(data.amount);
              $('span#lock'+data.id).text(data.locked);
              mapInfo();
            }
          });
        });

        $("#addResult").on('click', function(e) {
          e.preventDefault();
          $("#finalResult").hide();
          $('#finalAmountForm').removeClass('hidden');
        });

        var oldratio = 1;

        $('select#resultMeasureType').change(function() {
          var dratio = $('select#resultMeasureType option:selected').attr('data-ratio'),
              sum = $(this).val(),
              amount = $('input#value').val();

          amount = amount*oldratio/dratio;
          $('input#value').val(amount);
          oldratio = dratio;
        })
      }

      mapInfo();
	});
	</script>	
}

@styles = {
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/dataTables/dataTables.bootstrap.css")">
}