@(item: restoran.models.Item)

@import restoran.models.StockItem
@import restoran.controllers.Items
@import restoran.controllers.Supplies

<div class="box box-solid"><div class="box-body">
	<h4 class="page-header">@item.title()</h4>
	<span><i class="fa fa-tags"></i> @item.tags</span>
	@defining(item.measureType()) { mt =>
	<table>
		<tr>
			<th>@Messages("stock.amount")</th>
			@if(mt == null){<td><span id="av@item.id">@StockItem.amountOf(item.id)</span></td>}
			@if(mt != null){<td><span id="av@item.id">@Items.transform(StockItem.amountOf(item.id), mt.transformRatio)</span> @mt.title()</td>}
		</tr>
		<tr>
			<th>@Messages("stock.locked")</th>
			@if(mt == null){<td><span id="bl@item.id">@StockItem.lockedOf(item.id)</span></td>}
			@if(mt != null){<td><span id="bl@item.id">@Items.transform(StockItem.lockedOf(item.id), mt.transformRatio)</span> @mt.title()</td>}
		</tr>
		<tr>
			<th>@Messages("stock.available")</th>
			@if(mt == null){<td><span id="bl@item.id">@StockItem.availableAmountOf(item.id)</span></td>}
			@if(mt != null){<td><span id="bl@item.id">@Items.transform(StockItem.availableAmountOf(item.id), mt.transformRatio)</span> @mt.title()</td>}
		</tr>
	</table>
	<h5 class="page-header"></h5>
	<form id="finalAmountForm" data-itemtype="@item.itemType.toString.toLowerCase">
		<table>
		@if(mt != null) {
		<tr>
			<th>@Messages("ingredient.measureType")</th>
			<td>
				<select name="measureType" id="resultMeasureType">
					@Items.measureTypes().map { measureType =>
	      		<option @("selected".when(measureType.id == mt.id)) data-ratio="@measureType.transformRatio" value="@measureType.id">@measureType.title()</option>	
	      	}
	      	@Items.measureTypes(item.id).map { measureType =>
	      		<option @("selected".when(measureType.id == mt.id)) data-ratio="@measureType.transformRatio" value="@measureType.id">@measureType.title()</option>	
	      	}
				</select>
				<a href="#" id="addMeasureType"><i class="fa fa-plus"></i> @Messages("items.measureType.add")</a>
			</td>
		</tr>
		}
		<tr>
			<th>@Messages("stock.balance")</th>
			<td><input type="number" step="0.01" name="value" min="0" required id="value"><input type="hidden" name="pk" value="@item.id"></td>
		</tr>
		<tr>
			<th><input type="submit" class="btn btn-primary btn-xs" value="@Messages("action.save")"></th>
			<td></td>
		</tr>
		</table>
	</form>
	<form id="newMeasureType" class="hidden">
		<table>
		<tr>
			<th>@Messages("items.measureType.add")</th>
			<td></td>
		</tr>
		<tr>
			<th>@Messages("items.measureType.title")</th>
			<td><input type="text" name="title"></td>
		</tr>
		<tr>
			<th>@Messages("items.measureType.netto")</th>
			<td><input type="number" step="0.01" name="netto"><input type="hidden" name="pk" value="@item.id"></td>
		</tr>
		<tr>
			<th><input type="submit" class="btn btn-primary btn-xs" value="@Messages("action.save")"> <a href="#" id="cancelNewMeasureType" class="btn btn-default btn-xs">@Messages("action.cancel")</a></th>
			<td></td>
		</tr>
		</table>
	</form>
	}
</div></div>