@(groupname:String, acts: List[core.models.activity.Activity], page: Int = 0, pageSize: Int = 10)

@import restoran.views.html.main

@main(groupname=groupname,nav="stock", scripts=scripts, styles=styles) {

<section class="content-header">
  <h1>@Messages("menu.stock")</h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li><a href="@restoran.controllers.routes.Stock.index(groupname,"")">@Messages("menu.stock")</a></li>
      <li class="active">@Messages("menu.timeline")</li>
  </ol>
</section>

<section class="content-navbar">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
      <li><a href="@restoran.controllers.routes.Stock.index(groupname,"")">@Messages("menu.main")</a></li>
      <li class="active"><a href="@restoran.controllers.routes.Stock.timeline(groupname,"")">@Messages("menu.timeline")</a></li>
    </ul>
  </div>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-8">
      @restoran.views.html.activity.timeline(acts)
    </div>
  </div>
</section>
}

@scripts = {
  <link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.css")" />
	<script src="@restoran.routes.Assets.at("javascripts/libs/select/select2.min.js")"></script>
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.custom.css")" />
	<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
 	<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
 	<script src="@restoran.routes.Assets.at("javascripts/libs/xeditable/stock-available-amount.js")" type="text/javascript"></script>
 	<link href="@restoran.routes.Assets.at("stylesheets/libs/xeditable/supply-plugin.css")" rel="stylesheet">
 	<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/jquery.dataTables.js")"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/dataTables.bootstrap.js")"></script>
	<script>
	$(function() {
			var dataTable = $("#stockTable").dataTable({
				"bProcessing": true,
				"bServerSide": true,
				"sAjaxSource": "@restoran.controllers.routes.Stock.search(groupname=groupname,item="ingredients")",
				"sDom":"t<'row'<'col-sm-12'p>>",
				"oLanguage": {
		      "oPaginate": {
		        "sNext": "@Messages("page.next")",
		        "sPrevious": "@Messages("page.prev")"
		      }
		    },
		    "iDisplayLength": @pageSize,
		    "iDisplayStart": @(page*pageSize),
		    "fnRowCallback": function(nRow, aData, iDisplayIndex) {
		    	map(this, nRow, aData, iDisplayIndex);
		    }
			});

			function map(elem, nRow, aData, iDisplayIndex) {
				var edit = $(".stockAmount", $(nRow));
				$(edit).editable({
					type: 'stock',
					success: function(data) {
						$("#av" + data.id).html(data.available);
					}
				});
			}

			$("#filter").keyup(function() {
				dataTable.fnFilter(this.value);
			});
	});
	</script>	
}

@styles = {
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/dataTables/dataTables.bootstrap.css")">
}