@(groupname: String)

@import restoran.views.html.main
@import restoran.controllers.Supplies

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")" type="text/javascript"></script>
	<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
 	<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>

<script>
	moment.lang('ru');

  function makeit() {
  	var dates = $(".supplyDate");
  	$.each(dates, function(index, value) {
  		var mnt = moment($(value).text(), 'DD.MM.YYYY');
  		$(value).text(mnt.format("D MMMM YYYY"));
  	});
  }

  makeit();
</script>
}

@main(groupname=groupname,nav="supplies", scripts=scripts) {
<section class="content-header">
  <h1>@Messages("menu.supplies")</h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li class="active">@Messages("menu.supplies")</li>
  </ol>
</section>

<section class="content-navbar">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
	  	<li class="active"><a href="@restoran.controllers.routes.Supplies.index(groupname)">@Messages("menu.main")</a></li>
	    <li><a href="@restoran.controllers.routes.Supplies.lists(groupname)">@Messages("supplies.lists")</a></li>
    </ul>
  </div>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-8">
		  <div class="box box-solid">
		    <div class="box-body">
					<table class="table">
						<thead>
							<tr>
								<th>@Messages("supplies.date")</th>
								<th>@Messages("supplies.amount")</th>
							</tr>
						</thead>
						<tbody>@Supplies.findSupplies.map { item =>
							<tr>
								<td><a href="@restoran.controllers.routes.Supplies.viewByDate(groupname,item.date.format("yyyy/MM/dd"))" class="supplyDate">@item.date.format("dd.MM.yyyy")</a></td>
								<td>@item.count</td>
							</tr>}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

}