@(item: restoran.models.SupplyItemTemp, date: Date)

@import restoran.models.StockItem
@import restoran.controllers.Items
@import restoran.controllers.Supplies

<div class="box box-solid"><div class="box-body">
	<h4 class="">@item.item. @item.item().title()</h4>
	@defining(item.item().measureType()) { mt =>
	<table>
		<tr>
			<th>@Messages("supplies.need.amount")</th>
			<td><span id="ov@item.item" class="ovdata">@Items.transform((item.amount-item.locked), mt.transformRatio)</span> @mt.title()</td>
		</tr>
		<tr>
			<th>@Messages("supplies.stock.amount")</th>
			<td><span id="av@item.item">@Items.transform(StockItem.availableAmountOf(item.item), mt.transformRatio)</span> @mt.title()</td>
		</tr>
		<tr>
			<th>@Messages("supplies.stock.blocked")</th>
			<td><span id="bl@item.item">@Items.transform(item.locked, mt.transformRatio)</span> @mt.title()</td>
		</tr>
		<tr>
			<th>@Messages("supplies.need.overall")</th>
			<td>@Items.transform(item.amount, mt.transformRatio) @mt.title()</td>
		</tr>
	</table>
	
	<h5 class="page-header"><small></small></h5>
	<div class="box-group" id="accordion">
		<div class="panel box box-info">
			<div class="box-header">
				<h4 class="box-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">@Messages("supplies.result")</a></h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
				<div class="box-body">
					@defining(Supplies.getSupplyResults(item.item, date)) { suppItemResults =>
						@if(suppItemResults != null && suppItemResults.size > 0) {
							@result(suppItemResults, item.item().measureType())
							@resultInput(item.item().measureType(), isHidden=true)
						} else {
							@resultInput(item.item().measureType())
						}
					}
				</div>
			</div>
		</div>
		<div class="panel box box-danger">
			<div class="box-header">
				<h4 class="box-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">@Messages("supplies.foods")</a></h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
				<div class="box-body">
				<table class="table table-condensed">
				@defining(Supplies.findListForIngredient(item.item, date.format("yyyy-MM-dd"))) { itemAmountList =>
					@if(itemAmountList != null && itemAmountList.size > 0) {
					<tbody>
						@itemAmountList.map { food =>
						<tr>
							<td>@food.title</td><td>@food.amount</td><td>@food.description</td>
						<tr>
						}
					</tbody>
					}
				}
				</table>
				</div>
			</div>
		</div>
	</div>
	}
</div></div>

@resultInput(mt: restoran.models.ItemMeasureType, isHidden: Boolean = false) = {
<form id="finalAmountForm" @if(isHidden){class="hidden"}>
	<table>
	<tr>
		<th>@Messages("ingredient.measureType")</th>
		<td>
			<select name="measureType" id="resultMeasureType">
				@Items.measureTypes().map { measureType =>
      		<option @("selected".when(measureType.id == mt.id)) data-ratio="@measureType.transformRatio" value="@measureType.id">@measureType.title()</option>	
      	}
      	@Items.measureTypes(item.item).map { measureType =>
      		<option @("selected".when(measureType.id == mt.id)) data-ratio="@measureType.transformRatio" value="@measureType.id">@measureType.title()</option>	
      	}
			</select>
			<a href="#" id="addMeasureType"><i class="fa fa-plus"></i> @Messages("items.measureType.add")</a>
		</td>
	</tr>
	<tr>
		<th>@Messages("supplies.final.amount")</th>
		<td><input type="number" step="0.01" name="amount" min="0.01" required id="amount"><input type="hidden" name="item" value="@item.item"></td>
	</tr>
	<tr>
		<th>@Messages("supplies.final.price")</th>
		<td><input type="number" name="price" min="1" id="price" step="0.1"></td>
	</tr>
	<tr>
		<th>@Messages("supplies.final.sum")</th>
		<td><input type="number" name="sum" required min="1" id="sum"></td>
	</tr>
	<tr>
		<th>@Messages("supplies.final.tostock")</th>
		<td><input type="checkbox" name="tostock" checked></td>
	</tr>
	<tr>
		<th><input type="submit" class="btn btn-primary btn-xs" value="@Messages("action.save")"></th>
		<td></td>
	</tr>
	</table>
</form>
<form id="newMeasureType" class="hidden">
	<table>
	<tr>
		<th>@Messages("items.measureType.add")</th>
		<td></td>
	</tr>
	<tr>
		<th>@Messages("items.measureType.title")</th>
		<td><input type="text" name="title"></td>
	</tr>
	<tr>
		<th>@Messages("items.measureType.netto")</th>
		<td><input type="number" step="0.01" name="netto"><input type="hidden" name="pk" value="@item.item"></td>
	</tr>
	<tr>
		<th><input type="submit" class="btn btn-primary btn-xs" value="@Messages("action.save")"> <a href="#" id="cancelNewMeasureType" class="btn btn-default btn-xs">@Messages("action.cancel")</a></th>
		<td></td>
	</tr>
	</table>
</form>
}