@(groupname: String, page: Int = 0, pageSize: Int = 10)

@import restoran.views.html.main
@import restoran.controllers.Supplies

@styles = {
<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
<link rel="stylesheet" href="@restoran.routes.Assets.at("stylesheets/libs/picker/default.css")" id="theme_base">
<link rel="stylesheet" href="@restoran.routes.Assets.at("stylesheets/libs/picker/default.date.css")" id="theme_date">
<link rel="stylesheet" href="@restoran.routes.Assets.at("stylesheets/libs/picker/default.time.css")" id="theme_time">
}

@scripts = {
<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")" type="text/javascript"></script>
<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/picker/picker.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/picker/picker.date.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/picker/picker.time.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/picker/translations/ru_RU.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/jquery.dataTables.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/dataTables.bootstrap.js")"></script>

<script>
	moment.lang('ru');

  function makeit() {
  	var dates = $(".supplyDate");
  	$.each(dates, function(index, value) {
  		var mnt = moment($(value).text(), 'DD.MM.YYYY');
  		$(value).text(mnt.format("DD MMMM YYYY"));
  	});

  	$('input#date').pickadate({
			formatSubmit: 'dd.mm.yyyy',
			min: true,
			hiddenSuffix: ''
		});
  }

  makeit();

	var dataTable = $("#suppliesTable").dataTable({
		"aaSorting": [[ 0, "desc" ]],
		"bProcessing": true,
		"bServerSide": true,
		"sAjaxSource": "@restoran.controllers.routes.Supplies.searchLists(groupname)",
		"sDom":"t<'row'<'col-sm-12'p>>",
		"oLanguage": {
      "oPaginate": {
        "sNext": "@Messages("page.next")",
        "sPrevious": "@Messages("page.prev")"
      }
    },
    "iDisplayLength": @pageSize,
    "iDisplayStart": @(page*pageSize),
    "fnRowCallback": function(nRow, aData, iDisplayIndex) {
    	map(this, nRow, aData, iDisplayIndex);
    }
	});

	$("#filter").keyup(function() {
		dataTable.fnFilter(this.value);
	});

	function map(elem, nRow, aData, iDisplayIndex) {
		var date = $(".date", $(nRow));
		$.each(date, function(index, value) {
  		$(value).text(moment($(value).text(), "DD/MM/YYYY").format("D MMMM YYYY"));
  	});
	}
</script>
}

@main(groupname=groupname,nav="supplies", scripts=scripts, styles=styles) {
<section class="content-header">
  <h1>@Messages("menu.supplies")</h1>
  <ol class="breadcrumb">
      <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
      <li class="active">@Messages("menu.supplies")</li>
  </ol>
</section>

<section class="content-navbar">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
	  	<li><a href="@restoran.controllers.routes.Supplies.index(groupname)">@Messages("menu.main")</a></li>
	    <li class="active"><a href="@restoran.controllers.routes.Supplies.lists(groupname)">@Messages("supplies.lists")</a></li>
    </ul>
  </div>
</section>

<section class="content">
<div class="row"><div class="col-md-12">
  <div class="mailbox row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-body">
					<div class="row">
						<div class="col-md-8">
							<div class="table-responsive">
								<table class="table table-mailbox" id="suppliesTable">
                  <thead style="border-top:1px solid #ddd;">
										<tr>
											<th>@Messages("supplies.date")</th>
											<th>@Messages("supplies.name")</th>
											<th>@Messages("main.item.creator")</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="col-md-4">				
							<div class="box-header">
	          		<i class="fa fa-plus"></i>
	          		<h3 class="box-title">@Messages("supplies.list.add")</h3>
	          	</div>
							<form class="form" role="form" action="@restoran.controllers.routes.Supplies.add(groupname)" method="POST">
					  		<div class="form-group">
							    <label class="control-label" for="date">@Messages("supplies.date")</label>
							    <input type="text" class="form-control input-sm" name="date" id="date" placeholder="@Messages("supplies.date.enter")">
							  </div>
					  		<div class="form-group">
					  			<label class="control-label" for="title">@Messages("supplies.name")</label>
					    		<input type="text" class="form-control input-sm" name="title" id="title" placeholder="@Messages("supplies.name.enter")">
					  		</div>
					  		
							  <button type="submit" class="btn btn-success btn-block"><i class="fa fa-plus"></i> @Messages("action.add")</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

}