@(res: List[restoran.models.SupplyItemTemp])

@import restoran.views.html.main
@import restoran.models.StockItem
@import restoran.controllers.Items

<div class="row hide-but-print">
	@for(i <- 0 to res.size - 1) {
		@if(i != 0 && i % (res.size/3) == 0) {
			</tbody></table></div>
		}
		@if(i == 0 || i % (res.size/3) == 0)  {
			<div class="col-xs-4"><table class="table table-condensed">
				<tbody class="list">
		}
		@defining(res.get(i)) { items =>
		@defining(items.item().measureType()) { mt =>
			<tr class="hide-but-print no-print" id="noprint@items.item">
				@if(mt != null) {
				<td style="padding-top:2px;padding-bottom:2px;font-size:9px;">@items.item().title() - <span id="ov@items.item">@Items.transform((items.amount-items.locked), mt.transformRatio)</span> @mt.title() _________</td>
				} else {
				<td style="padding-top:2px;padding-bottom:2px;font-size:9px;">@items.item().title() - <span id="ov@items.item">@(items.amount-items.locked)</span> _________</td>
				}
			</tr>
		}}
		@if(i == res.size -1) {
			</tbody></table></div>
		}
	}
</div>