@(groupname: String, date: Date, list: List[restoran.models.SupplyItemTemp], supps: List[restoran.models.Supply])

@import restoran.views.html.main
@import restoran.controllers.Orders
@import restoran.controllers.Supplies
@import restoran.controllers.Items
@import restoran.models.StockItem

@main(groupname=groupname,nav="supplies", scripts=scripts) {
<section class="content-header">
	<h1>@Messages("menu.supplies")<small class="date">@date.format("yyyy/MM/dd")</small></h1>
  <ol class="breadcrumb">
    <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
    <li><a href="@restoran.controllers.routes.Supplies.index(groupname)"><i class="fa fa-shopping-cart"></i> @Messages("menu.supplies")</a></li>
    <li class="active date">@date.format("yyyy/MM/dd")</li>
  </ol>
</section>

<section class="content-navbar no-print">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
    	<li><a href="@restoran.controllers.routes.Supplies.viewByDate(groupname,date.format("yyyy/MM/dd"))">@Messages("menu.main")</a></li>
      <li class="active"><a href="@restoran.controllers.routes.Supplies.previewByDate(groupname,date.format("yyyy/MM/dd"))">@Messages("menu.preview")</a></li>
    </ul>
  </div>
</section>

<section class="content invoice">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="page-header">
				<i class="fa fa-shopping-cart"></i> <span class="date">@date.format("yyyy/MM/dd")</span>
				<button class="btn btn-default btn-sm pull-right btn-flat no-print" onclick="window.print();"><i class="fa fa-print"></i> @Messages("action.print")</button>
			</h2>                            
		</div>
	</div>

  <div class="row">
    <div class="col-xs-12 table-responsive">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>@Messages("supplies.title")</th>
						<th>@Messages("supplies.need.amount")</th>
						<th>@Messages("supplies.stock.amount")</th>
						<th>@Messages("supplies.stock.blocked")</th>
						<th>@Messages("supplies.need.overall")</th>
						<th>@Messages("supplies.final.amount")</th>
						<th>@Messages("supplies.final.price")</th>
						<th>@Messages("supplies.final.sum")</th>
          </tr>                                    
        </thead>
        <tbody>@list.map { items => 
					@defining(items.item().measureType()) { mt =>
						<tr>
							<td>@items.item().title()</td>
							<td>@items.amount</td>
							<td>@StockItem.amountOf(items.item)</td>
							<td>@items.locked</td>
							<td>@(items.amount-items.locked)</td>
							@defining(Supplies.getSupplyResults(items.item, date)) { suppItemResults =>
							@defining(suppItemResults.foldLeft(0.0)(_ + _.finalAmount)) { finalAmount => 
							@defining(suppItemResults.foldLeft(0.0)(_ + _.sum)) { sum => 
								<td>@finalAmount</td>
								<td>@if(sum != 0 && finalAmount != 0) { @Math.round((sum / finalAmount) * 1000) } else { 0 }</td>
								<td>@sum</td>
							}}}
						</tr>
						}}
        </tbody>
      </table>                            
    </div><!-- /.col -->
  </div><!-- /.row -->

  <div class="row">
      <!-- accepted payments column -->
		<div class="col-xs-6">
		  <p class="lead">@Messages("supplies.lists"): @supps.size</p>
		  <ol>
			@supps.map { supp =>
				<li>@supp.title<br></li>
			}
			</ol>
		</div><!-- /.col -->
    <div class="col-xs-6">
    	<p class="lead">Итого: @Supplies.getSupplyResultSum(date)</p>
    </div>
  </div>

	<!-- this row will not appear when printing -->
	<div class="row no-print" style="margin-top: 20px;">
		<div class="col-xs-12">
		  <button class="btn btn-default btn-flat" onclick="window.print();"><i class="fa fa-print"></i> @Messages("action.print")</button>
		</div>
	</div>
</section><!-- /.content -->
}

@scripts = {
<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")" type="text/javascript"></script>
<script>
	moment.lang('ru');
	var text = $(".date");
	$.each(text, function(index, value) {
		console.log($(value).text);
		$(value).text(moment($(value).text(), "YYYY/MM/DD").format("DD MMMM YYYY"));
	});
</script>
}