@(suppItemResults: List[restoran.models.SupplyItemResult], mt: restoran.models.ItemMeasureType)
<div id="finalResult">
	<a href="#" class="btn btn-default btn-xs" id="addResult"><i class="fa fa-plus"></i> @Messages("supplies.final.result.add")</a>
	<table class="table table-condensed">
		<tr>
			<th style="border-top:none;">@Messages("supplies.date")</th>
			@suppItemResults.map { e =>
				<td style="border-top:none;">@e.dateCreated.format("dd.MM.yyyy")</td>
			}
		</tr>
		<tr>
			<th>@Messages("ingredient.measureType")</th>
			@suppItemResults.map { e => <td>@mt.title()</td> }
		</tr>
		<tr>
			<th>@Messages("supplies.final.amount")</th>
			@suppItemResults.map { e => <td>@(e.finalAmount / mt.transformRatio)</td> }
		</tr>
		@**<tr>@if(i == 0) {
			<th>@Messages("supplies.final.price.short")</th>}
			<td>@e.singlePrice</td>
		</tr>**@
		<tr>
			<th>@Messages("supplies.final.sum")</th>
			@suppItemResults.map { e => <td>@e.sum</td> }
		</tr>
	</table>
	<table>
	<tr>
		<th>@Messages("supplies.final.sum.overall")</th>
		<td>@suppItemResults.foldLeft(0.0)(_ + _.sum)</td>
	</tr>
	<tr>
		<th>@Messages("supplies.final.amount.overall")</th>
		<td>@suppItemResults.foldLeft(0.0)(_ + _.finalAmount)</td>
	</tr>
</table>
</div>