@(groupname: String, date: Date, res: List[restoran.models.SupplyItemTemp])

@import restoran.views.html.main
@import restoran.models.StockItem
@import restoran.controllers.Items
@import restoran.controllers.Supplies

@main(groupname=groupname,nav="supplies", scripts=scripts) {
<section class="content-header">
  <h1>@Messages("menu.supplies")<small class="date">@date.format("yyyy/MM/dd")</small></h1>
  <ol class="breadcrumb">
    <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
    <li><a href="@restoran.controllers.routes.Supplies.index(groupname)"><i class="fa fa-shopping-cart"></i> @Messages("menu.supplies")</a></li>
    <li class="active date">@date.format("yyyy/MM/dd")</li>
  </ol>
</section>

<section class="content-navbar no-print">
	<div class="nav-pills-custom">
    <ul class="nav nav-pills">
	  	<li class="active"><a href="@restoran.controllers.routes.Supplies.viewByDate(groupname,date.format("yyyy/MM/dd"))">@Messages("menu.main")</a></li>
	    <li><a href="@restoran.controllers.routes.Supplies.previewByDate(groupname,date.format("yyyy/MM/dd"))">@Messages("menu.preview")</a></li>
    </ul>
  </div>
</section>

<section class="content">
  <div class="mailbox row">
    <div class="col-xs-12">
			<div class="row">
				<div class="col-md-6" id="ingredients">
					<div class="box box-solid">
        		<div class="box-body">
							<div class="row pad no-print">
								<div class="col-sm-12">
								    <label style="margin-right: 10px;">
								        <input type="checkbox" id="check-all"/>
								    </label>
								    <!-- Action button -->
								    <a href="#" class="btn btn-sm btn-flat btn-default block">@Messages("supplies.action.block")</a>
								    <a href="#" class="btn btn-sm btn-flat btn-default unblock">@Messages("supplies.action.unblock")</a>
								</div>
							</div>
							<div class="row pad no-print">
	                <div class="col-sm-12 search-form">
                    <div class="input-group">                                                            
	                    <input type="text" class="form-control input-sm search" placeholder="@Messages("action.search")" id="filter">
	                    <div class="input-group-btn">
                          <button class="sort btn btn-sm btn-primary btn-flat" data-sort="title"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
	              </div>
	            <div class="table-responsive no-print">
								<table class="table table-condensed">
									<tr class="no-print">
										<th>@Messages("supplies.title")</th>
										<th>@Messages("supplies.need.amount")</th>
									</tr>
									<tbody class="list">@res.map { items =>
									@defining(items.item().measureType()) { mt =>
									<tr class="no-print" data-item-id="@items.item" style="cursor:pointer;">
										<td class="name"><span class="handle"><i class="fa fa-ellipsis-v text-gray"></i><i class="fa fa-ellipsis-v text-gray"></i></span>
										<span style="margin-left:5px; margin-right:5px;"><input type="checkbox" class="checker" data-id="@items.item"/></span>
										<span class="title">@items.item().title()</span></td>
										@if(mt != null) {
											<td><span id="ov@items.item">@Items.transform(items.amount-items.locked, mt.transformRatio)</span> @mt.title()</td>
										} else {
											<td><span id="ov@items.item">@(items.amount-items.locked)</span></td>
										}
									</tr>
									}}</tbody>
								</table>
							</div>

							@noprint(res)
						</div>
					</div>
				</div>
				<div class="scroller_anchor"></div>
				<div class="col-md-6 no-print scroller" id="itemInfo">
					@itemInfo(res.get(0), date)
				</div>
			</div>
		</div>
	</div>
</section>
}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/jquery-ui-1.10.3.js")" type="text/javascript"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")" type="text/javascript"></script>
	<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
 	<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
 	<script src="@restoran.routes.Assets.at("javascripts/libs/list/list.min.js")"></script>
 	<script src="@restoran.routes.Assets.at("javascripts/libs/icheck/icheck.js")" type="text/javascript"></script>
 	<script src="@restoran.routes.Assets.at("javascripts/libs/xeditable/supply-final-amount.js")" type="text/javascript"></script>
 	<link href="@restoran.routes.Assets.at("stylesheets/libs/xeditable/supply-plugin.css")" rel="stylesheet">

<script>
	moment.lang('ru');

  function makeit() {
  	var text = $(".date");
  	$.each(text, function(index, value) {
  		$(value).text(moment($(value).text(), "YYYY/MM/DD").format("DD MMMM YYYY"));
  	});
  	$(".handle").css("cursor", "move");

  	$("tr").on('click', function() {
  		var tr = $(this),
  				itemId = $(this).attr("data-item-id");

  		jsRoutes.restoran.controllers.Supplies.itemClick("@groupname", itemId, "@date.format("yyyy/MM/dd")").ajax({
  			method: 'GET',
  			success: function(tpl) {
  				$('#itemInfo').empty();
  				$('#itemInfo').html(tpl);
  				mapInfo();
  				$('tr').removeClass('selected');
  				tr.addClass('selected');
  			}
  		});
  	});
  }

  function mapInfo() {
  	$('#addMeasureType').on('click', function(e) {
  		e.preventDefault();
  		$('#finalAmountForm').addClass('hidden');
  		$('#newMeasureType').removeClass('hidden');
  	});

  	$('#cancelNewMeasureType').on('click', function(e) {
  		e.preventDefault();
  		$('#finalAmountForm').removeClass('hidden');
  		$('#newMeasureType').addClass('hidden');
  	});

  	$('#newMeasureType').on('submit', function(e) {
  		e.preventDefault();
  		var form = $(e.target);
  		jsRoutes.restoran.controllers.Items.addMeasureType("@groupname").ajax({
				data: form.serializeArray(),
				success: function() {
					$(form).trigger("reset");
				}
	    });
  	});

  	$('#finalAmountForm').on('submit', function(e) {
  		e.preventDefault();
  		var form = $(e.target);
  		jsRoutes.restoran.controllers.Supplies.finalAmount("@groupname", "@date.format("yyyy/MM/dd")").ajax({
				data: form.serializeArray(),
				success: function(data) {
					$(form).trigger("reset");
					$('#itemInfo').empty();
  				$('#itemInfo').html(data.tpl);
  				$('span#ov'+data.id).text($('.ovdata').text());
  				mapInfo();
				}
	    });
  	});

  	$("#addResult").on('click', function(e) {
  		e.preventDefault();
  		$("#finalResult").hide();
  		$('#finalAmountForm').removeClass('hidden');
  	});

  	var oldratio = 1;

  	$('select#resultMeasureType').change(function() {
  		var dratio = $('select#resultMeasureType option:selected').attr('data-ratio'),
  				sum = $(this).val(),
  				amount = $('input#amount').val();

  		amount = amount*oldratio/dratio;
  		$('input#amount').val(amount);
  		oldratio = dratio;

  		$('input#price').val(parseInt(sum/amount));
  	})

  	$('input#sum').keyup(function() {
  		var dratio = $('select#resultMeasureType option:selected').attr('data-ratio'),
  				sum = $(this).val(),
  				amount = $('input#amount').val();
  		$('input#price').val(parseInt(sum/amount));
  	});

  	$('input#amount').keyup(function() {
  		var dratio = $('select#resultMeasureType option:selected').attr('data-ratio'),
  				amount = $(this).val(),
  				sum = $('input#sum').val();
  		$('input#price').val(parseInt(sum/amount));
  	});

  	$('input#price').keyup(function() {
  		var price = $(this).val(),
  				amount = $('input#amount').val();
  		$('input#sum').val(price*amount);
  	});
  }

  mapInfo();

  $('input[type="checkbox"]').iCheck({
	  checkboxClass: 'icheckbox_minimal',
	  radioClass: 'iradio_minimal',
	});

	//When unchecking the checkbox
	$("#check-all").on('ifUnchecked', function(event) {
	  //Uncheck all checkboxes
	  $("input[type='checkbox']", ".table").iCheck("uncheck");
	});
	//When checking the checkbox
	$("#check-all").on('ifChecked', function(event) {
	  //Check all checkboxes
	  $("input[type='checkbox']", ".table").iCheck("check");
	});

	$("tbody").sortable({
	  placeholder: "sort-highlight",
	  handle: ".handle",
	  forcePlaceholderSize: true,
	  zIndex: 1
	}).disableSelection();

	$(".checker").on('ifChecked', function(e) {
		var id = $(this).attr('data-id');
		$("tr#noprint" + id).removeClass("no-print");
		console.log(">>>> " + id);
	});

	$(".checker").on('ifUnchecked', function(e) {
		var id = $(this).attr('data-id');
		console.log(">>>> " + id);
		$("tr#noprint" + id).addClass("no-print");
	});

	$("a.block").on("click", function(e) {
		e.preventDefault();
		var arr = [];
		$.each($("input.checker:checked"), function(i, v) {
			arr[i] = $(v).attr('data-id');
		});

		jsRoutes.restoran.controllers.Supplies.block("@groupname").ajax({
			data: {
				arr: arr,
				date: "@date.format("yyyy/MM/dd")"
			},
			type: 'PUT',
			success: function(response) {
				console.log(response);
				if(response.result === "success") {
					for(var i = 0; i < response.arr.length; i++) {
						var id = response.arr[i].id,
								av = response.arr[i].available,
								bl = response.arr[i].locked,
								ov = response.arr[i].overall;

						console.log(id, av, bl, ov);		
						$("span#av" + id).html(av);
						$("span#bl" + id).html(bl);
						$("span#ov" + id).html(ov);
					}
				}
			}
		});
	});

	$("a.unblock").on("click", function(e) {
		e.preventDefault();
		var arr = [];
		$.each($("input.checker:checked"), function(i, v) {
			arr[i] = $(v).attr('data-id');
		});

		jsRoutes.restoran.controllers.Supplies.unblock("@groupname").ajax({
			data: {
				arr: arr,
				date: "@date.format("yyyy/MM/dd")"
			},
			type: 'PUT',
			success: function(response) {
				console.log(response);
				if(response.result === "success") {
					for(var i = 0; i < response.arr.length; i++) {
						var id = response.arr[i].id,
								av = response.arr[i].available,
								bl = response.arr[i].locked,
								ov = response.arr[i].overall;

						$("span#av" + id).html(av);
						$("span#bl" + id).html(bl);
						$("span#ov" + id).html(ov);
					}
				}
			}
		});
	});

	$('.finalAmount').editable({
	  success: function(data) {
	  	console.log(data);
	  	$('td#price' + data.id).html(data.price);
	  	$('td#sum' + data.id).html(data.sum);
	  }
	});      

  makeit();

  var options = {
  	valueNames: ['title']
  },
  ingrList = new List('ingredients', options);

  $(window).scroll(function(e) {
    // Get the position of the location where the scroller starts.
    var scroller_anchor = $(".scroller_anchor").offset().top;
     
    // // Check if the user has scrolled and the current position is after the scroller start location and if its not already fixed at the top
    if ($(this).scrollTop() >= scroller_anchor && $('.scroller').css('position') != 'fixed')
    {    // Change the CSS of the scroller to hilight it and fix it at the top of the screen.
    		var width = $('.scroller').css('width');
        $('.scroller').css({
            'position': 'fixed',
            'top': '51px',
            'right': '0px',
            'height': '90%',
            'overflow': 'auto',
            'width': width
        });
        // Changing the height of the scroller anchor to that of scroller so that there is no change in the overall height of the page.
        $('.scroller_anchor').css('height', '50px');
    }
    else if ($(this).scrollTop() < scroller_anchor && $('.scroller').css('position') != 'relative')
    {    // If the user has scrolled back to the location above the scroller anchor place it back into the content.
         
        // Change the height of the scroller anchor to 0 and now we will be adding the scroller back to the content.
        $('.scroller_anchor').css('height', '0px');
         
        // Change the CSS and put it back to its original position.
        $('.scroller').css({
            'position': 'relative',
            'top': '0',
            'right': '0',
            'width': '50%'
        });
    }
});
</script>
}