@(groupname: String, item: restoran.models.Supply, list: List[restoran.models.SupplyItem], isEditable: Boolean = true)

@import restoran.views.html.main
@import restoran.models.StockItem
@import restoran.controllers.Items
@import restoran.controllers.Supplies

@main(groupname=groupname,nav="supplies", scripts=scripts) {
<section class="content-header no-print">
  <h1>@Messages("supplies.list")<small><span class="supplyTitle">@if(item.title.length < 20) {@item.title} else { @item.title.substring(0, 20)}</span> <span class="date">@item.date.getTime.format("yyyy/MM/dd")</span></small></h1>
  <ol class="breadcrumb">
    <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
    <li><a href="@restoran.controllers.routes.Supplies.lists(groupname)"><i class="fa fa-shopping-cart"></i> @Messages("supplies.lists")</a></li>
    <li class="active"><span class="supplyTitle">@if(item.title.length < 20) {@item.title} else { @item.title.substring(0, 20)}</span> <span class="date">@item.date.getTime.format("yyyy/MM/dd")</span></li>
  </ol>
</section>

<section class="content">
  <div class="mailbox row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-body">
					<div class="row">
						<div class="col-md-8" id="items">
							<div class="row pad">
								<div class="col-md-7">
									<h4><i class="fa fa-calendar"></i> @Messages("supplies.date"): <a href="#" class="supplyDate @("disabled".when(!isEditable))" data-url="@restoran.controllers.routes.Supplies.editSupplyDate(groupname,item.id)" data-pk="@item.id" data-type="combodate">@item.date.getTime.format("yyyy/MM/dd")</a></h4>
									<p><a href="#" class="editTitle" data-pk="@item.id" data-url="@restoran.controllers.routes.Supplies.editSupplyTitle(groupname,item.id)">@item.title</a></p>
								</div>
								<div class="col-md-5 search-form no-print">
                  <div class="input-group">                                                            
                    <input type="text" class="form-control input-sm search" placeholder="@Messages("action.search")" id="filter">
                    <div class="input-group-btn">
                        <button class="sort btn btn-sm btn-primary btn-flat" data-sort="title"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>    
	            <div class="table-responsive">
								<table class="table table-condensed">
									<tr>
										<th>@Messages("supplies.title")</th>
										<th>@Messages("supplies.need.amount")</th>
										<th class="no-print">@Messages("action.delete")</th>
									</tr>
									<tbody class="list" id="itemsBody">@list.map { items =>
									@defining(items.item().measureType()) { mt =>
										<tr id="item@items.id">
											<td><span class="title">@items.item().title()</span></td>
											<td><a class="editItemAttrs" href="#" data-pk="@items.id" data-url="/@groupname/management/supplies/lists/@item.id/items/@items.id/amount">@Items.transform(items.amount, mt.transformRatio)</a> @mt.title()</td>
											<td class="no-print"><a href="#" data-id="@items.id" class="deleteItem btn btn-default btn-xs btn-flat @("disabled".when(!isEditable))"><i class="fa fa-times"></i> @Messages("action.delete")</a></td>
										</tr>
									}}</tbody>
								</table>
							</div>
						</div>
					<div class="col-md-4 no-print">				
						<div class="box-header">
          		<i class="fa fa-plus"></i>
          		<h3 class="box-title">@Messages("supplies.add")</h3>
          	</div>
						<form class="form itemform" role="form">
				  		<div class="form-group">
						    <label class="control-label" for="title">@Messages("supplies.title")</label>
						    <input type="hidden" style="width:100%; height:30px;" id="selectItem" data-url="/@groupname/data/items" name="item" class="selectItem" placeholder="@Messages("supplies.item.select")" required>
						  </div>
				  		<div class="form-group">
				  			<label class="control-label" for="amount">@Messages("supplies.need.amount")</label>
				    		<input type="number" class="form-control input-sm" step="0.1" name="amount" id="amount" placeholder="@Messages("supplies.amount.enter")">
				  		</div>
				  		
						  <button type="submit" class="btn btn-success btn-block @("disabled".when(!isEditable))"><i class="fa fa-plus"></i> @Messages("action.add")</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/template" id="template-item">
	<tr style="display:none;" id="item<%= id %>">
		<td><%= title %></td>
		<td><a class="editItemAttrs" href="#" data-pk="<%= id %>" data-url="/@groupname/management/supplies/lists/@item.id/items/<%= id %>/amount"><%= amount %></a> <%= measureType %></td>
		<td><a href="#" data-id="<%= id %>" class="deleteItem btn btn-default btn-xs btn-flat @("disabled".when(!isEditable))"><i class="fa fa-times"></i> @Messages("action.delete")</a></td>
	</tr>
</script>
}

@scripts = {
<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.css")" />
<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.custom.css")" />
<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")" type="text/javascript"></script>
<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/list/list.min.js")"></script>
<script src="@restoran.routes.Assets.at("javascripts/libs/select/select2.min.js")"></script>

<script>
	moment.lang('ru');

  function makeit() {
  	var text = $(".date");
  	$.each(text, function(index, value) {
  		$(value).text(moment($(value).text(), "YYYY/MM/DD").format("D MMMM YYYY"));
  	});

  	text = $(".supplyDate");
  	text.text(moment(text.text(), "YYYY/MM/DD").format("D MMMM YYYY"));

  	$('.supplyDate').editable({
      format: 'DD.MM.YYYY',    
      viewformat: 'DD MMMM YYYY',    
      template: 'D / MMMM / YYYY',    
      combodate: {
        minYear: moment().format("YYYY"),
        maxYear: moment().add("month", 1).format("YYYY"),
        minuteStep: 1
      },
      disabled: @isEditable == false,
      success: function(data) {
      	console.log(data);
      	var text = $(".date");
		  	$.each(text, function(index, value) {
		  		$(value).text(moment(parseInt(data)).format("D MMMM YYYY"));
		  	});
      }
    });
  }

  function map() {
		$(".deleteItem").on('click', function(e) {
			e.preventDefault();
		@if(isEditable) {
			var id = $(this).attr('data-id');
			jsRoutes.restoran.controllers.Supplies.deleteSupplyItem("@groupname",id).ajax({
				success: function(response) {
	      	var tr = $("tr#item" + id);
	      	tr.fadeOut();
	      	tr.remove();
	      }
			});
		}
		});
		
		$(".editItemAttrs").editable({
			disabled: @isEditable == false
		});

		$(".editTitle").editable({
			disabled: @isEditable == false,
			success: function(data) {
				$(".supplyTitle").text(data);
			}
		});
  }

  makeit();
  map();

  var options = {
  	valueNames: ['title']
  },
  itemsList = new List('items', options);

  function formatSelection(meta) {
    var markup = meta.title + " [" + meta.transformMeasureType + "], [" + meta.tags + "]";
    return markup;
  }

	$(".selectItem").select2({
    minimumInputLength: 0,
    allowClear: true,
    ajax: {
      url: function() { return this.attr('data-url'); },
      dataType: 'jsonp',
      quietMillis: 100,
      data: function (term, page) { // page is the one-based page number tracked by Select2
        return {
          q: term, //search term
          page_limit: 10, // page size
          page: page, // page number
        };
      },
      results: function (data, page) {
        return {results: data.results, more: data.more};
      }
    },
    formatNoMatches: function () { return "@Messages("select2.noMatches")"; },
		formatLoadMore: function (pageNumber) { return "@Messages("select2.loadMore")"; },
		formatSearching: function () { return "@Messages("select2.searching")"; },
    formatResult: formatSelection, // omitted for brevity, see the source of this page
    formatSelection: formatSelection, // omitted for brevity, see the source of this page
    dropdownCssClass: "bigdrop" // apply css that makes the dropdown taller
	});

	$(".itemform").on('submit', function (e) {
		e.preventDefault();
	@if(isEditable) {
		var form = $(e.target),
				item = form.find("input#selectItem").val(),
				amount = form.find("input#amount").val();

		jsRoutes.restoran.controllers.Supplies.addSupplyItem("@groupname",@item.id).ajax({
			data: {
				item: item,
				amount: amount
			},
      success: function(response) {
      	var tmp = _.template($('#template-item').html());

      	console.log(tmp(response));

    		$('tbody#itemsBody').append(tmp(response));
    		$('tr#item' + response.id).fadeIn();
    		map();
    		$(form).trigger("reset");
      }
    });
	}
	});
</script>
}