	span.color {
		filter: alpha(opacity=1);
		opacity: 1;
		position: relative;
		float: left;
		width: 10px;
		height: 10px;
		margin: 5px 4px 0 0;
	}

.calendar_folder_actions {
	display: block;
}

.colors {
	list-style: none;
	margin-left:0px;

	li {
		position: relative;
		float: left;
		width: 16px;
		height: 16px;
		margin: 2px 1px 0 0;
		background: #000;
		cursor: pointer;
		filter: alpha(opacity=50);
		opacity: 0.5;
		-webkit-transition: opacity 0.2s;
		-moz-transition: opacity 0.2s;
		-ms-transition: opacity 0.2s;
		-o-transition: opacity 0.2s;
		transition: opacity 0.2s;

		&.active {
			height: 20px;
			margin-top: 0;
			filter: alpha(opacity=75);
			opacity: 0.75;
		}

		&.red {
			background: #ec7063;
		}
		&.green {
			background: #1abc9c;
		}
		&.blue {
			background: #3498db;
		}
		&.aero {
			background: #9cc2cb;
		}
		&.grey {
			background: #95a5a6;
		}
		&.orange {
			background: #f39c12;
		}
		&.yellow {
			background: #f1c40f;
		}
		&.pink {
			background: #af7ac5;
		}
		&.purple {
			background: #8677a7;
		}

		&:hover {
			filter: alpha(opacity=100);
			opacity: 1;
		}
	}
}