@(groupname: String, item: restoran.models.Banket, page: Int, pageSize: Int)

@import templates._

@import restoran.views.html.main
@import restoran.views.html.bankets.banket_template

@scripts = {
 <script src="@restoran.routes.Assets.at("javascripts/libs/select/select2.min.js")"></script>
 <script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")"></script>
 <script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
 <script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/jquery.dataTables.js")"></script>
 <script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/dataTables.bootstrap.js")"></script>

 <script type="text/javascript">
 	moment.lang('ru');

	var incomeDataTable = dataTable('income'),
		  billDataTable = dataTable('bill');
	function dataTable(el) {
		return $("#" + el).DataTable({
			"aaSorting": [[ 4, "desc" ]],
			"bProcessing": true,
			"bServerSide": true,
			"sAjaxSource": "/@groupname/bankets/invoices/search/@item.id/" + el,
			"sDom":"t<'row'<'col-sm-12'p>>",
			"oLanguage": {
	      "oPaginate": {
	        "sNext": "@Messages("page.next")",
	        "sPrevious": "@Messages("page.prev")"
	      }
	    },
	    "columns": [
	      { "class": "small-col" },
	      { "class": "subject" },
	      { "class": "name" },
	      { "class": "time" },
	      { "class": "time" }
	    ],
	    "fnRowCallback": function(nRow, aData, iDisplayIndex) {
	    	map(this, nRow, aData, iDisplayIndex);
	    },
	    "iDisplayLength": @pageSize,
	    "iDisplayStart": @(page*pageSize)
		});
	}

	function map(elem, nRow, aData, iDisplayIndex) {
		var date = $(".date", $(nRow));
		$.each(date, function(index, value) {
  		$(value).text(moment(parseInt($(value).text())).format("D MMMM YYYY"));
  	});
	}

	$(".incomeform").on("submit", function(e) {
 		e.preventDefault();
 		var form = $(e.target),
 				basis = $(".incomeform input#basis").val(),
 				amount = $(".incomeform input#amount").val();

 		$(form).trigger("reset");
 		loadingStarted('#incomes');

 		jsRoutes.restoran.controllers.Orders.addPayment("@groupname", @item.id,'INCOME').ajax({
 			data: {
 				title: basis,
 				amount: amount
 			},
 			success: function(data) {
 				incomeDataTable.row.add([
 					data.id, data.title, data.amount, data.creator, data.dateCreated
 				]).draw();
 				toggleAlert(data.result);
 			},
 			error: function(data) {
 				toggleAlert(data.result);
 			}
 		});

 		loadingFinished('#incomes');
 	});
 	$(".billform").on("submit", function(e) {
 		e.preventDefault();
 		var form = $(e.target),
 				basis = $(".billform input#basis").val(),
 				amount = $(".billform input#amount").val();

 		$(form).trigger("reset");
 		loadingStarted('#bills');

 		jsRoutes.restoran.controllers.Orders.addPayment("@groupname", @item.id,'BILL').ajax({
 			data: {
 				title: basis,
 				amount: amount
 			},
 			success: function(data) {
 				billDataTable.row.add([
 					data.id, data.title, data.amount, data.creator, data.dateCreated
 				]).draw();
 				toggleAlert(data.result);
 			},
 			error: function(data) {
 				toggleAlert(data.result);
 			}
 		});
 		// loadingFinished('#bills');
 	});

 	function formatFacetTitle(meta) {
 		return meta.title;
 	}

 	$("input[name=basis]").select2({
	    minimumInputLength: 0,
	    allowClear: true,
	    ajax: {
	      url: '/@groupname/data/invoices/title/facet',
	      dataType: 'jsonp',
	      quietMillis: 100,
	      data: function (term, page) { // page is the one-based page number tracked by Select2
	        return {
	          q: term, //search term
	          page_limit: 10, // page size
	          page: page, // page number
	        };
	      },
	      results: function (data, page) {
	        return {results: data.results, more: data.more};
	      }
	    },
	    formatNoMatches: function () { return "@Messages("select2.noMatches")"; },
			formatLoadMore: function (pageNumber) { return "@Messages("select2.loadMore")"; },
			formatSearching: function () { return "@Messages("select2.searching")"; },
	    formatResult: formatFacetTitle, // omitted for brevity, see the source of this page
	    formatSelection: formatFacetTitle, // omitted for brevity, see the source of this page
	    dropdownCssClass: "bigdrop" // apply css that makes the dropdown taller
		});
 </script>
}

@styles = {
<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/dataTables/dataTables.bootstrap.css")">
<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.css")" />
<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.custom.css")" />
}

@banket_template(groupname=groupname, scripts=scripts, styles=styles, item=item, nav="payments") {
	<div class="row mailbox">
		<div class="col-xs-12">
			<div class="box box-solid" id="incomes">
				<div class="box-body">
					
					<div class="row">
						<div class="col-md-8">
							
							<div class="box-header">
								<i class="fa fa-money"></i>
								<h3 class="box-title">@Messages("bankets.payments")
								<small>@Messages("payments.balance"): @restoran.controllers.Orders.paymentsBalance(item.id)</small></h3>
							</div>
							<div class="table-responsive">
                <table class="table table-mailbox" id="income">
                  <thead style="border-top:1px solid #ddd;">
										<tr>
											<th>@Messages("invoices.id")</th>
											<th>@Messages("invoices.title")</th>
											<th>@Messages("invoices.amount")</th>
											<th>@Messages("invoices.creator")</th>
											<th></th>
										</tr>
									</thead>
                </table>
							</div>

						</div>
						<div class="col-md-4">
							<div class="box-header">
								<i class="fa fa-plus"></i>
								<h3 class="box-title">@Messages("payments.add")</h3>
							</div>
							<div class="box-body">
								<form class="form incomeform" role="form">
						  		<div class="form-group">
							  		<label class="control-label" for="basis">@Messages("payments.basis")</label>
							    	<input type="hidden" style="width:100%;height:30px;" name="basis" id="basis" placeholder="@Messages("payments.basis.select")">
						  		</div>
						  		<div class="form-group">
						  			<label class="control-label" for="amount">@Messages("payments.amount")</label>
						    		<input type="number" class="form-control input-sm" name="amount" id="amount" placeholder="@Messages("payments.amount.enter")">
						  		</div>
						  		<button type="submit" class="btn btn-success btn-block" style="margin-top:25px"><i class="fa fa-plus"></i> @Messages("action.add")</button>
								</form>	
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="row mailbox">
		<div class="col-xs-12">
			<div class="box box-solid" id="bills">
				<div class="box-body">
					
					<div class="row">
						<div class="col-md-8">
							
							<div class="box-header">
								<i class="fa fa-money"></i>
								<h3 class="box-title">@Messages("bankets.bills")
								<small>@Messages("payments.invoice.bill")</small></h3>
							</div>
							<div class="table-responsive">
                <table class="table table-mailbox" id="bill">
                  <thead style="border-top:1px solid #ddd;">
										<tr>
											<th>@Messages("invoices.id")</th>
											<th>@Messages("invoices.title")</th>
											<th>@Messages("invoices.amount")</th>
											<th>@Messages("invoices.creator")</th>
											<th></th>
										</tr>
									</thead>
                </table>
							</div>

						</div>
						<div class="col-md-4">
							<div class="box-header">
								<i class="fa fa-plus"></i>
								<h3 class="box-title">@Messages("payments.invoice.bill.add")</h3>
							</div>
							<div class="box-body">
								<form class="form billform" role="form">
						  		<div class="form-group">
							  		<label class="control-label" for="basis">@Messages("payments.basis")</label>
							    	<input type="hidden" style="width:100%;height:30px;" name="basis" id="basis" placeholder="@Messages("payments.basis.select")">
						  		</div>
						  		<div class="form-group">
						  			<label class="control-label" for="amount">@Messages("payments.amount")</label>
						    		<input type="number" class="form-control input-sm" name="amount" id="amount" placeholder="@Messages("payments.amount.enter")">
						  		</div>
						  		<button type="submit" class="btn btn-success btn-block" style="margin-top:25px"><i class="fa fa-plus"></i> @Messages("action.add")</button>
								</form>	
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
}
