@(groupname:String, page: Int = 0, pageSize: Int = 10)

@import templates._

@import restoran.views.html.main

@main(groupname=groupname, nav="foods", scripts=scripts, styles=styles) {
	<section class="content-header">
    <h1>@Messages("menu.foods")</h1>
    <ol class="breadcrumb">
        <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
        <li class="active">@Messages("menu.foods")</li>
    </ol>
  </section>
  <section class="content">
    <div class="mailbox row">
      <div class="col-xs-12">
        <div class="box box-solid">
          <div class="box-body">
            <div class="row">
              <div class="col-md-9 col-sm-8">
                <div class="row pad">
	                <div class="col-sm-6 search-form">
                    <div class="input-group">                                                            
	                    <input type="text" class="form-control input-sm" placeholder="@Messages("action.search")" id="filter" autofocus>
                      <div class="input-group-addon bg-blue" style="border-color:#0073b7;">
                        <i class="fa fa-search"></i>
                      </div>
                    </div>
                  </div>
	              </div>
        	      <div class="table-responsive">
                  <table class="table table-mailbox" id="foodsTable">
                    <thead style="border-top:1px solid #ddd;">
											<tr><th>@Messages("foods.title")</th>
											<th>@Messages("foods.foodType")</th>
											<th>@Messages("foods.price")</th>
											<th>@Messages("foods.weight")</th></tr>
										</thead>
                  </table>
                </div>
              </div>
              <div class="col-md-3">
              	<div class="box-header">
              		<i class="fa fa-plus"></i>
              		<h3 class="box-title">@Messages("foods.add")</h3>
              	</div>
								<form class="form foodform" role="form">
						  		<div class="form-group">
								    <label class="control-label" for="title">@Messages("foods.title")</label>
								    <input type="text" id="title" class="form-control input-sm" name="title" placeholder="@Messages("foods.title.enter")" required>
								  </div>
						  		<div class="form-group">
						  			<label class="control-label" for="weight">@Messages("foods.weight")</label>
						    		<input type="number" class="form-control input-sm" step="0.1" name="weight" id="weight" placeholder="@Messages("foods.weight.enter")">
						  		</div>
						  		<div class="form-group">
						  			<label class="control-label" for="price">@Messages("foods.price")</label>
						    		<input type="number" class="form-control input-sm" step="0.1" name="price" id="price" placeholder="@Messages("foods.price.enter")">
						  		</div>
						  		<div class="form-group">
						  			<label class="control-label" for="foodType">@Messages("foods.foodType")</label>
						    		<input type="hidden" style="width:100%;height:30px;" name="foodType" id="foodType" placeholder="@Messages("foods.foodType.enter")">
						  		</div>
						  		
								  <button type="submit" class="btn btn-success btn-block"><i class="fa fa-plus"></i> @Messages("action.add")</button>
								</form>
              </div>
            </div>
          </div>
        </div>
	    </div>
    </div>
	</section>
}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/jquery.dataTables.js")"></script>
  <script src="@restoran.routes.Assets.at("javascripts/libs/dataTables/dataTables.bootstrap.js")"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/select/select2.min.js")"></script>
	<script>

		var dataTable = $("#foodsTable").dataTable({
			"bProcessing": true,
			"bServerSide": true,
			"sAjaxSource": "@restoran.controllers.routes.Foods.search(groupname)",
			"sDom":"t<'row'<'col-sm-12'p>>",
			"oLanguage": {
	      "oPaginate": {
	        "sNext": "@Messages("page.next")",
	        "sPrevious": "@Messages("page.prev")"
	      }
	    },
	    "aaSortingFixed": [[0,'asc']],
	    "iDisplayLength": @pageSize,
	    "iDisplayStart": @(page*pageSize)
		});

		$("#filter").keyup(function() {
			dataTable.fnFilter(this.value);
		});

		$(".foodform").on('submit', function (e) {
			e.preventDefault();

			var form = $(e.target),
					title = form.find("input#title").val(),
					weight = form.find("input#weight").val(),
					price = form.find("input#price").val(),
					foodType = form.find("input#foodType").val();

			jsRoutes.restoran.controllers.Foods.add("@groupname").ajax({
				data: {
					ru: title,
					weight: weight,
					price: price,
					foodType: foodType,
				}
	    });
		});

		function formatFoodType(meta) {
	    return meta.title;
	  }

		$("#foodType").select2({
	    minimumInputLength: 0,
	    allowClear: true,
	    ajax: {
	      url: '/@groupname/data/foodTypes',
	      dataType: 'jsonp',
	      quietMillis: 100,
	      data: function (term, page) { // page is the one-based page number tracked by Select2
	        return {
	          q: term, //search term
	          page_limit: 10, // page size
	          page: page, // page number
	        };
	      },
	      results: function (data, page) {
	        return {results: data.results, more: data.more};
	      }
	    },
	    formatNoMatches: function () { return "@Messages("select2.noMatches")"; },
			formatLoadMore: function (pageNumber) { return "@Messages("select2.loadMore")"; },
			formatSearching: function () { return "@Messages("select2.searching")"; },
	    formatResult: formatFoodType, // omitted for brevity, see the source of this page
	    formatSelection: formatFoodType, // omitted for brevity, see the source of this page
	    dropdownCssClass: "bigdrop" // apply css that makes the dropdown taller
		});
	</script>	
}

@styles = {
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/dataTables/dataTables.bootstrap.css")">
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.css")" />
  <link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.custom.css")" />
}