@(groupname:String, item: restoran.models.Food, ingredients: List[restoran.models.FoodIngredient])

@import templates._
@import restoran.views.html.main

@main(groupname=groupname, nav="foods", scripts=scripts, styles=styles) {

	<section class="content-header no-print">
    <h1>@Messages("menu.foods")<small>@item.title()</small></h1>
    <ol class="breadcrumb">
        <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
        <li><a href="@restoran.controllers.routes.Foods.index(groupname)"><i class="fa fa-cutlery"></i> @Messages("menu.foods")</a></li>
        <li><a href="@restoran.controllers.routes.Foods.view(groupname, item.id)"> @item.title()</a></li>
        <li class="active"><i class="fa fa-leaf"></i> @Messages("menu.ingredient")</li>
    </ol>
  </section>
	
	<section class="content-navbar no-print">
		<div class="nav-pills-custom">
	    <ul class="nav nav-pills">
	      <li><a href="@restoran.controllers.routes.Foods.view(groupname, item.id)">@Messages("menu.main")</a></li>
	      <li class="active"><a href="@restoran.controllers.routes.Foods.viewIngredients(groupname, item.id)">@Messages("menu.ingredient")</a></li>
	    </ul>
	  </div>
	</section>

  <section class="content">
  	<div class="row">
			<div class="col-md-8">
  			<div class="box box-solid">
		  		<div class="box-header">
		  			<i class="fa fa-leaf"></i>
						<h3 class="box-title"><span class="hide-but-print text-small">@item.id. @item.foodType().title() - </span>@item.title()</h3>
					</div>
	    		<div class="box-body">
						<div class="table-responsive">
							<table class="table table-condensed" id="ingredientsTable">
								<thead>
									<tr>
										<th>#</th>
										<th>@Messages("ingredient.title")</th>
										<th>@Messages("ingredient.amount")</th>
										<th class="no-print">@Messages("action.delete")</th>
									</tr>
								</thead>
								<tbody id="ingredients">
								@if(ingredients != null) {
									@ingredients.zipWithIndex.map { case(ingr, i) =>
										<tr id="@ingr.id">
											<td>@(i+1)</td>
											<td>@ingr.ingredient().title()</td>
											<td><span id="amountAttr@ingr.id">
												@if(ingr.measureType == null) {
													@ingr.amount Грамм
												} else {
													@(ingr.amount/ingr.measureType().transformRatio) @ingr.measureType().title()
												}
											</span></td>
											<td class="no-print"><a href="#" data-id="@ingr.id" class="deleteIngredient">@Messages("action.delete")</a></td>
										</tr>
									}
								}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 no-print">
			@if(ingredients != null && ingredients.size() > 0) {
				<div id="itemInfo">@itemInfoForm(ingredients.get(0))</div>
			}
					<div class="panel panel-default">
						<div class="panel-body">
							<form class="form ingredientform" role="form">
					  		<div class="form-group">
							    <label class="control-label" for="title">@Messages("ingredient.title")</label>
							    <input type="hidden" style="width:100%; height:30px;" id="selectIngredient" data-url="/@groupname/data/ingredient" name="ingredient" class="selectIngredient" placeholder="@Messages("ingredient.select")" required>
							  </div>
							  <div class="form-group">
					  			<label class="control-label" for="amount">@Messages("ingredient.measureType")</label>
					  			<select name="measureType" id="measureType" class="form-control" required>
										<div id="measureTypeOptions"></div>
					  			</select>
					  		</div>
					  		<div class="form-group">
					  			<label class="control-label" for="amount">@Messages("ingredient.amount")</label>
					    		<input type="number" class="form-control" step="0.01" name="amount" id="amount" placeholder="@Messages("ingredient.amount.enter")">
					  		</div>
							  <button type="submit" class="btn btn-success btn-block"><i class="fa fa-plus"></i> @Messages("action.add")</button>
							</form>
						</div>
					</div>
					
					<button onclick="window.print();" class="btn btn-block btn-default"><i class="fa fa-print"></i> @Messages("action.print")</button>
			</div>
		</div>
	</div>
	</section>

	<script type="text/template" id="template-ingredient">
		<tr style="display:none;" id="ingr<%= id %>">
			<td><%= idx %></td>
			<td><%= title %></td>
			<td><span id="amountAttr<%= id %>"><%= amount %> <%= measureType %></span></td>
			<td class="no-print"><a href="#" data-id="<%= id %>" class="deleteIngredient">@Messages("action.delete")</a></td>
		</tr>
	</script>
	<script type="text/template" id="template-measure-type-select">
		<% _.each(options, function(option) { %>
			<option <% if(measureType == option.id) {%>selected<%}%> data-ratio="<%= option.transformRatio %>" value="<%= option.id %>"><%= option.title %></option>
		<%});%>	
	</script>
}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/select/select2.min.js")"></script>
	<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
	<script>
	$("#ingredientsTable tr").on("click", function(e) {
		e.preventDefault();
		
		var id = $(this).attr('id'),
				tr = $(this);

		jsRoutes.restoran.controllers.Foods.foodIngredientClick("@groupname", id).ajax({
			method: 'GET',
			success: function(tpl) {
				$('#itemInfo').empty();
				$('#itemInfo').html(tpl);
				$('tr').removeClass('selected');
				tr.addClass('selected');
				mapInfo();
			}
		});
	});
	
	function formatSelection(meta) {
		var markup = meta.title;
		if(meta.measureType !== undefined)
    	markup += " [" + meta.measureType + "],";
   	markup += " [" + meta.tags + "]";

   	var tmp = _.template($('#template-measure-type-select').html());
   	$('select#measureType').empty();
    $('select#measureType').append(tmp(meta));

    return markup;
  }

		function formatResult(meta) {
				var markup = meta.title;
				if(meta.measureType !== undefined)
		    	markup += " [" + meta.measureType + "],";
		   	markup += " [" + meta.tags + "]";

	      return markup;
		  }

		$(".selectIngredient").select2({
	    minimumInputLength: 0,
	    allowClear: true,
	    ajax: {
	      url: function() { return this.attr('data-url'); },
	      dataType: 'jsonp',
	      quietMillis: 100,
	      data: function (term, page) { // page is the one-based page number tracked by Select2
	        return {
	          q: term, //search term
	          page_limit: 10, // page size
	          page: page, // page number
	        };
	      },
	      results: function (data, page) {
	        return {results: data.results, more: data.more};
	      }
	    },
	    formatNoMatches: function () { return "@Messages("select2.noMatches")"; },
			formatLoadMore: function (pageNumber) { return "@Messages("select2.loadMore")"; },
			formatSearching: function () { return "@Messages("select2.searching")"; },
	    formatResult: formatResult, // omitted for brevity, see the source of this page
	    formatSelection: formatSelection, // omitted for brevity, see the source of this page
	    dropdownCssClass: "bigdrop" // apply css that makes the dropdown taller
		});

		function map() {
			$(".deleteIngredient").on('click', function(e) {
				e.preventDefault();
				var id = $(this).attr('data-id');
				jsRoutes.restoran.controllers.Foods.deleteIngredient("@groupname", id).ajax({
					success: function(response) {
		      	var tr = $("tr#ingr" + id);
		      	tr.remove();
		      	toggleAlert('success');
		      },
		      error: function() {
		      	toggleAlert('error');
		      }
				});
			});
		}
		map();
		
		$(".ingredientform").on('submit', function (e) {
			e.preventDefault();

			var form = $(e.target);

			jsRoutes.restoran.controllers.Foods.addIngredient("@groupname", @item.id).ajax({
				data: form.serializeArray(),
	      success: function(response) {
	      	var tmp = _.template($('#template-ingredient').html());
	    		$('tbody#ingredients').append(tmp(response));
	    		$('tr#ingr' + response.id).fadeIn();
	    		map();
	    		mapInfo();
	    		$(form).trigger("reset");
	      	toggleAlert('success');
		    },
	      error: function() {
	      	toggleAlert('error');
	      }
	    });
		});

		function mapInfo() {
  	$('#addMeasureType').on('click', function(e) {
  		e.preventDefault();
  		$('#finalAmountForm').addClass('hidden');
  		$('#newMeasureType').removeClass('hidden');
  	});

  	$('#cancelNewMeasureType').on('click', function(e) {
  		e.preventDefault();
  		$('#finalAmountForm').removeClass('hidden');
  		$('#newMeasureType').addClass('hidden');
  	});

  	$('#newMeasureType').on('submit', function(e) {
  		e.preventDefault();
  		var form = $(e.target);
  		jsRoutes.restoran.controllers.Items.addMeasureType("@groupname").ajax({
				data: form.serializeArray(),
				success: function() {
					$(form).trigger("reset");
					toggleAlert('success');
		    },
		    error: function() {
	      	toggleAlert('error');
	      }
	    });
  	});

  	$('#finalAmountForm').on('submit', function(e) {
  		e.preventDefault();
  		var form = $(e.target);
  		jsRoutes.restoran.controllers.Foods.editIngredient("@groupname", @item.id).ajax({
  			method: 'POST',
				data: form.serializeArray(),
				success: function(data) {
					$(form).trigger("reset");
					$('#itemInfo').empty();
  				$('#itemInfo').html(data.tpl);
  				$('#amountAttr' + data.id).text(data.amount + " " + data.measureType);
  				mapInfo();
  				map();
					toggleAlert('success');
				},
				error: function() {
					toggleAlert('error');
				}
	    });
  	});

  	$("#addResult").on('click', function(e) {
  		e.preventDefault();
  		$("#finalResult").hide();
  		$('#finalAmountForm').removeClass('hidden');
  	});

  	var oldratio = $('select#resultMeasureType option:selected').attr('data-ratio');

  	$('select#resultMeasureType').change(function() {
  		var dratio = $('select#resultMeasureType option:selected').attr('data-ratio'),
  				sum = $(this).val(),
  				amount = $('input#amount').val();

  		amount = amount*oldratio/dratio;
  		$('input#amount').val(amount);
  		oldratio = dratio;
  	});

  	$('input#sum').keyup(function() {
  		var dratio = $('select#resultMeasureType option:selected').attr('data-ratio'),
  				sum = $(this).val(),
  				amount = $('input#amount').val();
  		$('input#price').val(parseInt(sum/amount));
  	});

  	$('input#amount').keyup(function() {
  		var dratio = $('select#resultMeasureType option:selected').attr('data-ratio'),
  				amount = $(this).val(),
  				sum = $('input#sum').val();
  		$('input#price').val(parseInt(sum/amount));
  	});

  	$('input#price').keyup(function() {
  		var price = $(this).val(),
  				amount = $('input#amount').val();
  		$('input#sum').val(price*amount);
  	});
  }

  mapInfo();
	</script>	
}

@styles = {
	<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.css")" />
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.custom.css")" />
}