@(ingredient: restoran.models.FoodIngredient)

@import restoran.controllers.Items

<div class="box box-solid">
	<div class="box-body">
		<h4 class="page-header">@ingredient.ingredient().title()</h4>
		<form id="finalAmountForm">
			<table>
				<tr><th>@Messages("ingredient.measureType")</th>
					<td>
						<select name="measureType" id="resultMeasureType">
						@Items.measureTypes().map { measureType =>
							<option @("selected".when(measureType.id == ingredient.measureType)) data-ratio="@measureType.transformRatio" value="@measureType.id">@measureType.title()</option>	
						}
						@Items.measureTypes(ingredient.ingredient).map { measureType =>
							<option @("selected".when(measureType.id == ingredient.measureType)) data-ratio="@measureType.transformRatio" value="@measureType.id">@measureType.title()</option>	
						}
						</select>
						<a href="#" id="addMeasureType"><i class="fa fa-plus"></i> @Messages("items.measureType.add")</a>
					</td>
				</tr>
				<tr><th>@Messages("ingredient.amount")</th>
					<td><input type="number" step="0.01" name="amount" min="0.01" required id="amount" value="@if(ingredient.measureType == null) {@ingredient.amount} else {@(ingredient.amount/ingredient.measureType().transformRatio)}"><input type="hidden" name="item" value="@ingredient.id"></td>
				</tr>
				<tr>
					<th><input type="submit" class="btn btn-primary btn-xs" value="@Messages("action.save")"></th>
					<td></td>
				</tr>
			</table>
		</form>
		<form id="newMeasureType" class="hidden">
			<table>
				<tr><th>@Messages("items.measureType.add")</th>
					<td></td>
				</tr>
				<tr><th>@Messages("items.measureType.title")</th>
					<td><input type="text" name="title"></td>
				</tr>
				<tr><th>@Messages("items.measureType.netto")</th>
					<td><input type="number" step="0.01" name="netto"><input type="hidden" name="pk" value="@ingredient.ingredient"></td>
				</tr>
				<tr>
					<th><input type="submit" class="btn btn-primary btn-xs" value="@Messages("action.save")"> <a href="#" id="cancelNewMeasureType" class="btn btn-default btn-xs">@Messages("action.cancel")</a></th>
					<td></td>
				</tr>
			</table>
		</form>	
	</div>
</div>