@(groupname: String, item: restoran.models.Food, acts: List[core.models.activity.Activity])

@import templates._
@import restoran.views.html.main
@import restoran.views.html.activity.timeline

@main(groupname=groupname, nav="foods", scripts=scripts, styles=styles) {
	
	<section class="content-header">
    <h1>@Messages("menu.foods")<small>@item.title()</small></h1>
    <ol class="breadcrumb">
        <li><a href="@restoran.controllers.routes.Application.index(groupname)"><i class="fa fa-dashboard"></i> @Messages("project.title")</a></li>
        <li><a href="@restoran.controllers.routes.Foods.index(groupname)"><i class="fa fa-cutlery"></i> @Messages("menu.foods")</a></li>
        <li class="active">@item.title()</li>
    </ol>
  </section>

	<section class="content-navbar">
		<div class="nav-pills-custom">
	    <ul class="nav nav-pills">
	      <li class="active"><a href="@restoran.controllers.routes.Foods.view(groupname, item.id)">@Messages("menu.main")</a></li>
	      <li><a href="@restoran.controllers.routes.Foods.viewIngredients(groupname, item.id)">@Messages("menu.ingredient")</a></li>
	    </ul>
	  </div>
	</section>

  <section class="content">
  <div class="row">
  	<div class="col-md-8">
  		@timeline(acts)
  	</div>
		<div class="col-md-4">
	  	<div class="box box-solid">
	    	<div class="box-body">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th># @item.id</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>@Messages("foods.title")</td>
								<td><a class="editFoodAttrs" href="#" data-pk="@item.id" data-type="text" data-url="@restoran.controllers.routes.Foods.editTitle(groupname,item.id)">@item.title()</a></td>
							</tr>
							<tr>
								<td>@Messages("foods.cost")</td>
								<td>@item.cost</td>
							</tr>
							<tr>
								<td>@Messages("foods.price")</td>
								<td><a class="editFoodAttrs" href="#" data-pk="@item.id" data-type="number" data-url="@restoran.controllers.routes.Foods.editPrice(groupname,item.id)">@item.price</a></td>
							</tr>
							<tr>
								<td>@Messages("foods.weight")</td>
								<td><a class="editFoodAttrs" href="#" data-pk="@item.id" data-type="number" data-url="@restoran.controllers.routes.Foods.editWeight(groupname,item.id)">@item.weight</a></td>
							</tr>
							<tr>
								<td>@Messages("foods.foodType")</td>
								<td><a href="#" id="editType" data-type="select" data-pk="@item.id" data-value="@item.foodType" data-url="@restoran.controllers.routes.Foods.editType(groupname, item.id)" data-title="@Messages("foods.foodType")">@item.foodType().title()</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box-footer">
					@if(item.isDisabled){
						<a href="@restoran.controllers.routes.Foods.updateDisabled(groupname, item.id)" class="btn btn-success btn-small"><i class="fa fa-reply"></i> @Messages("action.enable")</a>
					} else {
						<a href="@restoran.controllers.routes.Foods.updateDisabled(groupname, item.id)" class="btn btn-danger btn-small"><i class="fa fa-trash-o"></i> @Messages("action.delete")</a>
					}
				</div>
			</div>
		</div>
	</div>
	</section>
}

@scripts = {
	<script src="@restoran.routes.Assets.at("javascripts/libs/moment/moment.js")"></script>
	<script src="@restoran.routes.Assets.at("javascripts/libs/select/select2.min.js")"></script>
	<script src="@core.routes.Assets.at("javascripts/bootstrap-editable.min.js")"></script>
	<script>
		moment.lang('ru');
		$(".editFoodAttrs").editable();
		$.each($(".labelDate"), function(index, value) {
	  	var m = moment(parseInt($(value).html())).format("DD MMM YYYY");
	  	$(value).html(m);
	  	$(value).css("text-transform", "capitalize");
	  });
	  $.each($("span.activitDate"), function(index, value) {
	  	var m = moment(parseInt($(value).html())).calendar();
	  	$(value).html(m);
	  });
	  $('#editType').editable({
      source: [
      	@restoran.controllers.Foods.foodTypes(groupname).map { foodType =>
      		{value: '@foodType.id', text: '@foodType.title()'},
      	}
      ]
    });
	</script>	
}

@styles = {
	<link href="@core.routes.Assets.at("stylesheets/bootstrap-editable.css")" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.css")" />
	<link rel="stylesheet" media="screen" href="@restoran.routes.Assets.at("stylesheets/libs/select/select2.custom.css")" />
}